@import 'params.scss';

@mixin container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 10px;
}


@mixin clear {
  padding: 0;
  margin: 0;
  
  list-style: none;
}

@mixin clear-list {
  @include clear;
  list-style: none;
}


@mixin frommedium-screen() {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin xlarge-screen() {
  @media only screen and (max-width: 1700px) {
    @content;
  }
}
@mixin large-screen() {
  @media only screen and (max-width: 1450px) {
    @content;
  }
}

@mixin medium-screen() {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}


@mixin small-screen() {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin extrasmall-screen() {
  @media only screen and (max-width: 480px) {
    @content;
  }
}




