@include frommedium-screen {
  a:hover,
  button:hover,
  a.active,
  button.active {
    .onHover {
      display: block !important;
      transition: all 0.3 ease;
    }

    .offHover {
      display: none !important;
    }
  }

  .mainmenubtn  {
    &:hover {
      background: $main;
      opacity: 1;
      span {
        color: #fff !important;
  
      }
  
      .menuexpand {
        transform: rotate(180deg);
      }
  
    }
  }
}
