@include large-screen {
/*   .productpage__right {
    width: calc(100% - 500px);
  } */
/*   .detailslider__wrapper {
    width: 500px;
  } */
  .headermain__logo {
    max-width: 115px;
  }

  .errorpage__code {
    font-size: 100px;
  }

  /*  .cataloglist__item {
    width: 33.3333%;
  } */

  .headermenu {
    width: 100%;
  }

  .container {
    padding: 0 10px;
  }

  .footer__catalog ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .footer__col {
    padding: 0 5px;
  }

  .footer__items {
    margin: 0 -5px;
    width: 100%;
  }

  .headermain__descr {
    display: none;
  }

  .mainmenubtn {
    width: 165px;

    span {
      font-size: 14px;
    }
  }

  .contacts__text {
    font-size: 13px;
  }

  .headermain__left {
    padding-right: 15px;
  }

  .blockslider-button-next,
  .blockslider-button-prev {
    z-index: 999;
  }

  .footer__menu ul li a {
    font-size: 14px;
    font-weight: 600;
  }

  .footer__copy {
    width: initial;
    max-width: 320px;
  }

  .searchinput {
  }

  .mainswiperpreview {
    display: none;
  }

  .headermenu__items {
    margin: 15px 0;
  }

  .imgslider__container.slider-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .footer__bottom {
    padding-left: 0;
    padding-right: 0;
  }

  .footer__title {
    font-size: 22px;
    line-height: 1.2;
  }

  .footer__contacts .contacts__phone a {
    font-size: 22px;
  }

  /*   .customblock__right_contacts {
    max-width: initial;
    order: 2 !important;
    margin: 0 -18px;
    width: calc(100% + 36px);
    margin-bottom: 0 !important;
  } */

  .cols__col_w3 {
    max-width: 320px;
    min-width: 320px;
  }

  .cols__col_w9 {
    max-width: calc(100% - 320px);
    min-width: calc(100% - 320px);
  }

  .blockabout__main {
    width: 520px;
  }

  .fitchescard__title {
    font-size: 14px;
  }
}
@include large-screen {
  .projectblock__content {
    max-width: 320px;
  }
  .projectblock__main {
    background-position: bottom left;
    background-size: 74%;
  }
  .projectblock__title {
    font-size: 26px;
  }
  .projectblock__wrapper {
    padding: 0 18px;
  }
  .projectblock__list li a {
    padding: 10px 5px;
    font-size: 14px;
  }
  .footer__col_right {
    max-width: 200px;
  }
  .footer__col ul li {
    margin-bottom: 28px;
  }
  .contactline__messenger {
    margin-right: 22px;
  }
  .topmenu__items ul li a {
    font-size: 14px;
  }
  .phonelink {
    font-size: 16px;
  }
  .mainmenu__column {
    padding: 18px 18px;
  }
  #footer .menucontancts .phonelink {
    font-size: 18px;
  }

  .mainmenu__column {
    &:nth-child(1) {
      border-right: 1px solid #f7f7f7;
      min-width: 415px;
    }

    &:nth-child(2) {
      min-width: 302px;
      padding-right: 20px;
    }

    &:nth-child(3) {
      min-width: 372px;
    }
  }

  .producttabs .cataloglist__item {
    min-width: calc(50% - 19px);
  }

  .categoryblock__title {
    font-size: 14px;
  }
  .categoryblock__image img {
    height: 312px;
  }
  .pagebanner__wrapper {
    height: 241px;
    padding: 0 25px;
  }
  .pagebanner__text {
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
  }
  .pagebanner__left {
    max-width: 222px;
  }
  .onecardblock {
  }
  
  .contactitem__title {
    font-size: 18px;
  } 
  .contactitem__info {
    width: 102px;
    height: 55px;
  }
  .contactitem__small {
    margin-top: 4px;
  }
  .contactitem {
    height: 100%;
    padding: 16px;
  }
  .onecardblock__wrapper {
    flex-wrap: wrap;
  }
  .onecardblock__image {
    padding-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .onecardblock__content {
    max-width: 100%;
  }
  .onecardblock__header {
    margin-bottom: 20px
  }
  .mainslider__wrapper {
    margin: 0 10px;
  }
  .detailslider__wrapper {
    max-width: 550px;
  }
  .detailslider .detailswiperpreview,
  .detailslider .detailswiper{
    height: 450px;
  }
  .detail__banner .pagebanner__text {
    font-size: 16px;
  }
  .detail__banner .pagebanner__wrapper {
    padding: 0 15px;
  }
  .detailinfo__text {
    margin-bottom: 20px;
  }
  .modalcatalog__aside {
    max-width: 332px;
    padding: 40px 30px;
  }
  .modalcatalog__tabs a {
    margin-left: -30px;
    margin-right: -30px;
    font-size: 18px;
  }
  .modalcatalog__items {
    padding-right: 20px;
  }
  .modalcatalog__main {
    padding-left: 20px;
  }
  .modalcatalog__item img {
    height: 300px;
  }
  .pagedelivery__tabsleft {
    padding-right: 20px;
  }
  .pagedelivery__tabsbutton {
    padding: 12px 18px;
  }
  .pagedelivery__tabstitle {
    font-weight: 700;
font-size: 16px;
  }
  .pagedelivery__tabsheader {
    margin-bottom: 15px;
  }
  .pagedelivery__tabsitemtotle {
    font-size: 14px;
  }
  .pagedelivery__tabsitemtext {
    font-size: 12px;
  }
  .pagedelivery__tabscontactlink a {
    font-size: 14px;
  }
  .pagedelivery__steptext {
    font-size: 14px;
  }
  .cataloglist_projects { 
    .projectblock__image {
      margin-right: 17px;
      min-width: 180px;
    }
    .projectdata__buyblock .btn_ring {
      transform: scale(0.8);
    }
    .projectdata__price {
      font-size: 26px;
      margin-bottom: 13px;

    }
   .projectdata__title {
      margin-bottom: 25px;
      height: 58px;
      font-size: 20px;
  
    }
    .projectcard {
      padding: 20px 11px;
    }
    .projectdata__price {
      white-space: nowrap;
    }
  
    .btn_border {
      max-width: 120px;
      font-size: 14px
    }
  }

  .pagefilial__tour {
    max-width: 500px;
  }
  .aboutitem {
    padding: 30px 12px;
  }
}
