@include medium-screen {
  .onlyMobile {
    display: initial;
  }

  .onlyDesktop {
    display: none !important;
  }

  .quantity {
    padding: 0 10px 0 0;
  }
  input.quantity-field {
    max-width: 45px;
    font-size: 14px;
  }

  .pageheader__type3 h2 {
    font-size: 18px;
    line-height: 100%;
    /* 18px */
    padding-bottom: 0;
  }

  .pageheader__type3 h2:after {
    display: none;
  }

  .container {
    padding: 0 18px;
    /* max-width: 620px; */
  }

  .showmorelink_short {
    width: 100%;
    max-width: 100%;
  }

  .tablinks__item a {
    padding: 12px 27px;
    font-size: 16px;
  }

  .catalogpage__wrapper {
    flex-wrap: wrap;
  }

  .minicard__button {
    margin-right: 15px;
  }

  .mobilemenu.active {
    display: block;
  }

  a.productcard__images.productcard__images_mobile.onlyMobile {
    display: block;
  }

  .headermenu {
    position: relative;
  }

  .headermenu__wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .headermenu__link {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .headertop__right {
    display: none;
  }

  .headermain__left {
    width: 100%;
  }

  .footer__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .headertop {
    display: none;
  }

  .mobilepanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0 12px 0;
    background: #fff;

    .mobilepanel__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .container {
      padding: 0 18px;
    }

    .logo {
      width: 218px;
      margin-right: 12px;
    }
  }

  .pagemenu {
    display: none;
  }

  .menubutton {
    background: none;
    border: none;
    padding: 0;
  }

  .searchinput {
    height: 38px;
  }

  .headermain__search {
    margin-left: 6px;
    max-width: 100%;
    margin-right: 0;
  }

  .headermain__left {
    padding-right: 0;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(43, 54, 70, 0.4);
    font-size: 14px;
    line-height: 14px;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(43, 54, 70, 0.4);
    font-size: 14px;
    line-height: 14px;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(43, 54, 70, 0.4);
    font-size: 14px;
    line-height: 14px;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(43, 54, 70, 0.4);
    font-size: 14px;
    line-height: 14px;
  }

  .searchinput input {
    font-size: 14px;
    line-height: 14px;
    padding-left: 42px;
  }

  .searchinput button {
    width: 18px;
    height: 18px;

    img {
      width: 18px;
    }
  }

  .headermenu__items {
    margin: 10px 0;
  }

  .headermenu__link {
    font-size: 12px;
    line-height: 14px;
    padding: 5px 4px;
  }

  .headermenu__icon {
    margin-right: 5px;
    width: 15px;
  }

  .headermain {
    margin: 0;
  }

  .pageblock {
    margin: 24px 0;
  }

  h2 {
    margin: 0 0 18px 0;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }

  .mainmenubtn {
    width: 126px;
    height: 38px;
    background: $main;
  }
  a.mainmenubtn.onlyMobile {
    width: 100%;
    height: 42px;
    line-height: 42px;
  }
  .mainmenubtn span {
    padding-left: 0;
  }
  .mainmenubtn span span {
    padding-left: 7px;
    padding-right: 7px;
    color: #fff;
  }

  .sliderarrows__right,
  .sliderarrows__left {
    width: 20px;
  }

  .sliderarrows__right {
    margin-left: 8px;
  }

  .blockheader__left {
    display: block;
  }

  .blockheader a {
    margin-left: 0;
    font-size: 12px;
    line-height: 14px;
  }

  .catalognav__showmore {
    margin-bottom: 21px;
  }

  .catalognav__pagination {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .paginationblock {
    padding: 0;
    margin-bottom: 15px;
  }

  .showmorelink span {
    font-size: 14px;
  }

  .showmorelink {
    padding: 13px 0;
  }

  .footer__main {
    padding: 24px 0 6px 0;
  }

  .footer__col_contacts {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .container {
    padding: 0 18px;
  }

  .footer__informblock {
    width: 100%;
  }

  a.callback.btn_border {
    width: 100%;
    height: 42px;
    padding: 0;
    line-height: 38px;
    max-width: 320px;
  }

  .footer__title {
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 19px;
  }

  .footer__menu ul li {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      padding: 0;
      font-size: 12px;
      line-height: 100%;
    }
  }

  .footer__col {
    margin-bottom: 36px;
  }

  .footer__col.footer__col_contacts {
    margin-bottom: 0;
  }

  .footer__payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__caption {
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 12px;
    line-height: 14px;
  }

  .footer__link {
    margin-bottom: 14px;

    a {
      font-size: 12px;
      line-height: 100%;
    }
  }

  .footer__bottom {
    .footer__col {
      margin-bottom: 0;
    }
  }
  .footer__link:last-child {
    margin-bottom: 0;
  }

  .footer__maincopy {
    margin-top: 0;
    white-space: nowrap;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 4px;
  }
  .footer__link a {
    white-space: nowrap;
  }
  .fdev__icon {
    width: 72px;
    display: block;
  }

  .footer__textcopy,
  small {
    font-size: 10px;
    line-height: 100%;
  }

  .fdev__title {
    font-size: 10px;
  }

  .buttonsrow {
    margin: 0 -3px;
  }

  .buttonsrow__item {
    padding: 0 3px;
  }

  .btn_main {
    max-width: 100%;
  }

  .catalogpage__aside.active {
    display: block;
  }

  .catalogpage__main {
    padding: 0;
    width: 100%;
  }

  .searchinput input {
    height: inherit;
  }

  .breadcrumbs {
    margin-bottom: 6px;
  }

  header#header {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .btn_icon {
    width: 36px;
    height: 36px;
    padding: 0;
  }

  .catalogheader__title h1 {
    font-size: 22px;
    line-height: 26px;
  }

  .catalogheader {
    margin-bottom: 25px;
  }

  .catalognav {
    margin: 40px 0 25px 0;
  }

  .catalogheader_large {
    margin-bottom: 28px;

    .dropdown-select.dropdown-select--type1 {
      width: 100%;
      max-width: 320px;
    }
  }

  .itemslists {
    margin-bottom: 32px;
  }

  .catalogheader__title h1 {
    margin-top: 19px;
  }

  .dropdownpanel {
    width: 100%;
  }

  .catalogbanner {
    margin-bottom: 17px;
  }

  .pagination ul {
    margin: 0 13px;
  }
  .pagination ul li a {
    font-size: 14px;
  }
  .pagination ul li a,
  .pagination ul li > span {
    width: 40px;
    height: 40px;
    line-height: 38px;
    min-width: 40px;
  }
  .pagination ul li {
    margin: 0 2px;
  }
  .pagination > a {
    width: 19px;
    height: 19px;
  }

  .paginationblock {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

  .dropdown-select--border {
    padding: 5px 10px;
  }

  .dropdown-caption {
    font-size: 14px;
  }

  .dropdown-value {
    font-size: 14px;
  }

  .dropdown-menu-wrapper {
    right: unset;
    left: 0;
  }

  .dropdown-select__title {
    width: 100%;
  }

  .showcountblock {
    margin: auto;
  }

  .productcard__stickers {
    left: 5px;
    top: 5px;
  }

  .productsticker {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    height: 16px;
  }

  .productsticker_green .productsticker__icon {
    height: 13px;
    line-height: 13px;
  }
  .productpage__main.flex.content-between {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .productpage__right {
    padding: 0;
    width: 100%;
  }

  .detailslider__wrapper {
    width: 100%;
    display: block;
  }

  .productpage__left {
    width: 100%;
  }

  .breadcrumbs__items ul span {
    font-size: 10px;
    line-height: 12px;

    &:after {
      font-size: 10px;
      line-height: 12px;
      top: 0;
    }
  }

  .detailinfo__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .detailinfo__h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 7px;
  }
  .productpage__images {
    position: relative;
  }

  .detailinfo__count a {
    font-size: 12px;
    line-height: 14px;
  }
  .swiper-horizontal .swiper-slide.swiper-slide-next {
    opacity: 1;
  }
  /*  .detailslider .detailswiper {
    border-radius: 0;
    margin: 0 -18px;
    width: calc(100% + 36px);
  } */
  .detailswiper .zoom-box {
    /*  padding: 0 30px; */
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .detailslider-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    text-align: center;
  }

  .detailbuy__options {
    width: 100%;
  }

  .imgcheckbox {
    width: 50%;
  }

  .imgcheckbox__content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .detailinfo__reviews i.fa.fa-star {
    font-size: 13px;
  }

  .cardrating_large .score-wrap {
    width: 75px;
  }

  .productpage__left {
    position: relative;

    .productcard__stickers {
      left: 0px;
    }
  }

  .detailinfo__header {
    margin-bottom: 11px;
  }

  .detailslider {
    margin-bottom: 26px;
  }

  .productcard__cart {
    .tocart {
      width: 100%;
    }
  }

  .sitetabs__content {
    margin-bottom: 26px;
  }

  .detailbuy .productcard__buy {
    width: 100%;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .productpage__title h2 {
    font-size: 22px;
    padding-bottom: 22px;
  }
  .productpage__main {
    margin-bottom: 32px;
  }

  .quantity {
    margin-right: 0;
  }
  .productpage__block {
    margin-bottom: 30px;
  }
  .pruductfacts__row {
    flex-wrap: wrap;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .pruductfacts__title,
  .pruductfacts__value {
    width: 100%;
    line-height: 20px;
  }
  .productpage__description p {
    font-size: 14px;
  }
  .productpage__content {
    margin-bottom: 30px;
  }
  .norating .reviewsblock__wrapper {
    height: unset;
    padding: 30px 20px;
  }
  .reviewsblock__title {
    font-size: 18px;
    margin-bottom: 14px;
    background-image: url(../img/wave_small.svg);
  }
  .reviewsblock__text {
    font-size: 14px;
    margin-bottom: 23px;
  }

  .description__cols {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
  }

  .description__col {
    padding: 0;
    width: 100%;
  }

  .detailbuy__buyblock .productcard__pricevalue {
    font-size: 26px;
    line-height: 30px;
  }

  .detailbuy__buyblock .productcard__priceunit {
    font-size: 18px;
  }

  .detailbuy__buyblock .productcard__badge {
    width: 36px;
    height: 17px;
  }

  .productcard__pricecaption {
    font-size: 12px;
    line-height: 14px;
  }

  .productcard__cart {
    width: calc(100% - 126px);
    margin-left: 7px;
  }

  .detailtable__body .detailtable__col,
  .detailtable__col {
    font-size: 14px;
    line-height: 140%;
  }

  .infomessage__wrapper {
    padding: 8px 18px;
  }

  .infomessage__text {
    font-size: 12px;
    line-height: 100%;
  }

  .infomessage__icon {
    margin-right: 14px;
  }

  .infoicons .badge__text {
    font-size: 12px;
    line-height: 130%;
  }

  .infoicons__item {
    margin-bottom: 5px;
  }

  .detailinfo__buyblock {
    margin-bottom: 13px;
  }

  .infomessage {
    margin: 13px 0;
  }

  .detailtable {
    margin-bottom: 21px;
  }

  .infoicons .badge img {
    width: 20px;
  }

  .sitetabs__header li {
    height: 36px;
  }

  .sitetabs__header li span.sitetabs__title {
    margin-right: -20px;
    font-size: 16px;
    line-height: 19px;
  }

  .sitetabs__header li {
    padding-left: 24px;
    padding-right: 24px;
  }

  .infoicons {
    margin: 23px 0;
  }

  .sitetabs__header {
    margin-bottom: 26px;
  }

  .description p {
    font-size: 14px;
    line-height: 140%;
  }

  .description h3 {
    margin-top: 0;
    font-size: 18px;
    line-height: 21px;
  }

  .modal-dialog_product {
    .modal-content {
      padding: 14px 18px;
    }
  }

  .modalproduct__main {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .modalproduct {
    padding-top: 16px;
  }

  .minicard__main {
    padding-left: 20px;
    margin-left: 0;
    width: calc(100% - 72px);
  }

  .minicard__image {
    width: 72px;
  }

  .modalproduct__product {
    width: 100%;
  }

  .minicard__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .productslider__modalslider .productcard {
    max-width: initial;
  }

  .productslider__modalslider .productcard__img {
    width: 62px;
    margin-right: 23px;
    padding: 0;
    height: initial;
  }

  .modalproduct .productcard__title {
    margin-bottom: 9px;
  }

  .modalproduct__buttons {
    max-width: 100%;
    width: 100%;
    margin: 25px 0 0 0;
  }

  .modalproduct__main {
    margin-bottom: 30px;
    padding-bottom: 0;
    border: none;
  }

  .miniproductslider h2 {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0;
  }
  .minicard__params {
    display: block;
  }
  .minicard__params .minicard__param {
    text-align: left;
    margin-bottom: 9px;
  }
  .modalproduct .blockheader {
    margin-bottom: 11px;
  }
  .minicard__right {
    width: 100%;
  }
  .modal {
    .productslider {
      margin: 30px 0 10px 0;
    }
  }
  .modalproduct__buttons a {
    height: 46px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .minicard__left {
    width: 100%;
  }
  .modal {
    .blockheader__left h2 {
      text-align: left;
    }
    .productslider .sliderarrows {
      display: flex;
      gap: 10px;
    }
  }
  .minicard__main {
    width: 100%;
    padding-left: 0;
    margin-top: 0;
  }
  .minicard__section {
    display: flex;
    align-items: center;
    gap: 21px;
    margin-bottom: 26px;
  }
  .minicard__left {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .minicard__count {
    .buyblock__quantity {
      width: 50%;
    }

    .minicard__amount {
      width: 50%;
      text-align: center;
    }

    input.quantity-field {
      height: 30px;
    }

    .imgcheckbox__content {
      height: 36px;
    }
  }

  .minicard__info {
    /*  width: calc(100% - 72px);
    padding-left: 20px; */
  }

  .minicard__right {
    -moz-text-align-last: left;
    text-align-last: left;
  }

  .minicard__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #231f20;
    margin-bottom: 9px;
  }

  .miniproduct__img img {
    width: 80px;
    height: 53px;
  }
  .miniproduct__price,
  .miniproduct__price small {
    font-size: 16px;
  }

  .miniproduct__main {
    gap: 21px;
  }

  .cartblock {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .miniproduct__name a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #231f20;
    margin-bottom: 8px;
  }

  .cartblock__main {
    width: 100%;
  }

  .cartblock__aside {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .pageheader {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin: 0 0 27px 0;

    h1 {
      width: 100%;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }
  }

  .linkicon span {
    font-size: 12px;
    line-height: 100%;
  }

  .linkicon img,
  .linkicon svg {
    max-width: 16px;
    margin-right: 5px;
  }

  .minicard__back {
    img {
      display: block;
    }

    span {
      display: none;
    }
  }

  .minicard__back {
    padding: 9px;
  }

  .listicon ul li:last-child {
    margin-bottom: 0;
  }

  .listicon ul li {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 100%;
  }

  .icontitle {
    margin-bottom: 10px;
  }

  .infobadge__title {
    font-size: 12px;
    line-height: 100%;
  }

  .haederbanner {
    display: none;
  }

  .itemslist__item_col3 {
    width: 50%;
    margin-bottom: 36px;
  }

  .breadcrumbs {
    margin-bottom: 19px;
  }

  .pagecontent__images {
    margin-bottom: 18px;
  }

  .pagetext {
    margin-top: 0;
  }
  .contentpage__cols + .fitchesblock {
    margin-bottom: 20px;
  }

  .pagetext p {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .itemslist__item_col3 .itemslistcard__image,
  .itemslistcard__image {
    margin-bottom: 13px;
  }

  .modal_small .modal-content {
    padding-left: 16px;
    padding-right: 16px;
  }

  .modal-submit {
    margin-top: 23px;
  }

  iframe {
    max-height: 100%;
  }

  .modal_small .modal-title {
    font-size: 22px;
    line-height: 100%;
  }
  .formblock__input {
    margin-bottom: 18px;
  }
  .formblock__check {
    margin-top: 23px;
  }
  .modal-subtitle {
    font-size: 12px;
    margin-bottom: 13px;
    padding-right: 12px;
  }

  .formblock .check label {
    font-size: 12px;
    line-height: 110%;
  }
  /*  .buttonsrow__item {
    margin-bottom: 23px;
  } */

  .formblock__main {
    margin-bottom: 20px;
  }

  .formblock__check {
    margin-bottom: 20px;
  }

  .modal_small .modal-content {
    padding: 28px 18px;
    max-width: calc(100% - 36px);
  }

  .modal-submit_small .buttonsrow__item_full .btn_main {
    height: 50px;
    line-height: 50px;
  }

  .modal__header {
    margin-bottom: 16px;
  }

  .textinput {
    margin-top: 12px;
    font-size: 12px;
    line-height: 100%;
  }

  .modalinfo__image {
    width: 50px;
    margin-bottom: 13px;
  }

  .modalinfo__title {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 13px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .modalinfo__text {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 100%;
  }

  .formblock__main_cols {
    margin: 0;

    .formblock__input {
      width: 100%;
      padding: 0;
      margin-bottom: 11px;
    }

    .formblock__input__full {
      margin-bottom: 20px;
    }
  }

  .modal_large .modal-content {
    padding: 24px 16px 28px 16px;
  }

  .informwrapper__list li {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 100%;
  }

  .buttonsrow.xs-full {
    .buttonsrow__item {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .buttonsrow__item .check label {
    font-weight: 400;
    font-size: 10px;
    line-height: 110%;
  }

  .formblock input[type="email"],
  .formblock input[type="password"],
  input[type="tel"],
  .formblock input[type="text"] {
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
    font-size: 14px;
  }

  .accountna .productslider__slide {
    width: 50%;
  }

  .itemslistcard {
    max-width: 100%;
  }

  .recipeslider .sliderarrows {
    display: none;
  }

  .productslider .sliderarrows {
    display: none;
  }

  .blockabout__wrapper {
    flex-wrap: wrap;
  }

  .blockabout__main {
    width: 100%;
  }

  .mobilepanel__right {
    display: flex;
    align-items: center;

    .iconlinks__badge {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .headermain__iconlinks {
    margin-right: 5px;
  }

  .container {
    .container {
      padding: 0;
    }
  }

  .header__topline {
    background: #fff;
  }

  .headermain {
    padding: 14px 0 0 0;
  }

  .mobilepanel {
    padding: 15px 0;
  }

  .cols__col_w9 {
    padding-left: 0;
  }

  .headermenu {
    margin: 0;
    width: 100%;
  }

  .menubutton {
    width: 30px;
    text-align: right;
    display: block;
  }

  .headermenu__link {
    font-size: 14px;
  }

  .mainslider__slide.swiper-slide-prev {
    opacity: 0;
  }

  .indexblock .cols {
    display: block;
  }

  .jsbackdrop {
    top: 0px;
    z-index: 99;
  }

  #header {
    position: relative;
    z-index: 999;
    background: #fff;
  }

  .mobilemenu__links {
    @include clear;
  }

  .mobilemenu__links {
    margin-left: 18px;

    a {
      color: #283647;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      display: block;
      height: 22px;
      background-size: 22px;
      padding-left: 35px;
    }
  }

  .link {
    font-size: 14px;
    padding-right: 18px;
  }

  .link:before {
    height: 14px;
    background-size: 10px;
    background-position: right center;
    transform: translateY(2px);
    background-repeat: no-repeat;
  }

  .footer__logo {
    margin-bottom: 25px;
    max-width: 257px;
    width: 100%;
  }
  .footer__contacts .contacts__phone {
    margin-bottom: 3px;
  }
  .footer__address {
    margin-top: 33px;
  }
  .footer__subtitle {
    margin-bottom: 11px;
    font-size: 12px;
  }
  .footer__text {
    font-size: 14px;
  }
  .footer__col .footer__items {
    margin: 0 -26px;
    width: calc(100% + 52px);
  }
  .footer__col .footer__col {
    width: 50%;
    padding: 0 26px;
    margin: 0;
  }
  .footer__catalog ul li {
    width: unset;
  }
  .footer__title.wave {
    background-size: 38px;
  }
  .footer__text_lg {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
  }
  .footer__ask {
    margin-top: 20px;
  }
  /*   .btn_border {
    padding: 8px 25px;
    display: inline-block;
    width: unset;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  } */
  .mainmenubanner__image {
    margin-bottom: 26px;
  }
  .footer__block_payment {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 375px;
    align-items: center;
    margin-bottom: 0;
    .footer__title.wave {
      margin-bottom: 0;
    }
  }
  .footer__aside {
    width: 100%;
  }
  .footer__cols.flex.items-center {
    display: block;
  }
  #toTop {
    width: 34px;
    right: 10px;
  }
  .footer__link {
    margin-left: 0;
  }
  .footer__bottom {
    .footer__col {
      max-width: 50%;
      width: unset;
    }
  }
  .page {
    margin: 10px 0 10px 0;
  }
  .category__wrapper {
    padding: 10px 0 26px 0;
  }
  .category__count {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
  }
  .productpage__columnright {
    max-width: 100%;
    min-width: 100%;
  }
  .productpage__columnleft {
    width: 100%;
    padding: 0;
  }
  .productpage__columns {
    flex-wrap: wrap;
  }
  .detailslider .detailswiper .zoom-box img {
    max-width: 100%;
  }

  .mainslider__dotsblock_detail {
    bottom: 0;
  }
  .detailinfo__sku {
    font-size: 12px;
  }
  .detailinfo__reviews {
    order: -1;
  }
  .detailinfo__header {
    justify-content: space-between;
  }
  .detailinfo__header .productcard__blockrating__value span {
    font-size: 12px;
    opacity: 0.4;
  }
  .detailinfo__reviews {
    margin-right: 14px;
  }
  .detailinfo__wishlist .favtext {
    font-size: 12px;
    padding-left: 0;
    opacity: 0.9;
  }
  .detailinfo__wishlist {
    svg {
      width: 16px;
      height: 16px;
    }
  }
  .detailinfo__title h1 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 0;
  }
  .detailinfo__text {
    margin: 18px 0 14px 0;
    font-size: 14px;
    color: rgba(43, 54, 70, 1);
  }
  .detailtable__row {
    padding: 10px 10px 22px 10px;
  }
  .detailtable__content {
    padding: 4px 11px;
  }
  .detailtable__value {
    font-size: 14px;
  }
  .detailtable__text {
    font-size: 10px;
  }
  .productcard__buy .productcard__oldprice {
    font-size: 14px;
  }
  .productcard__buy .productcard__infotext {
    font-size: 14px;
    margin-left: 10px;
  }
  .productcard__pricecaption {
    font-size: 16px;
  }
  .detailbuy__buyblock .productcard__price {
    margin-bottom: 7px;
  }

  .blockabout_wide .blockabout__text {
    width: 100%;
  }
  .orderinfo {
    flex-wrap: wrap;
    width: 100%;
  }
  .orderinfo__number {
    width: 100%;
  }
  .orderinfo__link {
    margin-left: 0;
    margin-top: 29px;
    width: 100%;
  }

  .orderinfo__name {
    font-size: 14px;
  }
  .orderinfo__value {
    font-size: 18px;
  }
  .orderinfo__icon {
    margin-right: 10px;
    width: 42px;
    height: 42px;
    min-width: 42px;

    img {
      width: 25px;
    }
  }

  .orderinfo__link a {
    width: 100%;
    text-align: center;
  }
  .blockabout__info {
    margin-top: 19px;
  }

  .blockabout__title_confirm {
    padding-right: 30px;
  }
  .fitchesblock_large .fitchesblock__item {
    width: 100%;
  }

  .blockhalf__cols {
    flex-wrap: wrap;
  }
  .blockhalf__col_left {
    padding: 0;
    width: 100%;
    margin-bottom: 17px;
  }

  h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 24px;
  }
  .fitchcard {
    min-height: unset !important;
  }

  h4 {
    margin-bottom: 25px;
    font-size: 18px;
  }

  .pagedetail__aside {
    max-width: 100%;
    min-width: 100%;
  }
  .pageaside {
    padding: 32px 20px;
  }
  .pagedetail__main {
    width: 100%;
    padding-right: 0;
    margin-bottom: 19px;
  }
  .pagedetail__cols.flex {
    flex-wrap: wrap;
  }

  .pageaside {
    background: #fff;
    padding: 0;
  }
  .pageaside__header {
    margin-bottom: 29px;
  }
  .asidenews__image {
    margin-bottom: 17px;
  }
  .asidenews__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
  .asidenews__info {
    font-size: 14px;
    opacity: 0.4;
  }

  .itemslist__items {
    margin-top: 28px;
    margin-bottom: 28px;
  }
  .itemslist__item_col3 .itemslistcard__title,
  .itemslistcard__title {
    font-size: 14px;
  }
  .itemslist__item:last-child {
    margin-bottom: 0;
  }
  .pagemap__map iframe {
    height: 191px;
  }
  .contactcards__icon {
    height: 38px;
    max-width: 38px;
    min-width: 38px;
    margin-right: 12px;
    padding: 6px;
  }
  .contactcards__value,
  .contactcards__value a {
    font-size: 16px;
  }

  .topmenu__items ul {
    flex-wrap: wrap;
  }

  .headermenu__topmenu {
    width: 100%;
  }
  [data-menutoggle].menuicon {
    display: block;
  }

  [data-menutoggle].menuicon span {
    width: 30px;
    height: 2px;
    margin-bottom: 7px;
    display: block;
    background: #231f20;
    transform-origin: 4px 0px;
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

    &:last-child {
      margin-bottom: 0;
    }
  }

  [data-menutoggle].menuicon span:first-child {
    transform-origin: 0% 0%;
  }

  [data-menutoggle].menuicon span:last-child {
    transform-origin: 0% 100%;
  }

  [data-menutoggle].menuicon.active span:first-child {
    opacity: 1;
    transform: translate(0, 18px) rotate(-45deg);
  }

  [data-menutoggle].menuicon.active span:last-child {
    transform: translate(0, -21px) rotate(45deg);
  }

  [data-menutoggle].menuicon.active span:nth-child(2) {
    opacity: 0;
  }
  .mainmenu__column {
    padding: 18px 18px;
  }

  .mainmenu__items {
    flex-wrap: wrap;
    width: 100%;
  }
  .mainmenu__wrapper {
    box-shadow: none;
    padding-top: 18px;
  }

  .headermain__menu {
    .mainmenu__wrapper {
      max-width: 400px;
    }
  }

  .mobilemenu {
    .contactline__messenger {
      margin-bottom: 49px;
    }
  }

  .mainmenu__column {
    padding: 0;
    width: 100%;
    &:nth-child(1) {
      border-right: 1px solid #f7f7f7;
      min-width: 100%;
    }

    &:nth-child(2) {
      min-width: 100%;
      padding-right: 20px;
    }

    &:nth-child(3) {
      min-width: 100%;
    }
  }
  .mainmenu__block,
  .mainmenu__column {
    margin-bottom: 36px;
  }
  .mainmenu__title {
    font-size: 26px;
    line-height: 100%;
    margin-bottom: 19px;
  }
  .mainmenu__list ul {
    gap: 6px;
  }
  .mainmenu__list ul a {
    padding: 7px 12px;
    font-weight: 500;
    font-size: 12px;
  }
  .mainmenubanner {
    padding: 21px;
  }
  .mainmenubanner__content {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .mainmenubanner__title {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: left;
  }

  .mainmenu {
    max-width: calc(100% + 36px);
    width: calc(100% + 36px);
    left: -18px;
    right: -18px;
    padding: 0 18px;
    background: #fff;
    box-shadow: 4px 40px 40px 0 rgba(35, 31, 32, 0.1);
  }
  .mainmenubanner__buttons {
    justify-content: flex-start;
  }
  .topmenu__items ul li {
    padding: 0;
  }

  .mobilemenu__app {
    margin-top: 49px;
  }
  .mobilemenu__apptext {
    margin-bottom: 18px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #231f20;
  }
  .mobilemenu__appbuttons {
    display: flex;
    gap: 5px;
  }
  .jsbackdrop.menuactive {
    display: block;
  }

  .footer__items {
    flex-wrap: wrap;
  }
  .footer__bottom .footer__items .footer__col {
    width: 100%;
    max-width: 100%;
  }
  .footer__links {
    flex-wrap: wrap;
  }
  .footer__link {
    margin-bottom: 6px;
  }

  .footer__info {
    gap: 20px;
  }
  .footer__col_right {
    max-width: 100%;
  }
  .footer__maincopy {
    margin-bottom: 21px;
    margin-right: 0;
    font-weight: 400;
    font-size: 14px;
    color: #231f20;
  }
  .footer_app .mobilemenu__apptext {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
  }
  .footer_app {
    .mobilemenu__appbuttons {
      gap: 5px;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
    }
  }
  .footer_app .mobilemenu__appbutton {
    /*   width: 149px; */
    margin-bottom: 0;
  }
  .footer__col {
    padding: 0;
    margin-bottom: 28px;
  }
  .footer__items {
    margin: 0;
  }
  .mobilemenu__app {
    margin-top: 11px;
  }
  #footer .menucontancts .phonelink {
    font-size: 20px;
  }
  .footer__logo {
    margin-bottom: 16px;
    max-width: 106px;
  }

  .productslider {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
  .categoryblock__image {
    img {
      width: 100%;
    }
  }
  .producttabs__wrapper {
    flex-wrap: wrap;
  }

  .pagebanner__items {
    flex-wrap: wrap;
  }
  .pagebanner__left {
    width: 100%;
  }
  .pagebanner__right {
    width: 100%;
  }
  .mainslide__title {
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 14px;

    h1 {
      font-weight: 700;
      font-size: 26px;
      text-transform: uppercase;
    }
  }
  .mainslide__content {
    padding: 26px 0;
  }
  .mainslider__container {
    min-height: 317px;
    height: unset;
  }
  .mainmenu__list_red ul {
    max-width: 246px;
  }
  .mainslide__text {
    font-size: 12px;
  }
  .mainslide__content {
    max-width: 243px;
  }
  .mainslider__wrapper {
    overflow: visible;
    position: relative;
    margin: 0 6px 60px 6px;

    .swiper-pagination {
      bottom: -11px;
    }
  }
  .mainslide {
    border-radius: 20px;
    overflow: hidden;
  }
  .mainslide,
  .mainslide__image,
  .mainslide .container,
  .mainslide__content {
    min-height: 317px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: -16px;
    z-index: 4;

    .swiper-pagination-bullet {
      height: 2px;
      width: unset;
      border-radius: 0;
      max-width: 47px;
      background: #d9d9d9;
      opacity: 0.5;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: $main;
      opacity: 1;
    }
  }
  .productslider {
    margin: 40px 0;
  }
  .blockheader {
    margin-bottom: 20px;
  }
  .btn_link {
    span {
      font-size: 12px;
      padding-right: 17px;
      line-height: 12px;
    }
    span:before {
      width: 10px;
      height: 10px;
      background-size: 10px;
    }
  }
  .productcard__img {
    height: 193px;
  }
  .productcard__images {
    margin-bottom: 16px;
  }
  .productcard__title {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .productcard__price .productcard__pricevalue {
    font-family: var(--second-family);

    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #231f20;
  }
  .productcard__price .productcard__pricetext {
    font-family: var(--second-family);

    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #231f20;
  }
  .sitesection {
    margin: 40px 0;
  }
  .categoryblock__items {
    gap: 19px;
  }
  .categoryblock__image img {
    height: 100%;
  }
  .categoryblock__image {
    border-radius: 8px;

    margin-bottom: 12px;
  }
  .categoryblock__arrow {
    min-width: unset;
  }
  .categoryblock__item {
    flex: unset;
    width: calc(50% - 10px);
  }
  .categoryblock {
    .slider__button {
      margin-left: 5px;
      opacity: 0.4;
      padding: 0;
      border: none;
      background: none !important;
      width: unset;
      height: unset;
    }
  }
  .producttabs__header h2 {
    margin-bottom: 16px;
  }
  .producttabs__wrapper {
    gap: 27px;
  }
  .producttabs__aside .mainmenu__list ul a {
    font-size: 12px;
  }

  .producttabs {
    .cataloglist__items {
      gap: 27px 10px;
    }
    .cataloglist__item {
      min-width: calc(50% - 10px);
    }
  }
  .producttabs__footer {
    display: block;
    margin: 30px 0 0 0;
    a {
      width: 100%;
    }
  }
  .pagebanner {
    padding-top: 0;
  }
  .pagebanner .badge {
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
  }
  .pagebanner__wrapper {
    padding: 0 0 0 19px;
  }

  .pagebanner {
    .footer_app .mobilemenu__appbutton {
      width: 151px;
    }
    .mobilemenu__appbutton {
      height: 41px;
      padding-left: 13px;
      gap: 4px;
      img {
        transform: scale(0.9);
      }
    }
  }
  .pagebanner__right {
    position: relative;
    z-index: 1;
  }

  .pagebanner__center {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;

    img {
      border-radius: 0 0 12px 0;
    }
  }
  .producttabs .cataloglist__item .productcard__img {
    height: 229px;
  }
  .productcard__title {
    margin-bottom: 10px;
  }

  .productcard__blockinfo {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 17px;
  }
  .productcard__main {
    align-items: center;
  }

  .cardsblock {
    .mainmenubanner__title {
      margin-bottom: 15px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      text-align: center;
      color: #231f20;
    }
    .buyblock__right {
      transform: scale(0.9);
      margin-top: 20px;
    }
    .buyblock__text {
      font-size: 10px;
      letter-spacing: 0.3em;
    }
    .buyblock {
      align-items: flex-end;
    }
  }
  .mainmenubanner__image {
    margin-bottom: 15px;
    text-align: center;
    margin: auto;
  }
  .mainmenubanner__img {
    max-width: 195px;
    margin: auto;
  }

  .contactmap {
    height: 155px;
  }
  .contactitem__phones a {
    font-size: 16px;
  }
  .contactsblock__item {
    width: 100%;
    flex: unset;
  }
  .cardsblock .buyblock {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
  .catalogpage {
    .cataloglist__items {
      gap: 27px 10px;
    }
    .cataloglist__item {
      width: calc(33.333% - 10px);
    }
    .productcard__img {
      height: 229px;
    }
  }
  .catalogheader {
    margin-bottom: 18px;
  }
  .catalogheader__title {
    font-size: 12px;
  }
  .catalogpage {
    .productcard__images {
      margin-bottom: 9px;
    }
  }

  .seoblock {
    margin: 30px 0;
  }

  .seoblock h2 {
    font-size: 26px;
  }
  .seoblock p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .contactsblock__label {
    margin-bottom: 3px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #231f20;
    opacity: 0.5;
  }

  .contactsblock__common {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    .contactline__messenger {
      height: 30px;
    }
    a {
      white-space: nowrap;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      display: block;
      height: 30px;
      line-height: 30px;
      display: flex;
      align-items: center;
    }
  }
  .pageheader .contactsblock__common {
    margin-bottom: 0;
    margin-top: 16px;
  }
  .pageheader__row {
    flex-wrap: wrap;

    .breadcrumbs {
      margin-top: 0;
    }
    .pageheader__content {
      margin-bottom: 6px;
    }

    .pageheader__content {
      display: flex;
      flex-direction: column;
      .breadcrumbs {
        order: -1;
      }
    }
  }

  .detailslider .detailswiperpreview {
    top: unset;
    left: unset;
    right: 8px;
    bottom: 8px;
    height: unset;
  }
  .detailslider .detailswiperpreview .swiper-slide {
    width: 36px;
    height: 30px;
    border-width: 1px;
  }

  .detailslider .detailswiperpreview {
    top: unset;
    left: unset;
    right: 8px;
    bottom: 8px;
    height: unset;
    width: unset;
  }

  .detailslider .detailswiperpreview,
  .detailslider .detailswiper {
    height: unset;
  }
  .detailinfo__content .productcard__oldprice {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0;
  }
  .detailinfo__content .productcard__oldprice:before {
    top: 35%;

    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  .productarrows {
    display: none !important;
  }
  .detail__banner {
    .pagebanner__center {
      bottom: -15px;
      right: -15px;
    }
  }

  .detailbuy {
    .productcard__price .productcard__pricevalue {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 26px;
      text-transform: uppercase;
      color: #b81b37;
    }
  }
  .detail__banner .pagebanner__left {
    max-width: 202px;
  }
  .detail__banner .pagebanner .badge {
    font-size: 16px;
  }
  .detail__banner .pagebanner__wrapper {
    padding: 15px;
  }
  .detail__banner .pagebanner__text {
    font-size: 16px;
    line-height: 1;
  }
  .detail__banner .footer_app .mobilemenu__appbuttons {
    gap: 20px;
  }
  .detail__banner .mobilemenu__app {
    margin-top: 8px;
  }
  .detail__banner .pagebanner {
    margin-top: 0;
    padding-top: 38px;
  }
  .sitetabs__header li a {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #231f20;
  }
  .sitetabs__header {
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 33px;
  }
  .blockheader .btn_link span {
    white-space: nowrap;
  }
  .sitetabs__header li {
    padding: 0;
    height: unset;
  }
  .sitetabs__header ul {
    gap: 30px;
  }
  .description p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }
  .productpage__images {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  .productpage__right {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__link {
    width: 100%;
  }
  .projectblock_mobile {
    .projectblock__image {
      top: -47px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      height: 194px;
      text-align: center;

      img {
        max-height: initial;
      }
    }
    .projectslides__slide {
      padding-top: 47px;
    }
    .projectblock__main {
      overflow: visible;
      max-width: 277px;
      display: block;

      background-color: #f8f8f8;
      border-radius: 12px;
      /*    padding-top: 187px; */
    }
    .projectblock__content {
      margin: auto;
      padding: 0 21px 30px 21px;
    }
    .projectdata__title {
      margin-bottom: 6px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      color: #231f20;
    }
    .projectdata__text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      text-align: center;
      color: #231f20;
      margin-bottom: 22px;
    }
    .projectdata__buyblock {
      flex-wrap: wrap;
    }
    .projectdata__right {
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .btn_ring {
      transform: scale(0.5);
    }
    .btn_redborder {
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      color: #231f20;
      padding: 0 30px;
      height: 40px;
      line-height: 40px;
    }
    .projectdata__left {
      width: 100%;
    }
    .projectdata__price {
      font-weight: 700;
      font-size: 22px;
      text-transform: uppercase;
      color: #b81b37;
      margin-bottom: 17px;
      text-align: center;
      justify-content: center;
    }
    .swiper-pagination-bullets.swiper-pagination-horizontal
      .swiper-pagination-bullet {
      max-width: unset;
    }
    .projectslider__dots {
      padding: 0 18px;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      margin: 0 1%;
    }
  }

  .sitesection {
    display: block;
  }
  .projectblock_mobile {
    position: relative;
    padding-bottom: 22px;
  }
  .mainslider__wrapper {
    padding-bottom: 18px;
  }

  .minicard__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .modalproduct__product {
    .minicard__image {
      min-width: 100px;
      max-width: 100px;
      height: 68px;
      img {
        height: 100%;
      }
    }
    .productcard__topprice {
      text-align: right;
    }
    .productcard__pricevalue {
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      color: #231f20;
      margin-bottom: 9px;
    }
    .quantity input[type="button"] {
      color: #212121;
    }
    .quantity {
      padding: 0 10px;
      border-radius: 555px;
      background: #f7f7f7;
    }
  }
  .modalcatalog__item {
    width: calc(50% - 11px);
  }
  .modalcatalog__tabs ul {
    column-count: 2;
  }
  .modalcatalog__aside {
    padding: 18px;
  }
  .modalcatalog__text {
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #212121;
  }
  .modalcatalog__title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    color: #231f20;
  }
  .modalcatalog__wrapper {
    display: block;
  }
  .modalcatalog__aside,
  .modalcatalog__main {
    width: 100%;
    max-width: 100%;
  }
  .modalcatalog__tabs a {
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 0 5px 0;
    line-height: 1;
    margin: 0;
  }
  .modalcatalog__tabs a.active:before {
    left: -10px;
    width: 4px;
    height: 4px;
  }
  .modalcatalog__tabs a.active {
    background: none;
  }
  .modal_xxl .modal-dialog {
    width: calc(100% - 36px);
  }
  .modalcatalog__main {
    padding: 12px 18px;
  }

  .modalcatalog__item img {
    height: 185px;
  }
  .modalcatalog__items {
    padding-right: 0;
    overflow: unset;
    height: 100%;
    gap: unset;
  }
  .modalcatalog__button {
    margin: auto;
  }
  .modalcatalog__item {
    width: unset;
  }
  .modalcatalog__sliderwrapper {
    width: 100%;
    height: 390px;
  }
  .modalcatalog__tab {
    padding-bottom: 16px;
    position: relative;
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal
    .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  .modalcatalog__footer {
    margin-bottom: 10px;
    display: block;
  }
  .modalcatalog__item {
    width: 147px;
  }
  .modalcatalog__items {
    gap: 7px;
  }

  .modalcatalog__sliderwrapper.swiper-initialized {
    .modalcatalog__item {
      width: unset;
    }
    .modalcatalog__items {
      gap: unset;
    }
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
  }

  .pagedelivery__steps,
  .pagedelivery__payments,
  .pagedelivery__tabs {
    flex-wrap: wrap;
  }
  .pagedelivery__step,
  .pagedelivery__pay,
  .pagedelivery__tabsleft,
  .pagedelivery__tabsright {
    width: 100%;
  }
  .pagedelivery__tabsleft {
    padding-right: 0;
  }
  .pagedelivery__paywrapper {
    min-width: 100%;
  }
  .pagedelivery__stepnumber {
    position: absolute;
    right: 0;
    height: 80px;
    width: 100px;
    border: none;

    img {
      max-width: 100%;
    }
  }
  .pagedelivery__step {
    position: relative;

    &:after {
      content: "";
      width: 2px;
      background: #f5f5f5;
      height: 100%;
      position: absolute;
      left: 20px;
      bottom: 0;
      z-index: 0;
    }

    &:last-child::after {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
      .pagedelivery__stepcontent {
        margin-bottom: 0;
      }
    }
  }
  .pagedelivery__stepicon {
    margin-bottom: 0;
  }
  .pagedelivery__stepcontent {
    height: 80px;
    z-index: 1;
    margin-bottom: 20px;
    margin-top: 0;
    display: flex;

    gap: 18px;
    br {
      display: none;
    }
  }
  .pagedelivery {
    padding: 0;
  }
  .pagedelivery__steptext {
    height: 42px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.2;
  }
  .pagedelivery__stepicon {
    max-width: 42px;
    min-width: 42px;
  }
  .pagedelivery__title {
    margin-bottom: 31px;
    font-size: 18px;
  }
  .pagedelivery__section {
    margin-bottom: 37px;
  }
  .pagedelivery__paywrapper {
    padding: 16px 18px;
    height: unset;
  }
  .pagedelivery__payments {
    gap: 8px;
  }
  .pagedelivery__paytitle {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .pagedelivery__paytext {
    font-size: 12px;
  }
  .pagedelivery__text {
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  .pagedelivery__tabscontacts {
    flex-wrap: wrap;
    gap: 22px;
  }
  .pagedelivery__tabscontactlink a {
    font-size: 16px;
  }
  .pagedelivery__tabscontact {
    width: 100%;
  }
  .pagedelivery__tabsheader {
    margin-bottom: 26px;
  }
  .pagedelivery__tabsbutton {
    padding: 23px 18px;
  }
  .pagedelivery__tabsbutton.active {
    border-color: transparent;
  }
  .menupage__tabsheaderitem {
    font-size: 14px;
  }
  .menupage__tabsheader {
    /*  gap: 42px; */
    width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  .menupage__tabsheaderitem {
    padding-bottom: 28px;
    padding-left: 21px;
    padding-right: 21px;
    white-space: nowrap;
  }
  .menupage__main {
    margin: 28px 0;
  }
  .menupage__tabsheader {
    margin-bottom: 28px;
  }
  .pageheader__filter {
    width: 100%;
  }
  .pageheader .mainmenu__list.mainmenu__list_row {
    width: 100%;
    overflow: auto;

    li {
      max-width: 130px;
      a {
        white-space: initial;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    ul {
      justify-content: flex-start;
      display: flex;
      flex-wrap: nowrap;
    }
  }
  .productpage__right {
    margin-top: 20px;
  }

  .detail_project {
    .detailinfo__content .btn_ring {
      transform: scale(0.8);
    }
    .blockheader__left h2 {
      text-align: left;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }
  }

  .catalogpage .cataloglist_projects {
    .projectcard {
      width: 100%;
      border-radius: 8px;
      background: #f8f8f8;
    }
    .cataloglist__items {
      width: 100%;
      gap: 10px;
    }
    .cataloglist__item {
      width: 100%;
    }
    .projectblock__image {
      min-width: 183px;
      max-width: 183px;
      margin-right: 0;
      text-align: center;
      margin-bottom: 12px;
    }
    .projectdata__title {
      text-align: center;
      height: unset;
    }
    .projectblock__main {
      flex-wrap: wrap;
      justify-content: center;
      max-width: 330px;
      margin-left: auto;
      margin-right: auto;
    }
    .projectblock__content {
      max-width: unset;
      width: 100%;
    }
    .projectdata__price_free {
      text-transform: uppercase;

      color: #1d9a3e;
    }
  }
  .pagedescription {
    h2 {
      font-size: 22px;
      margin-bottom: 27px;
    }
    p {
      font-size: 14px;
      line-height: 140%;
    }
  }
  .pagefilial__mainimage {
    > img {
      height: 123px;
      border-radius: 6px;
    }
  }
  .pagefilial__mainimage {
    height: unset;
  }
  .pagefilial__footer {
    margin: 23px 0 27px 0;
    .pagefilial__slide {
      width: unset;
      display: flex;
      justify-content: center;
      align-items: center;

      > a {
        display: inline-block;
        height: 123px;
        > img {
          object-fit: cover;
          object-position: center;
          border-radius: 6px;

          height: 100%;
        }
      }
    }
  }
  .pagefilial_3d {
    height: 54px;
    width: 54px;
  }
  .pagefilial {
    padding: 12px 0;
  }
  .pagefilial__title {
    font-size: 18px;
    margin-bottom: 0;
  }
  .pagefilial__content {
    width: 100%;
  }
  .pagefilial__info {
    margin-top: 0;
  }
  .pagefilial__top {
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pagefilial .linkred {
    margin-right: 5px;
  }
  .pagefilial__content {
    .contactitem__address span {
      font-size: 12px;
    }
  }
  .pagefilial__footer {
    margin: 17px 0;
  }
  .contactitem__phones {
    margin: 17px 0 0 0;
  }
  .pageabout__item {
    width: 100%;
  }
  .aboutitem {
    height: 195px;
    padding: 24px 18px;
  }
  .aboutitem__icon {
    max-width: 50px;
    min-width: 50px;
    height: 50px;
    img {
      width: 27px;
    }
  }
  .aboutitem__number {
    width: 130px;
  }
  .aboutitem__text {
    font-size: 18px;
    line-height: 120%;

    br {
      display: none;
    }
  }
  .pageabout__expandheader {
    flex-wrap: wrap;
  }
  .pageabout__expandtitle {
    h2 {
      margin-bottom: 20px;
      font-size: 32px;
    }
  }
  .pageabout__expandtext {
    margin-left: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 120%;
  }
  .pageabout__expanditems {
    gap: 30px;
  }
  .pageabout__expanditem {
    padding-bottom: 27px;
    margin-bottom: 0;
    width: 100%;
  }
  .pageabout__expandbuttontitle {
    font-size: 16px;
    line-height: 120%;
  }
  .pageabout__expandbuttonicon {
    max-width: 24px;
    min-width: 24px;
  }
  .pageabout__expandcontent {
    padding: 10px;
    font-size: 14px;
  }
  .pageabout__expandblocks {
    margin: 40px 0;
  }

  .pagefilial_events {
    .pagefilial__tour {
      order: -1;
      width: 100%;
    }
  }
  .pagefilial__wrapper {
    flex-wrap: wrap;
  }
  .formblock {
    flex-wrap: wrap;
  }
  .formblock__left,
  .formblock__right {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .pagefilial_events {
    .pagefilial__maintitle {
      font-size: 22px;
      display: block;
      margin-bottom: 23px;
    }
    .pagefilial__mainimage {
      margin-bottom: 21px;
    }
    .pagefilial__mainimage > img {
      height: unset;
    }
    .pagefilial__title {
      font-size: 18px;
      margin-bottom: 14px;
    }
    .contactitem__phones {
      flex-wrap: wrap;
    }
    .pagefilial__top {
      align-items: flex-start;
    }

    .pagefilial__info {
      margin-top: 0;
    }
  }
  .pageabout__items_event .aboutitem {
    height: 165px;
  }
  .pageabout__items_event .aboutitem__text {
    font-size: 18px;
    br {
      display: block;
    }
  }
  .pageabout__rooms {
    &:after {
      display: none;
    }
  }
  .pageabout__roomsitems {
    flex-wrap: wrap;
  }
  .pageabout__roomsitem {
    width: 100%;
    margin-bottom: 63px;

    height: 84px;
    &:before {
      content: "";
      width: 100%;
      height: 2px;
      background: #f0f0f0;
      transform: translateY(-50%);
      top: 50%;
      position: absolute;
    }
  }
  .pageabout__roomstitle {
    font-size: 22px;
  }
  .pageabout__roomsvalue {
    font-size: 14px;
  }
  .banketsection__wrapper {
    flex-wrap: wrap;
  }
  .banketsection__left,
  .banketsection__right {
    width: 100%;
  }
  .banketsection__image {
    margin-bottom: 24px;
  }
  .btn_linkborder {
    line-height: 1;
  }
  .btn_linkborder span {
    font-size: 14px;
    line-height: 14px;
  }
  .banketsection__content {
    width: 100%;
  }
  .formsection {
    .formblock {
      padding: 27px 18px;
      height: unset;
      margin: 30px 0;
    }
    .formblock__title {
      font-size: 22px;
      line-height: 100%;
      margin-bottom: 18px;
    }
    .formblock__text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: #343c4b;
    }
    .formblock__contact {
      margin-top: 24px;
    }
    .contactlabel {
      font-size: 12px;
    }
    .formblock__left {
      margin-bottom: 42px;
    }
    .formblock__items {
      flex-wrap: wrap;
    }
    .formblock__input {
      width: 100%;
    }
    .xsfirst {
      order: -1;
    }
    .formblock__input {
      margin-bottom: 6px;
    }
    .formblock__right .formblock__check {
      margin-bottom: 0;
    }
  }
  .banketsection__title {
    font-size: 26px;
    margin-bottom: 13px;
  }
  .banketsection {
    margin: 0 0 40px 0;
  }
  .confirmpage__wrapper {
    height: unset;
    text-align: center;
  }
  .orderinfo__number {
    justify-content: center;
  }
  .confirmpage__content {
    padding: 37px 18px;
    height: unset;
  }
  .confirmpage__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .confirmpage__text {
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 120%;
  }
  .ordernumber__text {
    font-size: 12px;
  }
  .ordernumber__number {
    font-size: 20px;
  }
  .confirmpage__logo {
    margin-bottom: 17px;
  }
  .confirmpage__left {
    position: relative;
    z-index: 1;
  }
  .confirmpage__info {
    margin-top: 19px;
  }
  .confirmpage {
    margin: 0 0 20px 0;
  }
  .confirmpage__left {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .contactitem__flex{
    width: 100%;
  }
}
