@include xlarge-screen {
  .pagedetail__aside {
    max-width: 330px;
    min-width: 330px;
  }
  .pageaside {
    padding: 32px 20px;
  }
  .pagedetail__main {
    width: calc(100% - 330px);
    padding-right: 30px;
  }

  .contentpage__col_image {
    max-width: 50%;
    min-width: 50%;
  }
  .contentpage__col_left {
    margin-right: 30px;
  }
  .blockabout__wrapper {
    height: unset;
  }

  .footer__col_right {
    margin-left: 0;
  }


  .projectblock__wrapper {
    padding: 0 30px;
  }

  .headermain__search {
    margin-right: 10px;
  }
  .headermain__contacts{
    margin: 0 10px;
  }
  .headermenu__topmenu {
    width: calc(100% - 185px);
  }
  .mainmenu__column {
    padding: 30px 20px;
  }

  .mainmenu {
    max-width: 100%;
    width: 100%;
  }
  .mainmenu__column {
  
  
    &:nth-child(1) {
      border-right: 1px solid #f7f7f7;
      min-width:415px;
    }
  
    &:nth-child(2) {
      min-width: 302px;
      padding-right: 20px;
    }
  
    &:nth-child(3) {
      min-width: 372px;
    }
  }
  .productslider .swiper-button-next {
    right: 52px;
  }
  .productslider .swiper-button-prev {
    left: 52px;
  }
  .contactsblock__items {
    gap: 10px;
  }
  .contactitem {
    padding: 30px 12px;
  }
  .contactitem__phones a {
    font-size: 14px;
  }
  .contactline__messenger {
    max-width: 30px;
    min-width: 30px;
    height: 30px;
  }
  .contactitem__text {
    font-size: 12px;
  }
  .contactitem__small {
    font-size: 9px;
  }

}