<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> 
<main>
  <div class="breadcrumbs">
    <div class="container">
      <div class="breadcrumbs__items">
        <ul>
          <li>
            <a href="/">
            <span>
            Рыбспецпродукт
            </span>
            </a>
          </li>
          <li>
            <a href="">
            <span>Каталог</span>
            </a>
          </li>
          <li>
            <span>Рыба мороженная</span>
          </li>
        </ul>
      </div>
      <!-- /.breadcrumbs__items -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.breadcrumbs -->
  <div class="page ">
  <div class="contentpage">
    <div class="container">
      <div class="contentpage__cols">
        <div class="contentpage__col contentpage__col_text contentpage__col_left">
          <div class="pageheader">
            <h1 class='wave'>О нас</h1>
          </div>
          <div class="pagecontent">
            <div class="pagetext ">
              <p> В 1995 году на просторах Камчатки началась небольшая история, которая выросла в бизнес-империю морепродуктов. Группа молодых рыбаков и местных предпринимателей решила использовать богатство местных морских ресурсов для создания уникальной компании. </p>

                <p> Начав с небольшого склада, они собирали лучшие образцы морепродуктов, которые Камчатка могла предложить. Их философия была проста: сохранять натуральность и свежесть, предоставляя клиентам доступ к самым изысканным дарам океана. </p>
                
                  <p> С первых дней компания поставила перед собой цель - обеспечить своих клиентов лучшим качеством и сервисом. Они быстро завоевали доверие не только местных ресторанов и рынков, но и стали основным поставщиком свежих морепродуктов для региональных сетей супермаркетов. </p>
            </div>
            
          </div>
        </div><!-- /.contentpage__col -->
        <div class="contentpage__col contentpage__col_image contentpage__col_right">
          <div class="pageslider sliderdots">
          <div class="pagecontent__images swiper ">
            <div class="swiper-wrapper">
              <div class="pagecontent__image swiper-slide">
                <a href='img/e986e94afeefec68d4fa286a63727e33.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img" data-lightbox='pagecontent__images_1'>
                <img src="img/e986e94afeefec68d4fa286a63727e33.jpg" alt="">
                </a>
              </div>
              <div class="pagecontent__image swiper-slide">
                <a href='img/aboe986e94afeefec68d4fa286a63727e33ut2.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
                <img src="img/e986e94afeefec68d4fa286a63727e33.jpg" alt="">
                </a>
              </div>
              <div class="pagecontent__image swiper-slide">
                <a href='img/e986e94afeefec68d4fa286a63727e33.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
                <img src="img/e986e94afeefec68d4fa286a63727e33.jpg" alt="">
                </a>
              </div>
              <div class="pagecontent__image swiper-slide">
                <a href='img/e986e94afeefec68d4fa286a63727e33.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
                <img src="img/e986e94afeefec68d4fa286a63727e33.jpg" alt="">
                </a>
              </div>
              <div class="pagecontent__image swiper-slide">
                <a href='img/e986e94afeefec68d4fa286a63727e33.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
                <img src="img/e986e94afeefec68d4fa286a63727e33.jpg" alt="">
                </a>
              </div>
              <div class="pagecontent__image swiper-slide">
                <a href='img/e986e94afeefec68d4fa286a63727e33.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
                <img src="img/e986e94afeefec68d4fa286a63727e33.jpg" alt="">
                </a>
              </div>
            </div>
          <div class="mainslider__dotsblock">
            <div class="slider__dots mainslider__dots"></div>
          </div>
        </div>

        </div><!-- /.pageslider -->
        </div><!-- /.contentpage__col -->
      </div><!-- /.contentpage__cols -->

      <div class="fitchesblock">
        <div class="container">
          <div class="fitchesblock__items">
            <div class="fitchesblock__item">
              <div class="fitchcard">
                <div class="fitchcard__img">
                  <img src="img/TunaSteak.svg" alt="">
                </div><!-- /.fitchcard__img -->
                <div class="fitchescard__title">Широкий ассортимент продукции</div><!-- /.fitchescard__title -->
              </div><!-- /.fitchcard -->
            </div><!-- /.fitchesblock__item -->
            <div class="fitchesblock__item">
              <div class="fitchcard">
                <div class="fitchcard__img">
                  <img src="img/Dressed.svg" alt="">
                </div><!-- /.fitchcard__img -->
                <div class="fitchescard__title">Собственное производство из качественного сырья</div><!-- /.fitchescard__title -->
              </div><!-- /.fitchcard -->
            </div><!-- /.fitchesblock__item -->
            <div class="fitchesblock__item">
              <div class="fitchcard">
                <div class="fitchcard__img">
                  <img src="img/Canned.svg" alt="">
                </div><!-- /.fitchcard__img -->
                <div class="fitchescard__title">Отсутствие консервантов и усилителей вкуса</div><!-- /.fitchescard__title -->
              </div><!-- /.fitchcard -->
            </div><!-- /.fitchesblock__item -->
            <div class="fitchesblock__item">
              <div class="fitchcard">
                <div class="fitchcard__img">
                  <img src="img/Eel.svg" alt="">
                </div><!-- /.fitchcard__img -->
                <div class="fitchescard__title">Натуральное копчение на щепе из ольхи</div><!-- /.fitchescard__title -->
              </div><!-- /.fitchcard -->
            </div><!-- /.fitchesblock__item -->
            <div class="fitchesblock__item">
              <div class="fitchcard">
                <div class="fitchcard__img">
                  <img src="img/ThumbsUp.svg" alt="">
                </div><!-- /.fitchcard__img -->
                <div class="fitchescard__title">Высокое качество по доступной цене</div><!-- /.fitchescard__title -->
              </div><!-- /.fitchcard -->
            </div><!-- /.fitchesblock__item -->
          </div><!-- /.fitchesblock__items -->
        </div><!-- /.container -->
      </div><!-- /.fitchesblock -->
      
      
      <div class="contentpage__cols">
        <div class="contentpage__col  contentpage__col_image contentpage__col_left">
            <div class="pagecontent__images  ">
                <div class="pagecontent__image ">
                  <a href='img/e986e94afeefec68d4fa286a63727e33.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img" data-lightbox='pagecontent__images_1'>
                  <img src="img/e986e94afeefec68d4fa286a63727e33.jpg" alt="">
                  </a>
                  
              </div>
            </div>
          
        </div><!-- /.contentpage__col -->
        <div class="contentpage__col contentpage__col_text contentpage__col_right">
          <div class="pageheader">
            <h2 class='wave'>Сегодня, спустя множество лет, компания остается верной своим началам, продолжая предлагать высочайшее качество морепродуктов Камчатки</h2>
          </div>
          <div class="pagecontent">
            <div class="pagetext ">
              <p>продолжая радовать клиентов по всему миру своей свежестью и вкусом, сохраняя при этом баланс с окружающей средой. Их история — это история о любви к морю, заботе о качестве и стремлении сохранить красоту морского мира для будущих поколений. </p>
            </div>
            
          </div>
        </div><!-- /.contentpage__col -->
      </div><!-- /.contentpage__cols -->

    
  </div>  <!-- /.contentpage -->

  </div>
</main>
<%= _.template(require('../includes/footer.html').default)(data) %>