<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> 
  <main>
    <div class="pageheader ">
      <div class="container">
        <div class="pagetitle">       
          <h1>Рыба замороженная</h1>
        </div>
      </div>
    </div>
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs__items">
          <ul>
            <li>
              <a href="/">
                <span>
                  Рыбспецпродукт
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Каталог</span>
              </a>
            </li>
            <li>
              <span>Рыба мороженная</span>
            </li>
          </ul>
        </div>
        <!-- /.breadcrumbs__items -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumbs -->
    <div class="page ">
      <div class="container">
      <div class="catalogheader catalogheader_large">
        <div class="catalogheader__left">
          <div class="catalogheader__tablinks">
            <div class="tablinks">
              <div class="tablinks__items">
                <div class="tablinks__item active">
                  <a href="">Статьи</a>
                </div><!-- /.tablinks__item -->
                <div class="tablinks__item">
                  <a href="">Рецепты</a>
                </div><!-- /.tablinks__item -->
                <div class="tablinks__item">
                  <a href="">Новости</a>
                </div><!-- /.tablinks__item -->
              </div><!-- /.tablinks__items -->
            </div><!-- /.tablinks -->

          </div><!-- /.catalogheader__tabs -->
        </div>
        <!-- /.catalogheader__left -->
        
      </div>
      <div class="itemslists">
        <div class="itemslists__items">
          <div class="itemslists__item">
            <div class="itemslistcard">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image">
                  <div class="itemslistcard__img"><img src="img/recipe1.jpg" alt=""></div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                   
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Clock.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">5 часов назад</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Like.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">13</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->

                <div class="itemslistcard__title">
                  <a href="">Как правильно хранить мороженные морепродукты?</a>
                </div>
                
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
            <!-- /.itemslistcard -->
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslists__item">
            <div class="itemslistcard">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image">
                  <div class="itemslistcard__img"><img src="img/9b9013dfd9cdd89c6d3b7dfbeac50ef7.jpg" alt=""></div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                   
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Clock.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">5 часов назад</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Like.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">13</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->

                <div class="itemslistcard__title">
                  <a href="">Как выбрать устрицы: на чем не ошибиться</a>
                </div>
                
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
            <!-- /.itemslistcard -->
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslists__item">
            <div class="itemslistcard">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image">
                  <div class="itemslistcard__img"><img src="img/recipe1.jpg" alt=""></div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                   
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Clock.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">5 часов назад</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Like.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">13</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->

                <div class="itemslistcard__title">
                  <a href="">Как правильно хранить мороженные морепродукты?</a>
                </div>
                
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
            <!-- /.itemslistcard -->
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslists__item">
            <div class="itemslistcard">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image">
                  <div class="itemslistcard__img"><img src="img/recipe1.jpg" alt=""></div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                   
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Clock.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">5 часов назад</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Like.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">13</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->

                <div class="itemslistcard__title">
                  <a href="">Как правильно хранить мороженные морепродукты?</a>
                </div>
                
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
            <!-- /.itemslistcard -->
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslists__item">
            <div class="itemslistcard">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image">
                  <div class="itemslistcard__img"><img src="img/recipe1.jpg" alt=""></div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                   
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Clock.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">5 часов назад</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Like.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">13</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->

                <div class="itemslistcard__title">
                  <a href="">Как правильно хранить мороженные морепродукты?</a>
                </div>
                
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
            <!-- /.itemslistcard -->
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslists__item">
            <div class="itemslistcard">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image">
                  <div class="itemslistcard__img"><img src="img/recipe1.jpg" alt=""></div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                   
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Clock.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">5 часов назад</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Like.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">13</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->

                <div class="itemslistcard__title">
                  <a href="">Как правильно хранить мороженные морепродукты?</a>
                </div>
                
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
            <!-- /.itemslistcard -->
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslists__item">
            <div class="itemslistcard">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image">
                  <div class="itemslistcard__img"><img src="img/recipe1.jpg" alt=""></div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                   
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Clock.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">5 часов назад</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Like.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">13</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->

                <div class="itemslistcard__title">
                  <a href="">Как правильно хранить мороженные морепродукты?</a>
                </div>
                
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
            <!-- /.itemslistcard -->
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslists__item">
            <div class="itemslistcard">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image">
                  <div class="itemslistcard__img"><img src="img/recipe1.jpg" alt=""></div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                   
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Clock.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">5 часов назад</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Like.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">13</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->

                <div class="itemslistcard__title">
                  <a href="">Как правильно хранить мороженные морепродукты?</a>
                </div>
                
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
            <!-- /.itemslistcard -->
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslists__item">
            <div class="itemslistcard">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image">
                  <div class="itemslistcard__img"><img src="img/recipe1.jpg" alt=""></div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                   
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Clock.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">5 часов назад</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__icon">
                      <img src="img/Like.svg" alt="">
                      </span>
                      <span class="itemslistcard__text">13</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->

                <div class="itemslistcard__title">
                  <a href="">Как правильно хранить мороженные морепродукты?</a>
                </div>
                
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
            <!-- /.itemslistcard -->
          </div>
          <!-- /.itemslists__item -->
          
        
        </div>
        <!-- /.itemslists__items -->
        <div class="catalognav">
          <div class="catalognav__showmore">
            <a href="#" class='showmorelink showmorelink_short'>
            <img src="img/Synchronize.svg" alt="">
            <span>Показать еще</span>
            </a>
          </div>
          <div class="catalognav__pagination">
            <div class="paginationblock">
              <div class="pagination">
                <a href="#"  class='pagination__arrLeft '>
                <img src="img/pagiRight.svg" alt="">
                </a>
                <ul>
                  <li class="active"><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><span>...</span></li>
                  <li><a href="">135</a></li>
                </ul>
                <a href="#" class='pagination__arrRight'>
                <img src="img/pagiRight.svg" alt="">
                </a>
              </div>
            </div>
            
          </div>
        </div>
        <!-- /.catalognav -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.page -->
</main>
<%= _.template(require('../includes/footer.html').default)(data) %>