<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> 
  
  <main>
  
    <div class="page">
    <div class="pageheader ">
      <div class="container">
        <div class="pageheader__content flex column content-center items-center">
          <div class="pagetitle">
            <h1>новости</h1>
          </div>
          <div class="breadcrumbs">
            <div class="container">
              <div class="breadcrumbs__items">
                <ul>
                  <li>
                    <a href="/" aria-label="index">
                      <span>
                        <img src="img/breadcrumbs.svg" data-src="img/breadcrumbs.svg" alt="" title="" width="20" height="20">
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="" aria-label="link">
                      <span>Каталог</span>
                    </a>
                  </li>
                  <li>
                    <span>фирменные торты </span>
                  </li>
                </ul>
              </div>
              <!-- /.breadcrumbs__items -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.breadcrumbs -->
         
        </div><!-- /.pageheader flex content-center -->
      </div>
    </div>
    <div class="container">
      
      <div class="news">
        <div class="itemslist__items">
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news1.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Название темы новости длинное название</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news1.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Название темы новости длинное название</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news1.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Название темы новости длинное название</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news1.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Название темы новости длинное название</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news1.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Название темы новости длинное название</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news1.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Название темы новости длинное название</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news1.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Название темы новости длинное название</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news1.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Название темы новости длинное название</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news1.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Название темы новости длинное название</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
        </div>
        <!-- /.itemslists__items -->
        <div class="catalognav">
          <div class="catalognav__showmore">
            <a href="#" class="showmorelink">
              <span>Показать еще</span>
            </a>
          </div>
          <div class="catalognav__pagination">
            <div class="paginationblock">
              <div class="pagination">
                <a href="#" class="pagination__arrLeft " aria-label="pagi">
                  <img src="img/pagiRight.svg" data-src="img/pagiRight.svg" alt="" title="">
                </a>
                <ul>
                  <li class="active"><a href="" aria-label="link">1</a></li>
                  <li><a href="" aria-label="link">2</a></li>
                  <li><a href="" aria-label="link">3</a></li>
                  <li><a href="" aria-label="link">4</a></li>
                  <li><span>...</span></li>
                  <li><a href="" aria-label="link">135</a></li>
                </ul>
                <a href="#" class="pagination__arrRight" aria-label="pagi">
                  <img src="img/pagiRight.svg" data-src="img/pagiRight.svg" alt="" title="">
                </a>
              </div>
            </div>

          </div>
        </div>
        <!-- /.itemslists -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.page -->
</main>

<%= _.template(require('../includes/footer.html').default)(data) %>