<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> <main>
   
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs__items">
          <ul>
            <li>
              <a href="/">
                <span>
                  Рыбспецпродукт
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Каталог</span>
              </a>
            </li>
            <li>
              <span>Рыба мороженная</span>
            </li>
          </ul>
        </div>
        <!-- /.breadcrumbs__items -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumbs -->

    <div class="container">
      <div class="pageheader ">
        <div class="container">
          <div class="pagetitle">       
            <h1>Как выбрать красную икру</h1>
          </div>
          <div class="pageparams">
            <div class="pageparams__item">5 дней назад</div>
          </div>
          <!-- /.pageparams -->
        </div>
      
      </div>

   
      <div class="page ">
       
        <div class="pagedetail">
          <div class="pagedetail__cols flex">
            <div class="pagedetail__main">     
              <div class="pagecontent pagecontent_large newsdetail">
                  <p>Большинство из нас не представляет себе новогодний стол без салата оливье и бутербродов с икрой. Красная икра – продукт дорогой и к ее выбору стоит подойти серьезно. Совсем не хочется купить подделку и испортить себе праздничное настроение.</p>

                  <h2>Общая информация</h2>

                  <p>Икра лососевая, общее название целого семейства лососевых рыб, насчитывает 8 видов (нерка, голец, форель, горбуша, кижуч, кета, атлантический лосось, чавыча).Названия рыб в скобках расположены в соответствии с размером икринок, то есть икра нерки – самая маленькая, икра чавычи – самая большая. Наиболее распространенный вид икры, предлагающих в реализации и которого больше всего в природе – это икра горбуши, за ней следует с большим отрывом икра кеты, кижуча и форели.Лососевых в свою очередь можна разделить на так называемую "дикую" рыбу (нерка, горбуша, кижуч, кета, чавыча), которую ловит в основном США (Аляска), Россия (Камчатка, Сахалин) и немного Япония, а также на аквакультурную или фермерскую (форель и атлантический лосось).</p>
               
                  <p>
                    Наиболее представлена в Украине икра горбуши, кеты (икра "дикой" рыбы), а также форели (аквакультурная). Такие страны как Норвегия, Дания, Финляндия, успешно освоили разведение форели, благодаря чему её икра является более доступной и с точки зрения круглогодичного производства и с точки зрения стоимости.</p>

                    <img src="img/newsdetail.jpg" alt="">

                  <h2>В чём польза икры?</h2>
                  <p>Красная икра (то есть икра рыб семейства лососевых) – замечательный натуральный продукт, содержащий легкоусвояемые белки, жиры и ценные минеральные вещества, в том числе калий и фосфор. Есть в икре и витамины А (ретинол), D, группы B, PP (фолиевая кислота). В 100 г красной икры содержится 50% суточной нормы белка для взрослого человека. Кроме того, игра содержит полезные жиры Омега-3, способствующие профилактике сердечно-сосудистых заболеваний.</p>

                  <h2>В чём польза икры?</h2>
                  <p>иск возрастает, если вы заказываете продукт через интернет. Популярные социальные сети переполнены объявлениями о продаже икры, но в 7 случаях из 10 это не икра, а имитация икры. Если вы покупаете икру онлайн или сомневаетесь в ее качестве, обязательно спрашивайте сертификат качества у продавца.
                  <br>  2. Покупайте икру только в проверенных магазинах. Излишне говорить об отсутствии каких-либо гарантий в ларьке у метро или на рынке. Сетевые супермаркеты и специализированные магазины – вот ваши друзья. Это относится и к онлайн-магазинам. Заказывая икру онлайн, смотрите, чтобы на сайте было достаточно информации и о продукте (производитель, состав, срок годности), и о самом продавце (полное название компании, телефон, физический адрес, е-мейл).
                  <br>     3. Внимательно рассмотрите упаковку: на ней не должно быть никаких видимых дефектов. Прозрачная тара надежней – сквозь нее икру можно рассмотреть. Жестяная баночка не должна быть вздутой или прогибаться под давлением пальца – это явные признаки того, что продукт внутри испорчен. Еще один способ проверки – встряхнуть баночку и прислушаться. Если услышите булькающий звук, значит внутри много жидкости, много лопнувших икринок, что не свидетельствует о качестве продукта. Маркировка на крышке должна быть проштампована изнутри.
                  <br>      4. Хорошо изучите этикетку и состав. Чем подробнее информация о продукте, тем лучше. Обязательно должен быть указан вид икры, точнее, вид рыбы семейства лососевых – горбуша, кета, форель, нерка и т.д. В составе "правильной" икры будут только два ингредиента – собственно, икра и соль. Иногда производитель добавляет немного растительного масла. Это делается, чтобы икринки не слипались. А вот если увидите в составе Е239 (уротропин), от покупки лучше воздержаться. Хотя этот консервант не запрещен в Украине, он не является полезным для здоровья.
                  <br>     5. Обратите внимания на страну-экспортера. Раньше большая часть икры поступала к нам из России, но в последние годы ввоз продуктов из РФ запрещен (Поставновление КМУ №1147 от 30.12.2015 "О запрете ввоза на таможенную территорию Украины товаров, происходящих из Российской Федерации"). И хотя до сих пор российскую икру можно найти, особенно в интернете, знайте, что это контрабандный товар. Так что проконтролировать условия его транспортировки, расфасовки и хранения не представляется возможным. Кроме того, часто под видом российской икры предлагается фальсификат или имитация. Чтобы быть уверенным в качестве, покупайте икру, привезенную из США со штата Аляска. Расфасовывают ее уже тут, в Украине, и производитель должен быть обязательно указан на упаковке.
                  <br>    6. Не бойтесь покупать замороженную икру – это полезный и качественный продукт. Так, икра дикого лосося, обитающего в водах американского штата Аляска, замораживается сразу после отлова рыбы с добавлением небольшого количества соли. При правильной разморозке такая икра сохраняет все свои полезные свойства. Вам достаточно просто переложить упаковку из морозильной камеры в холодильник на 10-12 часов и, вуаля, свежайшая икра к употреблению готова!
                  <br>   7. Полезно знать свою любимую икру "в лицо". Самая популярная – икра горбуши. Розовато-оранжевые икринки в диаметре от 3 до 5 мм. Самые крупные икринки – у кеты и чавычи (6-7 мм). Отличить их можно по цвету – икра кеты оранжево-красноватая, а чавыча – насыщенно-красная. Самые мелкие икринки – у нерки и форели (от 2 до 3 мм в диаметре).</p>

                    <img src="img/newsdetail_2.jpg" alt="">

              </div>
              <!-- /.pagecontent -->
            </div><!-- /.pagedetail__main -->
            <div class="pagedetail__aside">
              <aside>
                <div class="pageaside">
                  <div class="pageaside__block">
                    <div class="pageaside__header">
                      <div class="pageaside__title">Другие статьи</div><!-- /.pageaside__title -->
                      <div class="pageaside__link">
                        <a href="#">Смотреть все</a>
                      </div><!-- /.pageaside__link -->
                    </div><!-- /.pageaside__header -->
                      <div class="pageaside__news">
                        <div class="asidenews">
                          <div class="asidenews__items">
                            <div class="asidenews__item">
                              <div class="asidenews__image">
                                <img src="img/3edf5111a4d1020e70bb367f3331fd4f.jpg" alt="">
                              </div><!-- /.asidenews__image -->
                              <div class="asidenews__title">Лосось или сёмга? Битва твоей мечты</div><!-- /.asidenews__title -->
                              <div class="asidenews__info">5 дней назад</div><!-- /.asidenews__info -->
                            </div><!-- /.asidenews__item -->
                            <div class="asidenews__item">
                              <div class="asidenews__image">
                                <img src="img/3edf5111a4d1020e70bb367f3331fd4f.jpg" alt="">
                              </div><!-- /.asidenews__image -->
                              <div class="asidenews__title">Лосось или сёмга? Битва твоей мечты</div><!-- /.asidenews__title -->
                              <div class="asidenews__info">5 дней назад</div><!-- /.asidenews__info -->
                            </div><!-- /.asidenews__item -->
                            <div class="asidenews__item">
                              <div class="asidenews__image">
                                <img src="img/3edf5111a4d1020e70bb367f3331fd4f.jpg" alt="">
                              </div><!-- /.asidenews__image -->
                              <div class="asidenews__title">Лосось или сёмга? Битва твоей мечты</div><!-- /.asidenews__title -->
                              <div class="asidenews__info">5 дней назад</div><!-- /.asidenews__info -->
                            </div><!-- /.asidenews__item -->
                            <div class="asidenews__item">
                              <div class="asidenews__image">
                                <img src="img/3edf5111a4d1020e70bb367f3331fd4f.jpg" alt="">
                              </div><!-- /.asidenews__image -->
                              <div class="asidenews__title">Лосось или сёмга? Битва твоей мечты</div><!-- /.asidenews__title -->
                              <div class="asidenews__info">5 дней назад</div><!-- /.asidenews__info -->
                            </div><!-- /.asidenews__item -->
                          </div><!-- /.asidenews__items -->
                        </div><!-- /.asidenews -->
                      </div><!-- /.pageaside__news -->
                 
                  </div><!-- /.pageaside__block -->
                </div><!-- /.pageaside -->
              </aside>
            </div><!-- /.pagedetail__aside -->
          </div><!-- /.pagedetail__cols -->
        </div><!-- /.pagedetail -->
    </div>
   
  </div>
</main><%= _.template(require('../includes/footer.html').default)(data) %>