<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="pageheader ">
          <div class="container">
            <div class="pageheader__row">
              <div class="pageheader__left">
                <div class="pageheader__content">
                  <div class="pagetitle">
                    <h1>О нас</h1>
                  </div>
                  <div class="breadcrumbs">
                    <div class="container">
                      <div class="breadcrumbs__items">
                        <ul>
                          <li>
                            <a href="/">
                              <span>
                                <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/breadcrumbs.svg" alt="" title="" >
                              </span>
                            </a>
                          </li>
                          <li>
                            <a href="">
                              <span>Каталог</span>
                            </a>
                          </li>
                          <li>
                            <span>фирменные торты </span>
                          </li>
                        </ul>
                      </div>
                      <!-- /.breadcrumbs__items -->
                    </div>
                    <!-- /.container -->
                  </div>
                  <!-- /.breadcrumbs -->

                </div><!-- /.pageheader flex content-center -->
              </div><!-- /.pageheader__left -->

            </div><!-- /.pageheader__row -->
          </div>
        </div>


        <div class="page ">
          <div class="container">
            <div class="pageabout">
              <div class="pageabout__items">
                <div class="pageabout__item">
                  <div class="aboutitem">
                    <div class="aboutitem__wrapper">
                      <div class="aboutitem__header">
                        <div class="aboutitem__icon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/about1.svg" alt="" title=""  width='40' height='40'>
                        </div><!-- /.aboutitem__icon -->
                        <div class="aboutitem__number">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/aboutnumber1.svg" alt="" title=""  width='168' height='91'>
                        </div><!-- /.aboutitem__number -->
                      </div><!-- /.aboutitem__header -->
                      <div class="aboutitem__footer">
                        <div class="aboutitem__text">Уютные кафе-кондитерские <br> в европейском стиле</div>
                      </div><!-- /.aboutitem__footer -->
                    </div><!-- /.aboutitem__wrapper -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.pageabout__item -->
                <div class="pageabout__item">
                  <div class="aboutitem">
                    <div class="aboutitem__wrapper">
                      <div class="aboutitem__header">
                        <div class="aboutitem__icon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/about2.svg" alt="" title=""  width='40' height='40'>
                        </div><!-- /.aboutitem__icon -->
                        <div class="aboutitem__number">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/aboutnumber2.svg" alt="" title=""  width='168' height='91'>
                        </div><!-- /.aboutitem__number -->
                      </div><!-- /.aboutitem__header -->
                      <div class="aboutitem__footer">
                        <div class="aboutitem__text">Наши столики – <br> идеальное место для приятных встреч</div>
                      </div><!-- /.aboutitem__footer -->
                    </div><!-- /.aboutitem__wrapper -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.pageabout__item -->
                <div class="pageabout__item">
                  <div class="aboutitem">
                    <div class="aboutitem__wrapper">
                      <div class="aboutitem__header">
                        <div class="aboutitem__icon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/about3.svg" alt="" title=""  width='40' height='40'>
                        </div><!-- /.aboutitem__icon -->
                        <div class="aboutitem__number">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/aboutnumber3.svg" alt="" title=""  width='168' height='91'>
                        </div><!-- /.aboutitem__number -->
                      </div><!-- /.aboutitem__header -->
                      <div class="aboutitem__footer">
                        <div class="aboutitem__text">Комфортный перекус по пути <br> на работу — легко и вкусно!</div>
                      </div><!-- /.aboutitem__footer -->
                    </div><!-- /.aboutitem__wrapper -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.pageabout__item -->
                <div class="pageabout__item">
                  <div class="aboutitem">
                    <div class="aboutitem__wrapper">
                      <div class="aboutitem__header">
                        <div class="aboutitem__icon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/about4.svg" alt="" title=""  width='40' height='40'>
                        </div><!-- /.aboutitem__icon -->
                        <div class="aboutitem__number">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/aboutnumber4.svg" alt="" title=""  width='168' height='91'>
                        </div><!-- /.aboutitem__number -->
                      </div><!-- /.aboutitem__header -->
                      <div class="aboutitem__footer">
                        <div class="aboutitem__text">Десерты на любой вкус: <br> ешьте на месте или берите с собой</div>
                      </div><!-- /.aboutitem__footer -->
                    </div><!-- /.aboutitem__wrapper -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.pageabout__item -->
                <div class="pageabout__item">
                  <div class="aboutitem">
                    <div class="aboutitem__wrapper">
                      <div class="aboutitem__header">
                        <div class="aboutitem__icon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/about5.svg" alt="" title=""  width='40' height='40'>
                        </div><!-- /.aboutitem__icon -->
                        <div class="aboutitem__number">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/aboutnumber5.svg" alt="" title=""  width='168' height='91'>
                        </div><!-- /.aboutitem__number -->
                      </div><!-- /.aboutitem__header -->
                      <div class="aboutitem__footer">
                        <div class="aboutitem__text">Полноценные обеды, ужины <br> и завтраки в нашей Кондитерской</div>
                      </div><!-- /.aboutitem__footer -->
                    </div><!-- /.aboutitem__wrapper -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.pageabout__item -->
                <div class="pageabout__item">
                  <div class="aboutitem">
                    <div class="aboutitem__wrapper">
                      <div class="aboutitem__header">
                        <div class="aboutitem__icon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/about6.svg" alt="" title=""  width='40' height='40'>
                        </div><!-- /.aboutitem__icon -->
                        <div class="aboutitem__number">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/aboutnumber6.svg" alt="" title=""  width='168' height='91'>
                        </div><!-- /.aboutitem__number -->
                      </div><!-- /.aboutitem__header -->
                      <div class="aboutitem__footer">
                        <div class="aboutitem__text">Уникальные десерты: <br>волшебство в каждом кусочке</div>
                      </div><!-- /.aboutitem__footer -->
                    </div><!-- /.aboutitem__wrapper -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.pageabout__item -->
              </div><!-- /.pageabout__items -->

              <div class=" sitesection">
                <div class="pageabout__expandblocks">
                  <div class="pageabout__expandheader">
                    <div class="pageabout__expandtitle">
                      <h2>Познакомьтесь <br>
                        с нами</h2>
                    </div>
                    <div class="pageabout__expandtext">Кондитерская Олега Ильина — это не просто место, где готовят сладости. Это целая история, наполненная страстью к кондитерскому искусству и заботой о каждом нашем госте.</div>
                  </div><!-- /.pageabout__expandheader -->
                  <div class="pageabout__expanditems" data-accordionwrapper='pageabout'>
                    <div class="pageabout__expanditem">
                      <div class="pageabout__expandbutton" data-accordionbutton='pageabout'>
                        <div class="pageabout__expandbuttontitle">
                          Мы создаем уникальные десерты
                        </div><!-- /.pageabout__expandbuttontitle -->
                        <div class="pageabout__expandbuttonicon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/pageabout__expandbuttonicon.svg" alt="" title="" >
                        </div><!-- /.pageabout__expandbuttonicon -->
                      </div>
                      <div class="pageabout__expandcontent" data-accordioncontent='pageabout'>текст</div>
                    </div><!-- /.pageabout__expanditem -->
                    <div class="pageabout__expanditem">
                      <div class="pageabout__expandbutton" data-accordionbutton='pageabout'>
                        <div class="pageabout__expandbuttontitle">
                          Наши ценности
                        </div><!-- /.pageabout__expandbuttontitle -->
                        <div class="pageabout__expandbuttonicon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/pageabout__expandbuttonicon.svg" alt="" title="" >
                        </div><!-- /.pageabout__expandbuttonicon -->
                      </div>
                      <div class="pageabout__expandcontent" data-accordioncontent='pageabout'>текст</div>
                    </div><!-- /.pageabout__expanditem -->
                    <div class="pageabout__expanditem">
                      <div class="pageabout__expandbutton" data-accordionbutton='pageabout'>
                        <div class="pageabout__expandbuttontitle">
                          Наша история
                        </div><!-- /.pageabout__expandbuttontitle -->
                        <div class="pageabout__expandbuttonicon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/pageabout__expandbuttonicon.svg" alt="" title="" >
                        </div><!-- /.pageabout__expandbuttonicon -->
                      </div>
                      <div class="pageabout__expandcontent" data-accordioncontent='pageabout'>текст</div>
                    </div><!-- /.pageabout__expanditem -->
                    <div class="pageabout__expanditem">
                      <div class="pageabout__expandbutton" data-accordionbutton='pageabout'>
                        <div class="pageabout__expandbuttontitle">
                          Приходите к нам
                        </div><!-- /.pageabout__expandbuttontitle -->
                        <div class="pageabout__expandbuttonicon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/pageabout__expandbuttonicon.svg" alt="" title="" >
                        </div><!-- /.pageabout__expandbuttonicon -->
                      </div>
                      <div class="pageabout__expandcontent" data-accordioncontent='pageabout'>
                        текст
                      </div>
                    </div><!-- /.pageabout__expanditem -->
                  </div><!-- /.pageabout__expanditems -->
                </div><!-- /.pageabout__expandblocks -->
              </div><!-- /.pageabout sitesection -->

            </div><!-- /.pageabout -->
          </div>
        </div>

      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>