<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="pageheader ">
          <div class="container">
            <div class="pageheader__content flex column content-center items-center">
              <div class="pagetitle">
                <h1>торты</h1>
              </div>
              <div class="breadcrumbs">
                <div class="container">
                  <div class="breadcrumbs__items">
                    <ul>
                      <li>
                        <a href="/" aria-label="index">
                          <span>
                            <img src="#" data-src="img/breadcrumbs.svg" alt="" title="" width="20" height="20">
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="" aria-label="link">
                          <span>Каталог</span>
                        </a>
                      </li>
                      <li>
                        <span>фирменные торты </span>
                      </li>
                    </ul>
                  </div>
                  <!-- /.breadcrumbs__items -->
                </div>
                <!-- /.container -->
              </div>
              <!-- /.breadcrumbs -->
              <div class="pageheader__filter">
                <div class="mainmenu__list">
                  <ul>
                    <li><a href="" class='active'><span>Фирменные в наличии</span></a></li>
                    <li><a href="" aria-label="link"><span>За 48 часов</span></a></li>
                    <li><a href="" aria-label="link"><span>Заказные</span></a></li>
                    <li><a href="" aria-label="link"><span>по Госту</span></a></li>
                    <li><a href="" aria-label="link"><span>Дополнительно к торту</span></a></li>
                  </ul>
                </div>
              </div><!-- /.pageheader__filter -->
            </div><!-- /.pageheader flex content-center -->
          </div>
        </div>


        <div class="page ">
          <div class="container">
               <div class="categoryblock sitesection catalogroot">
          <div class="container">
            <h2>Торт на заказ</h2>
            <div class="categoryblock__items">
              <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".15s">
                <div class="categoryblock__content">
                  <a href='' class="categoryblock__image hoverimage">
                    <img src="#" data-src="img/categoryblock__image1.webp" alt="" title=""  width='405' height='537'>
                  </a>
                  <a href='#' class="categoryblock__link">
                    <span class="categoryblock__title">На день рождения</span>
                    <span class="categoryblock__arrow">
                      <span class='slider__button slider__button--next' >
                        <span class="slider__button-block">
                          <img src="#" data-src="img/categoryblock__arrow.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--default' width='12' height='12'>
                          <img src="#" data-src="img/categoryblock__arrow_white.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--hidden' width='12' height='12'>
                        </span>
                      </span>

                    </span>
                  </a><!-- /.categoryblock__link -->
                </div><!-- /.categoryblock__content -->
              </div><!-- /.categoryblock__item -->
              <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".15s">
                <div class="categoryblock__content">
                  <a href='' class="categoryblock__image hoverimage">
                    <img src="#" data-src="img/categoryblock__image1.webp" alt="" title=""  width='405' height='537'>
                  </a>
                  <a href='#' class="categoryblock__link">
                    <span class="categoryblock__title">На день рождения</span>
                    <span class="categoryblock__arrow">
                      <span class='slider__button slider__button--next' >
                        <span class="slider__button-block">
                          <img src="#" data-src="img/categoryblock__arrow.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--default' width='12' height='12'>
                          <img src="#" data-src="img/categoryblock__arrow_white.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--hidden' width='12' height='12'>
                        </span>
                      </span>

                    </span>
                  </a><!-- /.categoryblock__link -->
                </div><!-- /.categoryblock__content -->
              </div><!-- /.categoryblock__item -->
              <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".15s">
                <div class="categoryblock__content">
                  <a href='' class="categoryblock__image hoverimage">
                    <img src="#" data-src="img/categoryblock__image1.webp" alt="" title=""  width='405' height='537'>
                  </a>
                  <a href='#' class="categoryblock__link">
                    <span class="categoryblock__title">На день рождения</span>
                    <span class="categoryblock__arrow">
                      <span class='slider__button slider__button--next' >
                        <span class="slider__button-block">
                          <img src="#" data-src="img/categoryblock__arrow.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--default' width='12' height='12'>
                          <img src="#" data-src="img/categoryblock__arrow_white.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--hidden' width='12' height='12'>
                        </span>
                      </span>

                    </span>
                  </a><!-- /.categoryblock__link -->
                </div><!-- /.categoryblock__content -->
              </div><!-- /.categoryblock__item -->
              <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".15s">
                <div class="categoryblock__content">
                  <a href='' class="categoryblock__image hoverimage">
                    <img src="#" data-src="img/categoryblock__image1.webp" alt="" title=""  width='405' height='537'>
                  </a>
                  <a href='#' class="categoryblock__link">
                    <span class="categoryblock__title">На день рождения</span>
                    <span class="categoryblock__arrow">
                      <span class='slider__button slider__button--next' >
                        <span class="slider__button-block">
                          <img src="#" data-src="img/categoryblock__arrow.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--default' width='12' height='12'>
                          <img src="#" data-src="img/categoryblock__arrow_white.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--hidden' width='12' height='12'>
                        </span>
                      </span>

                    </span>
                  </a><!-- /.categoryblock__link -->
                </div><!-- /.categoryblock__content -->
              </div><!-- /.categoryblock__item -->
              <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".15s">
                <div class="categoryblock__content">
                  <a href='' class="categoryblock__image hoverimage">
                    <img src="#" data-src="img/categoryblock__image1.webp" alt="" title=""  width='405' height='537'>
                  </a>
                  <a href='#' class="categoryblock__link">
                    <span class="categoryblock__title">На день рождения</span>
                    <span class="categoryblock__arrow">
                      <span class='slider__button slider__button--next' >
                        <span class="slider__button-block">
                          <img src="#" data-src="img/categoryblock__arrow.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--default' width='12' height='12'>
                          <img src="#" data-src="img/categoryblock__arrow_white.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--hidden' width='12' height='12'>
                        </span>
                      </span>

                    </span>
                  </a><!-- /.categoryblock__link -->
                </div><!-- /.categoryblock__content -->
              </div><!-- /.categoryblock__item -->
              <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".15s">
                <div class="categoryblock__content">
                  <a href='' class="categoryblock__image hoverimage">
                    <img src="#" data-src="img/categoryblock__image1.webp" alt="" title=""  width='405' height='537'>
                  </a>
                  <a href='#' class="categoryblock__link">
                    <span class="categoryblock__title">На день рождения</span>
                    <span class="categoryblock__arrow">
                      <span class='slider__button slider__button--next' >
                        <span class="slider__button-block">
                          <img src="#" data-src="img/categoryblock__arrow.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--default' width='12' height='12'>
                          <img src="#" data-src="img/categoryblock__arrow_white.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--hidden' width='12' height='12'>
                        </span>
                      </span>

                    </span>
                  </a><!-- /.categoryblock__link -->
                </div><!-- /.categoryblock__content -->
              </div><!-- /.categoryblock__item -->
              <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".15s">
                <div class="categoryblock__content">
                  <a href='' class="categoryblock__image hoverimage">
                    <img src="#" data-src="img/categoryblock__image1.webp" alt="" title=""  width='405' height='537'>
                  </a>
                  <a href='#' class="categoryblock__link">
                    <span class="categoryblock__title">На день рождения</span>
                    <span class="categoryblock__arrow">
                      <span class='slider__button slider__button--next' >
                        <span class="slider__button-block">
                          <img src="#" data-src="img/categoryblock__arrow.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--default' width='12' height='12'>
                          <img src="#" data-src="img/categoryblock__arrow_white.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--hidden' width='12' height='12'>
                        </span>
                      </span>

                    </span>
                  </a><!-- /.categoryblock__link -->
                </div><!-- /.categoryblock__content -->
              </div><!-- /.categoryblock__item -->
              <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".15s">
                <div class="categoryblock__content">
                  <a href='' class="categoryblock__image hoverimage">
                    <img src="#" data-src="img/categoryblock__image1.webp" alt="" title=""  width='405' height='537'>
                  </a>
                  <a href='#' class="categoryblock__link">
                    <span class="categoryblock__title">На день рождения</span>
                    <span class="categoryblock__arrow">
                      <span class='slider__button slider__button--next' >
                        <span class="slider__button-block">
                          <img src="#" data-src="img/categoryblock__arrow.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--default' width='12' height='12'>
                          <img src="#" data-src="img/categoryblock__arrow_white.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--hidden' width='12' height='12'>
                        </span>
                      </span>

                    </span>
                  </a><!-- /.categoryblock__link -->
                </div><!-- /.categoryblock__content -->
              </div><!-- /.categoryblock__item -->
              <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".15s">
                <div class="categoryblock__content">
                  <a href='' class="categoryblock__image hoverimage">
                    <img src="#" data-src="img/categoryblock__image1.webp" alt="" title=""  width='405' height='537'>
                  </a>
                  <a href='#' class="categoryblock__link">
                    <span class="categoryblock__title">На день рождения</span>
                    <span class="categoryblock__arrow">
                      <span class='slider__button slider__button--next' >
                        <span class="slider__button-block">
                          <img src="#" data-src="img/categoryblock__arrow.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--default' width='12' height='12'>
                          <img src="#" data-src="img/categoryblock__arrow_white.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--hidden' width='12' height='12'>
                        </span>
                      </span>

                    </span>
                  </a><!-- /.categoryblock__link -->
                </div><!-- /.categoryblock__content -->
              </div><!-- /.categoryblock__item -->
              <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".15s">
                <div class="categoryblock__content">
                  <a href='' class="categoryblock__image hoverimage">
                    <img src="#" data-src="img/categoryblock__image1.webp" alt="" title=""  width='405' height='537'>
                  </a>
                  <a href='#' class="categoryblock__link">
                    <span class="categoryblock__title">На день рождения</span>
                    <span class="categoryblock__arrow">
                      <span class='slider__button slider__button--next' >
                        <span class="slider__button-block">
                          <img src="#" data-src="img/categoryblock__arrow.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--default' width='12' height='12'>
                          <img src="#" data-src="img/categoryblock__arrow_white.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--hidden' width='12' height='12'>
                        </span>
                      </span>

                    </span>
                  </a><!-- /.categoryblock__link -->
                </div><!-- /.categoryblock__content -->
              </div><!-- /.categoryblock__item -->
              <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".15s">
                <div class="categoryblock__content">
                  <a href='' class="categoryblock__image hoverimage">
                    <img src="#" data-src="img/categoryblock__image1.webp" alt="" title=""  width='405' height='537'>
                  </a>
                  <a href='#' class="categoryblock__link">
                    <span class="categoryblock__title">На день рождения</span>
                    <span class="categoryblock__arrow">
                      <span class='slider__button slider__button--next' >
                        <span class="slider__button-block">
                          <img src="#" data-src="img/categoryblock__arrow.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--default' width='12' height='12'>
                          <img src="#" data-src="img/categoryblock__arrow_white.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--hidden' width='12' height='12'>
                        </span>
                      </span>

                    </span>
                  </a><!-- /.categoryblock__link -->
                </div><!-- /.categoryblock__content -->
              </div><!-- /.categoryblock__item -->
              <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".15s">
                <div class="categoryblock__content">
                  <a href='' class="categoryblock__image hoverimage">
                    <img src="#" data-src="img/categoryblock__image1.webp" alt="" title=""  width='405' height='537'>
                  </a>
                  <a href='#' class="categoryblock__link">
                    <span class="categoryblock__title">На день рождения</span>
                    <span class="categoryblock__arrow">
                      <span class='slider__button slider__button--next' >
                        <span class="slider__button-block">
                          <img src="#" data-src="img/categoryblock__arrow.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--default' width='12' height='12'>
                          <img src="#" data-src="img/categoryblock__arrow_white.svg" alt="" title="" 
                            class='slider__button-svg slider__button-svg--hidden' width='12' height='12'>
                        </span>
                      </span>

                    </span>
                  </a><!-- /.categoryblock__link -->
                </div><!-- /.categoryblock__content -->
              </div><!-- /.categoryblock__item -->
            
            </div><!-- /.categoryblock__items -->
          </div><!-- /.container -->
        </div><!-- /.categoryblock -->


          </div>
          </div>

      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>