<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="container">
          <div class="pageheader__row">
            <div class="pageheader__left">
              <div class="pageheader__content">

                <div class="breadcrumbs">
                  <div class="container">
                    <div class="breadcrumbs__items">
                      <ul>
                        <li>
                          <a href="/">
                            <span>
                              <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                data-src="img/breadcrumbs.svg" alt="" title="" >
                            </span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <span>Каталог</span>
                          </a>
                        </li>
                        <li>
                          <span>фирменные торты </span>
                        </li>
                      </ul>
                    </div>
                    <!-- /.breadcrumbs__items -->
                  </div>
                  <!-- /.container -->
                </div>
                <!-- /.breadcrumbs -->

              </div><!-- /.pageheader flex content-center -->
            </div><!-- /.pageheader__left -->

          </div><!-- /.pageheader__row -->
        </div>


        <div class="page pagevent">
          <div class="pagefilial pagefilial_events">
            <div class="pagefilial__header">
              <div class="container">
                <div class="pagefilial__wrapper">

                  <div class="pagefilial__content">
                    <div class="pagefilial__top">
                      <div class="pagefilial__maintitle onlyDesktop">Банкеты</div>
                      <div class="pagefilial__title">Зал кондитерской <br>на Кудринской</div>
                      <div class="pagefilial__info onlyMobile">
                        <div class="contactitem__info">
                          <div class="contactitem__text">9:00 - 21:00</div>
                          <div class="contactitem__small">Без выходных</div>
                        </div>
                      </div><!-- /.pagefilial__info -->
                    </div><!-- /.pagefilial__top -->
                    <div class="contactitem__main">
                      <div class="contactitem__address">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                          data-src="img/locationsm.svg" alt="" title=""  width="18" height="18" src="img/locationsm.svg"><span>г.
                          Москва, Кудринская
                          площадь, 1</span>
                      </div><!-- /.contactitem__address -->
                      <div class="contactitem__phones">
                        <a href="tel:+74957997707" class="linkred">+7 (495) 799-77-07</a>
                        <a href="tel:+74992523736" class="linkred ">+7 (499) 252-37-36</a>
                        <div class="contactline__messenger">
                          <a href="#" aria-label="contactline__messenger">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                              data-src="img/WhatsApp.svg" alt="" title=""  class="offHover" width="42" height="42"
                              src="img/WhatsApp.svg">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                              data-src="img/WhatsApp2.svg" alt="" title=""  class="onHover" width="42" height="42"
                              src="img/WhatsApp2.svg">
                          </a>
                        </div>

                      </div><!-- /.contactitem__phones -->
                    </div>
                    <div class="pagefilial__info onlyDesktop">
                      <div class="contactitem__info">
                        <div class="contactitem__text">9:00 - 21:00</div>
                        <div class="contactitem__small">Без выходных</div>
                      </div>
                    </div><!-- /.pagefilial__info -->
                  </div><!-- /.pagefilial__content -->
                  <div class="pagefilial__tour ">
                    <div class="pagefilial__maintitle onlyMobile">Банкеты</div>

                    <div class="pagefilial__mainimage">
                      <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                        data-src="img/pagefilial_events.jpg" alt="" title="" >


                    </div><!-- /.pagefilial__mainimage -->

                  </div><!-- /.pagefilial__tour -->
                </div><!-- /.pagefilial__wrapper -->

              </div><!-- /.container -->
            </div><!-- /.pagefilial__header -->

          </div><!-- /.pagefilial -->


          <div class="categoryblock sitesection">
            <div class="container">
              <h2>Мероприятия</h2>
              <div class="categoryblock__items">
                <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".15s">
                  <div class="categoryblock__content">
                    <a href='' class="categoryblock__image hoverimage">
                      <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                        data-src="img/categoryblock__image1.webp" alt="" title=""  width='405' height='537'>
                    </a>
                    <a href='#' class="categoryblock__link">
                      <div class="categoryblock__title">Детские</div>

                    </a><!-- /.categoryblock__link -->
                  </div><!-- /.categoryblock__content -->
                </div><!-- /.categoryblock__item -->
                <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".25s">
                  <div class="categoryblock__content">
                    <a href='' class="categoryblock__image hoverimage">
                      <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/event1.webp"
                        alt="" title=""  width='405' height='537'>
                    </a>
                    <a href='#' class="categoryblock__link">
                      <div class="categoryblock__title">Дни рождения</div>

                    </a><!-- /.categoryblock__link -->
                  </div><!-- /.categoryblock__content -->
                </div><!-- /.categoryblock__item -->
                <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".35s">
                  <div class="categoryblock__content">
                    <a href='' class="categoryblock__image hoverimage">
                      <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/event2.webp"
                        alt="" title=""  width='405' height='537'>
                    </a>
                    <a href='#' class="categoryblock__link">
                      <div class="categoryblock__title">Презентации </div>

                    </a><!-- /.categoryblock__link -->
                  </div><!-- /.categoryblock__content -->
                </div><!-- /.categoryblock__item -->
                <div class="categoryblock__item  fadeInUpSmall wow" data-wow-delay=".45s">
                  <div class="categoryblock__content">
                    <a href='' class="categoryblock__image hoverimage">
                      <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/event3.webp"
                        alt="" title=""  width='405' height='537'>
                    </a>
                    <a href='#' class="categoryblock__link">
                      <div class="categoryblock__title">Мастер-классы</div>

                    </a><!-- /.categoryblock__link -->
                  </div><!-- /.categoryblock__content -->
                </div><!-- /.categoryblock__item -->
              </div><!-- /.categoryblock__items -->
            </div><!-- /.container -->
          </div><!-- /.categoryblock -->


          <div class="sitesection pageabout__items_event">
            <div class="container">
              <h3>Наши преимущества</h3>
              <div class="pageabout__items">
                <div class="pageabout__item">
                  <div class="aboutitem">
                    <div class="aboutitem__wrapper">
                      <div class="aboutitem__header">
                        <div class="aboutitem__icon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/items_event1.svg" alt="" title=""  width='40' height='40'>
                        </div><!-- /.aboutitem__icon -->
                        <div class="aboutitem__number">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/aboutnumber1.svg" alt="" title=""  width='168' height='91'>
                        </div><!-- /.aboutitem__number -->
                      </div><!-- /.aboutitem__header -->
                      <div class="aboutitem__footer">
                        <div class="aboutitem__text">Большой выбор <br> авторских десертов</div>
                      </div><!-- /.aboutitem__footer -->
                    </div><!-- /.aboutitem__wrapper -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.pageabout__item -->
                <div class="pageabout__item">
                  <div class="aboutitem">
                    <div class="aboutitem__wrapper">
                      <div class="aboutitem__header">
                        <div class="aboutitem__icon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/items_event2.svg" alt="" title=""  width='40' height='40'>
                        </div><!-- /.aboutitem__icon -->
                        <div class="aboutitem__number">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/aboutnumber2.svg" alt="" title=""  width='168' height='91'>
                        </div><!-- /.aboutitem__number -->
                      </div><!-- /.aboutitem__header -->
                      <div class="aboutitem__footer">
                        <div class="aboutitem__text">Авторское <br> детское меню</div>
                      </div><!-- /.aboutitem__footer -->
                    </div><!-- /.aboutitem__wrapper -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.pageabout__item -->
                <div class="pageabout__item">
                  <div class="aboutitem">
                    <div class="aboutitem__wrapper">
                      <div class="aboutitem__header">
                        <div class="aboutitem__icon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/items_event3.svg" alt="" title=""  width='40' height='40'>
                        </div><!-- /.aboutitem__icon -->
                        <div class="aboutitem__number">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/aboutnumber3.svg" alt="" title=""  width='168' height='91'>
                        </div><!-- /.aboutitem__number -->
                      </div><!-- /.aboutitem__header -->
                      <div class="aboutitem__footer">
                        <div class="aboutitem__text">Организуем <br>для ваc мероприятия</div>
                      </div><!-- /.aboutitem__footer -->
                    </div><!-- /.aboutitem__wrapper -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.pageabout__item -->
                <div class="pageabout__item">
                  <div class="aboutitem">
                    <div class="aboutitem__wrapper">
                      <div class="aboutitem__header">
                        <div class="aboutitem__icon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/items_event4.svg" alt="" title=""  width='40' height='40'>
                        </div><!-- /.aboutitem__icon -->
                        <div class="aboutitem__number">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/aboutnumber4.svg" alt="" title=""  width='168' height='91'>
                        </div><!-- /.aboutitem__number -->
                      </div><!-- /.aboutitem__header -->
                      <div class="aboutitem__footer">
                        <div class="aboutitem__text">2 минуты <br>от станции метро</div>
                      </div><!-- /.aboutitem__footer -->
                    </div><!-- /.aboutitem__wrapper -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.pageabout__item -->
                <div class="pageabout__item">
                  <div class="aboutitem">
                    <div class="aboutitem__wrapper">
                      <div class="aboutitem__header">
                        <div class="aboutitem__icon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/items_event5.svg" alt="" title=""  width='40' height='40'>
                        </div><!-- /.aboutitem__icon -->
                        <div class="aboutitem__number">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/aboutnumber5.svg" alt="" title=""  width='168' height='91'>
                        </div><!-- /.aboutitem__number -->
                      </div><!-- /.aboutitem__header -->
                      <div class="aboutitem__footer">
                        <div class="aboutitem__text">Парковка рядом <br>с Кондитерской</div>
                      </div><!-- /.aboutitem__footer -->
                    </div><!-- /.aboutitem__wrapper -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.pageabout__item -->
                <div class="pageabout__item">
                  <div class="aboutitem">
                    <div class="aboutitem__wrapper">
                      <div class="aboutitem__header">
                        <div class="aboutitem__icon">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/items_event6.svg" alt="" title=""  width='40' height='40'>
                        </div><!-- /.aboutitem__icon -->
                        <div class="aboutitem__number">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/aboutnumber6.svg" alt="" title=""  width='168' height='91'>
                        </div><!-- /.aboutitem__number -->
                      </div><!-- /.aboutitem__header -->
                      <div class="aboutitem__footer">
                        <div class="aboutitem__text">Уютный зал <br>с автономным звуком</div>
                      </div><!-- /.aboutitem__footer -->
                    </div><!-- /.aboutitem__wrapper -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.pageabout__item -->
              </div><!-- /.pageabout__items -->
            </div><!-- /.container -->
          </div><!-- /.sitesection -->

          <div class="sitesection pageaboutrooms">
            <div class="container">
              <h3>Вместимость наших залов</h3>
            </div><!-- /.container -->
            <div class="pageabout__rooms">
              <div class="container">
                <div class="pageabout__roomsitems">
                  <div class="pageabout__roomsitem">
                    <div class="pageabout__roomstitle">Банкет</div>
                    <div class="pageabout__roomsvalue">До 20 человек</div>
                  </div><!-- /.pageabout__roomsitem -->
                  <div class="pageabout__roomsitem">
                    <div class="pageabout__roomstitle">Детский праздник</div>
                    <div class="pageabout__roomsvalue">до 20 детей + 10 взрослых</div>
                  </div><!-- /.pageabout__roomsitem -->
                  <div class="pageabout__roomsitem">
                    <div class="pageabout__roomstitle">Бизнес-завтраки</div>
                    <div class="pageabout__roomsvalue">До 20 человек</div>
                  </div><!-- /.pageabout__roomsitem -->
                </div><!-- /.pageabout__roomsitems -->
              </div><!-- /.container -->
            </div><!-- /.pageabout__rooms -->
          </div><!-- /.sitesection -->

          <div class="banketsection">
            <div class="container">
              <div class="banketsection__wrapper">
                <div class="banketsection__left">
                  <div class="banketsection__title onlyMobile">Ознакомьтесь с банкетным меню!</div>
                  <!-- /.banketsection__title -->

                  <div class="banketsection__image">
                    <div class="banketsection__img">
                      <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                        data-src="img/banketsection.webp" alt="" title=""  width='756' height='575'>
                    </div><!-- /.banketsection__img -->
                  </div><!-- /.banketsection__image -->
                </div><!-- /.banketsection__left -->
                <div class="banketsection__right">
                  <div class="banketsection__content">
                    <div class="banketsection__title onlyDesktop">Ознакомьтесь с банкетным меню!</div>
                    <!-- /.banketsection__title -->
                    <div class="banketsection__btn">
                      <a href="#" class="btn_linkborder btn_link ">
                        <span>Банкетное меню</span>
                      </a>
                    </div><!-- /.banketsection__btn -->
                  </div><!-- /.banketsection__content -->
                </div><!-- /.banketsection__right -->
              </div><!-- /.banketsection__wrapper -->
            </div><!-- /.container -->
          </div><!-- /.banketsection -->


          <div class="formsection">
            <div class="container">
              <div class="formblock">
                <div class="formblock__left">
                  <div class="formblock__title">Оставьте свою заявку, <br> чтобы забронировать зал</div>
                  <div class="formblock__text">Сделать вы это можете по телефону или заполнив короткую форму на сайте.
                  </div>
                  <div class="formblock__contact">
                    <div class="contactlabel">Единый номер</div>
                    <div class="contactitem__phones">
                      <a href="tel:+74957997707" class="linkred">+7 (495) 799-77-07</a>
                      <div class="contactline__messenger">
                        <a href="#" aria-label="contactline__messenger">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/WhatsApp.svg" alt="" title=""  class="offHover" width="42" height="42"
                            src="img/WhatsApp.svg">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="img/WhatsApp2.svg" alt="" title=""  class="onHover" width="42" height="42"
                            src="img/WhatsApp2.svg">
                        </a>
                      </div>

                    </div>
                  </div>
                </div><!-- /.formblock__left -->
                <div class="formblock__right">
                  <div class="formblock__form">
                    <form action="#">
                      <div class="formblock__items">
                        <div class="formblock__input formblock__input_full">
                          <label for="pageformfio">Ваше имя</label>
                          <input id="pageformfio" type="text">
                        </div>
                        <div class="formblock__input">
                          <label for="pageformemail">Email</label>
                          <input id="pageformemail" type="email">
                        </div>
                        <div class="formblock__input">
                          <label for="pageformtel">Телефон</label>
                          <input id='pageformtel' type="tel">
                        </div>
                      </div><!-- /.formblock__items -->
                      <div class="formblock__items formblock__items_submit">
                        <div class="formblock__input ">
                          <div class="formblock__check">
                            <div class="check">
                              <input type="checkbox" id="agree" checked="checked" value="Y">
                              <label for="agree">Я подтверждаю свое согласие с обработкой <a href="">ПЕРСОНАЛЬНЫХ
                                  ДАННЫХ</a>
                              </label>
                            </div>
                          </div><!-- /.formblock__check -->
                        </div>
                        <div class="formblock__input xsfirst">

                          <button type="submit" class="btn btn_main">Оформить заказ</button>
                        </div>

                      </div>
                    </form>
                  </div><!-- /.formblock__form -->
                </div><!-- /.formblock__right -->
              </div><!-- /.formblock -->
            </div><!-- /.container -->
          </div><!-- /.formsection -->

        </div>

      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>