<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="pageheader ">
          <div class="container">
            <div class="pageheader__content flex column content-center items-center">
              <div class="pagetitle">
                <h1>Меню</h1>
              </div>
              <div class="breadcrumbs">
                <div class="container">
                  <div class="breadcrumbs__items">
                    <ul>
                      <li>
                        <a href="/">
                          <span>
                            <img src="" data-src="img/breadcrumbs.svg" alt="">
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <span>Каталог</span>
                        </a>
                      </li>
                      <li>
                        <span>фирменные торты </span>
                      </li>
                    </ul>
                  </div>
                  <!-- /.breadcrumbs__items -->
                </div>
                <!-- /.container -->
              </div>
              <!-- /.breadcrumbs -->
              <div class="pageheader__filter">
                <div class="mainmenu__list mainmenu__list_row">
                  <ul>
                    <li><a href="" class='locationgb active'><span>Меню на удальцова</span></a></li>
                    <li><a href="" class='locationgb'><span>Меню на Курдинской</span></a></li>
                    <li><a href="" class='locationgb'><span>Меню на смольной</span></a></li>
                
                  </ul>
                </div>
              </div><!-- /.pageheader__filter -->
            </div><!-- /.pageheader flex content-center -->
          </div>
        </div>


        <div class="page ">
          <div class="container">
            <div class="menupage" data-tabs='menupage'>
              <div class="menupage__tabs">
                <div class="menupage__tabsheader" data-headertabs='menupage'>
                  <div class="menupage__tabsheaderitem active" data-headertab='menupage'>
                    Завтраки
                  </div><!-- /.menupage__tabsheaderitem -->
                  <div class="menupage__tabsheaderitem"  data-headertab='menupage'>
                    Бизнес-ланч
                  </div><!-- /.menupage__tabsheaderitem -->
                  <div class="menupage__tabsheaderitem" data-headertab='menupage'>
                    Основное меню
                  </div><!-- /.menupage__tabsheaderitem -->
                  <div class="menupage__tabsheaderitem" data-headertab='menupage'>
                    Детское меню
                  </div><!-- /.menupage__tabsheaderitem -->
                </div><!-- /.menupage__tabsheader -->
                <div class="menupage__main">
                  <div class="menupage__content active" data-contenttabs='menupage'>
                    <div class="menupage__menu">
                      <img src="" data-src="img/menu1.png" alt="">
                    </div><!-- /.menupage__menu -->
                  </div><!-- /.menupage__content -->
                  <div class="menupage__content " data-contenttabs='menupage'>
                    <div class="menupage__menu">
                      Бизнес-ланч
                    </div><!-- /.menupage__menu -->
                  </div><!-- /.menupage__content -->
                  <div class="menupage__content " data-contenttabs='menupage'>
                    <div class="menupage__menu">
                      Основное меню
                    </div><!-- /.menupage__menu -->
                  </div><!-- /.menupage__content -->
                  <div class="menupage__content " data-contenttabs='menupage'>
                    <div class="menupage__menu">
                      Детское меню
                    </div><!-- /.menupage__menu -->
                  </div><!-- /.menupage__content -->
                </div><!-- /.menupage__main -->
              </div><!-- /.menupage__tabs -->
            </div><!-- /.menupage -->

         

          </div>
          </div>

      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>