<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="pageheader ">
          <div class="container">
            <div class="pageheader__content flex column content-center items-center">
              <div class="pagetitle">
                <h1>Праздничные торты на заказ</h1>
              </div>
              <div class="breadcrumbs">
                <div class="container">
                  <div class="breadcrumbs__items">
                    <ul>
                      <li>
                        <a href="/" aria-label="index">
                          <span>
                            <img src="img/breadcrumbs.svg" data-src="img/breadcrumbs.svg" alt="" title="" width="20"
                              height="20">
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="" aria-label="link">
                          <span>Каталог</span>
                        </a>
                      </li>
                      <li>
                        <span>фирменные торты </span>
                      </li>
                    </ul>
                  </div>
                  <!-- /.breadcrumbs__items -->
                </div>
                <!-- /.container -->
              </div>
              <!-- /.breadcrumbs -->
              <div class="pageheader__filter">
                <div class="mainmenu__list">
                  <ul>
                    <li><a href="" class="active"><span>Корпоративные</span></a></li>
                    <li><a href="" aria-label="link"><span>На день рождения</span></a></li>
                    <li><a href="" aria-label="link"><span>Свадебные</span></a></li>
                    <li><a href="" aria-label="link"><span>Праздничные</span></a></li>
                    <li><a href="" aria-label="link"><span>Детские</span></a></li>
                  </ul>
                </div>
              </div><!-- /.pageheader__filter -->
            </div><!-- /.pageheader flex content-center -->
          </div>
        </div>

        <div class="page">
          <div class="container">
            <div class="catalogpage">
              <div class="gallerypage">
                <div class="gallerypage__items">
                  <div class="gallerypage__item">
                    <a href="img/gallerypage1.jpg" data-lightbox="1" class="gallerypage__link">
                      <span class="gallerypage__content">
                        <span class="gallerypage__img">
                          <img src="img/gallerypage1.jpg" alt="" title="" width="404" height="505">
                        </span>
                      </span>
                    </a>
                  </div><!-- /.gallerypage__item -->
                  <div class="gallerypage__item">
                    <a href="img/gallerypage1.jpg" data-lightbox="1" class="gallerypage__link">
                      <span class="gallerypage__content">
                        <span class="gallerypage__img">
                          <img src="img/gallerypage1.jpg" alt="" title="" width="404" height="505">
                        </span>
                      </span>
                    </a>
                  </div><!-- /.gallerypage__item -->
                  <div class="gallerypage__item">
                    <a href="img/gallerypage1.jpg" data-lightbox="1" class="gallerypage__link">
                      <span class="gallerypage__content">
                        <span class="gallerypage__img">
                          <img src="img/gallerypage1.jpg" alt="" title="" width="404" height="505">
                        </span>
                      </span>
                    </a>
                  </div><!-- /.gallerypage__item -->
                  <div class="gallerypage__item">
                    <a href="img/gallerypage1.jpg" data-lightbox="1" class="gallerypage__link">
                      <span class="gallerypage__content">
                        <span class="gallerypage__img">
                          <img src="img/gallerypage1.jpg" alt="" title="" width="404" height="505">
                        </span>
                      </span>
                    </a>
                  </div><!-- /.gallerypage__item -->
                  <div class="gallerypage__item">
                    <a href="img/gallerypage1.jpg" data-lightbox="1" class="gallerypage__link">
                      <span class="gallerypage__content">
                        <span class="gallerypage__img">
                          <img src="img/gallerypage1.jpg" alt="" title="" width="404" height="505">
                        </span>
                      </span>
                    </a>
                  </div><!-- /.gallerypage__item -->
                  <div class="gallerypage__item">
                    <a href="img/gallerypage1.jpg" data-lightbox="1" class="gallerypage__link">
                      <span class="gallerypage__content">
                        <span class="gallerypage__img">
                          <img src="img/gallerypage1.jpg" alt="" title="" width="404" height="505">
                        </span>
                      </span>
                    </a>
                  </div><!-- /.gallerypage__item -->
                  <div class="gallerypage__item">
                    <a href="img/gallerypage1.jpg" data-lightbox="1" class="gallerypage__link">
                      <span class="gallerypage__content">
                        <span class="gallerypage__img">
                          <img src="img/gallerypage1.jpg" alt="" title="" width="404" height="505">
                        </span>
                      </span>
                    </a>
                  </div><!-- /.gallerypage__item -->
                  <div class="gallerypage__item">
                    <a href="img/gallerypage1.jpg" data-lightbox="1" class="gallerypage__link">
                      <span class="gallerypage__content">
                        <span class="gallerypage__img">
                          <img src="img/gallerypage1.jpg" alt="" title="" width="404" height="505">
                        </span>
                      </span>
                    </a>
                  </div><!-- /.gallerypage__item -->
                  <div class="gallerypage__item">
                    <a href="img/gallerypage1.jpg" data-lightbox="1" class="gallerypage__link">
                      <span class="gallerypage__content">
                        <span class="gallerypage__img">
                          <img src="img/gallerypage1.jpg" alt="" title="" width="404" height="505">
                        </span>
                      </span>
                    </a>
                  </div><!-- /.gallerypage__item -->
                  <div class="gallerypage__item">
                    <a href="img/gallerypage1.jpg" data-lightbox="1" class="gallerypage__link">
                      <span class="gallerypage__content">
                        <span class="gallerypage__img">
                          <img src="img/gallerypage1.jpg" alt="" title="" width="404" height="505">
                        </span>
                      </span>
                    </a>
                  </div><!-- /.gallerypage__item -->
                  <div class="gallerypage__item">
                    <a href="img/gallerypage1.jpg" data-lightbox="1" class="gallerypage__link">
                      <span class="gallerypage__content">
                        <span class="gallerypage__img">
                          <img src="img/gallerypage1.jpg" alt="" title="" width="404" height="505">
                        </span>
                      </span>
                    </a>
                  </div><!-- /.gallerypage__item -->
                  <div class="gallerypage__item">
                    <a href="img/gallerypage1.jpg" data-lightbox="1" class="gallerypage__link">
                      <span class="gallerypage__content">
                        <span class="gallerypage__img">
                          <img src="img/gallerypage1.jpg" alt="" title="" width="404" height="505">
                        </span>
                      </span>
                    </a>
                  </div><!-- /.gallerypage__item -->
                </div><!-- /.gallerypage__items -->
                <div class="gallerypage__more"><a href="#" class="btn_main">Показать еще</a></div>
                <!-- /.gallerypage__more -->
              </div><!-- /.gallerypage -->

              <div class="formsection">
                <div class="container">
                  <div class="formblock">
                    <div class="formblock__left">
                      <div class="formblock__title">Закажите ваш особенный торт сейчас (нужен текст)
                      </div>
                      <div class="formblock__text">Сделать вы это можете по телефону или заполнив короткую форму на сайте.
                      </div>
                      <div class="formblock__contact">
                        <div class="contactlabel">Единый номер
                        </div>
                        <div class="contactitem__phones">
                          <a href="tel:+74957997707" class="linkred regularphone">+7 (495) 799-77-07</a>
                          <div class="contactline__messenger">
                            <a href="https://api.whatsapp.com/send?phone=79037997707"
                              aria-label="contactline__messenger" target="_blank">
                              <img alt="" title="" class="offHover" width="42" height="42" loading="lazy"
                                src="/local/templates/main/public/img/WhatsApp.svg">
                              <img alt="" title="" class="onHover" width="42" height="42" loading="lazy"
                                src="/local/templates/main/public/img/WhatsApp2.svg">
                            </a>
                            <a href="https://api.whatsapp.com/send?phone=79037997707"
                              aria-label="contactline__messenger" target="_blank">
                              +7 (903) 799-77-07
                            </a>

                          </div>

                        </div>
                      </div>
                    </div><!-- /.formblock__left -->
                    <div class="formblock__right">
                      <div class="formblock__form">
                        <form action="#" data-entity="order-form" novalidate="novalidate">
                          <div class="formblock__items">
                            <div class="formblock__input formblock__input_full">
                              <label for="pageformfio">Ваше имя</label>
                              <input id="pageformfio" type="text" name="NAME">
                            </div>
                            <div class="formblock__input">
                              <label for="pageformemail">Email</label>
                              <input id="pageformemail" type="email" name="EMAIL">
                            </div>
                            <div class="formblock__input">
                              <label for="pageformtel">Телефон</label>
                              <input id="pageformtel" type="tel" name="PHONE" inputmode="text">
                            </div>
                          </div><!-- /.formblock__items -->
                          <div class="formblock__items formblock__items_submit">
                            <div class="formblock__input ">
                              <div class="formblock__check">
                                <div class="check">
                                  <input type="checkbox" name="AGREE" id="agree" value="Y">
                                  <label for="agree">Я подтверждаю свое согласие с обработкой <a href="/privacy-policy/"
                                      aria-label="link">ПЕРСОНАЛЬНЫХ
                                      ДАННЫХ</a>
                                  </label>
                                </div>
                              </div><!-- /.formblock__check -->
                            </div>
                            <div class="formblock__input xsfirst">

                              <button type="submit" onclick="ym(97274947,'reachGoal','zakazat-zal'); return true;"
                                class="btn btn_main">Оформить заказ</button>
                            </div>

                          </div>
                        </form>
                      </div><!-- /.formblock__form -->
                    </div><!-- /.formblock__right -->
                  </div><!-- /.formblock -->
                </div><!-- /.container -->
              </div>

              <div class="seoblock">
                <h2>Авторские торты на заказ в москве (SEO block)</h2>
                <div class="text">
                  <p>Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации форм развития. Разнообразный и богатый опыт укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что консультация с широким активом влечет за собой процесс внедрения и модернизации новых предложений. Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития.
                    Товарищи! постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. </p>
                    
                    <p>Равным образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Таким образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Таким образом новая модель организационной деятельности требуют от нас анализа модели развития. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации существенных финансовых и административных условий. Задача организации, в особенности же начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям.</p>
             
                </div><!-- /.text -->
            </div>
            </div>
          </div>
        </div>

      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>