<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> <main>
  <div class="page">
    <div class="pageheader ">
      <div class="container">
        <div class="pageheader__content flex column ">
          <div class="pagetitle">
            <h1>Название темы новости длинное название</h1>
          </div>
          <div class="breadcrumbs">
            <div class="container">
              <div class="breadcrumbs__items">
                <ul>
                  <li>
                    <a href="/" aria-label="index">
                      <span>
                        <img src="img/breadcrumbs.svg" data-src="img/breadcrumbs.svg" alt="" title="" width="20" height="20">
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="" aria-label="link">
                      <span>Каталог</span>
                    </a>
                  </li>
                  <li>
                    <span>фирменные торты </span>
                  </li>
                </ul>
              </div>
              <!-- /.breadcrumbs__items -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.breadcrumbs -->
         
        </div><!-- /.pageheader flex content-center -->
      </div>
    </div>
    <div class="container">
     
     
      <div class="pagecontent">
        <div class="pagetext">
          <p> Пандемия COVID-19 внесла коррективы в бизнес-процессы компании «Мясницкий ряд». Основной акцент - это обеспечение безопасности продукции, сотрудников компании и покупателей. Введены дополнительные меры гигиены для соблюдения санитарных требований к организации работы предприятий, исключающих риски инфицирования, в период режима повышенной готовности. Предпринятые меры стали частью обязательного технологического процесса. </p>
          <p>Для гарантии пищевой безопасности каждое производственное помещение дважды в день обрабатывается дезинфицирующими средствами. Затем промываются чистой водой. Качество обработки контролируют при помощи индикаторов, портативных люменометров и лабораторных исследований. Цеха и линии дезинфицируются при помощи технологии «холодного тумана». Установка генерирует облако со специальным составом, которое равномерно распределяется по всем поверхностям. Микро капли способы проникать и обеззараживать даже самые труднодоступные места. </p>

        </div>
        <!-- /.pagetext -->

        <div class="pagecontent__images">
          <div class="pagecontent__image">
            <a href='img/newsdetail1.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
              <img src="img/newsdetail1.jpg" alt="">
            </a>
          </div>
          <div class="pagecontent__image">
            <a href='img/newsdetail1.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
              <img src="img/newsdetail1.jpg" alt="">
            </a>
          </div>
        </div>
        <!-- /.pagecontent__images -->
       
        <div class="pagetext">
        
          <p>Сотрудникам компании ежедневно, перед началом рабочего дня, измеряется температура бесконтактными термометрами и контролируется их состояние здоровья. Все обеспечены в необходимом объеме средствами индивидуальной защиты: перчатками, лицевыми масками, защитными лицевыми экранами, санитарно-гигиеническими шапочками. Дополнительно, на каждом рабочем месте есть антисептик, чтобы в процессе работы регулярно обрабатывать руки. Обязательным условием является соблюдение дистанции. Проводится качественная уборка помещений, уделяется особое внимание дезинфекции поверхности дверных ручек, столов, выключателям, перил и контактных поверхностей. Каждый час, в каждом помещении обязательное проветривание, а также обработка всех помещений бактерицидными УФ облучателями. Входные двери оборудованы датчиками позволяющими бесконтактно обеспечивать вход в помещения. Офисные сотрудники максимально переведены на удаленный режим работы. </p>
          <h2>Подзаголовок</h2>
         
          <p>Во время карантина фирменные магазины продолжают работу в стандартном режиме. Продавцы в обязательном порядке носят средства индивидуальной защиты: перчатки, маски, лицевые защитные экраны, для покупателей в открытом доступе представлен антисептик.  
          Чтобы покупатели чувствовали себя в безопасности и соблюдали рекомендованный режим самоизоляции, «Мясницкий ряд» оперативно открыл онлайн-магазин и осуществляет бесконтактную доставку по Москве и Московской области, Рязани, Калуге и Твери.</p>
        </div>
        <!-- /.pagetext -->
      </div>
      <!-- /.pagecontent -->
    </div>
    <div class="pageblocksl morenewsslider">
      <div class="container">
        <div class="blockheader flex items-center content-between">
          <div class="blockheader__left">
            <h2>Другие новости</h2>
          </div>
          <!-- /.blockheader__left -->
          <div>
            <a href="#" class="btn_border btn_redborder onlyDesktop">Смотреть все</a>

        </div>
        </div>
        <!-- /.blockheader -->
        <div class="news">
          <div class="itemslist__items">
            
            <div class="itemslist__item itemslist__item_col3">
              <div class="itemslistcard itemslistcard_news">
                <div class="itemslistcard__wrapper">
                  <a href="#" class="itemslistcard__image" tabindex="0">
                    <div class="itemslistcard__img">
                      <img src="img/news1.jpg" alt="">
                    </div>
                  </a>
                  <!-- /.itemslistcard__image -->
                  <div class="itemslistcard__title">
                    <a href="" tabindex="0">Название темы новости длинное название</a>
                  </div>
                  <div class="itemslistcard__info">
                    <div class="itemslistcard__params">
                      <div class="itemslistcard__param">
                        <span class="itemslistcard__text">14.05.22</span>
                      </div>
                      <!-- /.itemslistcard__param -->
                    </div>
                    <!-- /.itemslistcard__params -->
                  </div>
                  <!-- /.itemslistcard__info -->
                </div>
                <!-- /.itemslistcard__wrapper -->
              </div>
            </div>
            <!-- /.itemslists__item -->
            <div class="itemslist__item itemslist__item_col3">
              <div class="itemslistcard itemslistcard_news">
                <div class="itemslistcard__wrapper">
                  <a href="#" class="itemslistcard__image" tabindex="0">
                    <div class="itemslistcard__img">
                      <img src="img/news1.jpg" alt="">
                    </div>
                  </a>
                  <!-- /.itemslistcard__image -->
                  <div class="itemslistcard__title">
                    <a href="" tabindex="0">Название темы новости длинное название</a>
                  </div>
                  <div class="itemslistcard__info">
                    <div class="itemslistcard__params">
                      <div class="itemslistcard__param">
                        <span class="itemslistcard__text">14.05.22</span>
                      </div>
                      <!-- /.itemslistcard__param -->
                    </div>
                    <!-- /.itemslistcard__params -->
                  </div>
                  <!-- /.itemslistcard__info -->
                </div>
                <!-- /.itemslistcard__wrapper -->
              </div>
            </div>
            <!-- /.itemslists__item -->
            <div class="itemslist__item itemslist__item_col3">
              <div class="itemslistcard itemslistcard_news">
                <div class="itemslistcard__wrapper">
                  <a href="#" class="itemslistcard__image" tabindex="0">
                    <div class="itemslistcard__img">
                      <img src="img/news1.jpg" alt="">
                    </div>
                  </a>
                  <!-- /.itemslistcard__image -->
                  <div class="itemslistcard__title">
                    <a href="" tabindex="0">Название темы новости длинное название</a>
                  </div>
                  <div class="itemslistcard__info">
                    <div class="itemslistcard__params">
                      <div class="itemslistcard__param">
                        <span class="itemslistcard__text">14.05.22</span>
                      </div>
                      <!-- /.itemslistcard__param -->
                    </div>
                    <!-- /.itemslistcard__params -->
                  </div>
                  <!-- /.itemslistcard__info -->
                </div>
                <!-- /.itemslistcard__wrapper -->
              </div>
            </div>
            <!-- /.itemslists__item -->
          </div>
          <!-- /.itemslists__items -->
           <div class="itemslist__nav">
            <a href="#" class="btn_border btn_redborder onlyMobile">Смотреть все</a>

           </div><!-- /.itemslist__nav -->
        </div>
      </div>
    </div>
  </div>
</main><%= _.template(require('../includes/footer.html').default)(data) %>