<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
      
        <div class="page ">
          <div class="container">
          

            <a href="#popup_addproduct" data-toggle='modal' class='btn_main'>Товар добавлен в корзину</a>

          </div>
        </div>

      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>


      <div class="modal fade" tabindex="-1" role="dialog" id="popup_addproduct">
        <div class="modal-dialog modal-dialog_product" role="document">
          <div class="modalwrapper">
            <div class="modal-content">
              <div class="modal-title modal-title_left">Товар добавлен в корзину</div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><img src="img/closebutton.svg" alt="" /></span>
              </button>
              <div class="modal-body">
                <div class="modalproduct">
                  <form action="">
                  <div class="modalproduct__main">
                    <div class="modalproduct__product">
                      <div class="minicard">
                        <div class="minicard__wrapper">
                          <div class="minicard__left">
                            <div class="minicard__section">
                            <div class="minicard__image">
                              <img src="img/product1.webp" alt="" />
                            </div>
                            <div class="minicard__header onlyMobile">
                              <div class="minicard__title">Торт Черная Смородина</div>
                              <div class="minicard__params">
                                <div class="minicard__param">Артикул: 599595</div>
                                <div class="minicard__param">Вес: 1 250 г</div>
                              </div><!-- /.minicard__params -->
                            </div>
                            <!-- /.minicard__info -->
                          </div><!-- /.minicard__section -->
                            <div class="minicard__main">
                              <div class="minicard__title onlyDesktop">Торт Черная Смородина</div>
                              <!-- /.minicard__title -->
                              <div class="minicard__info">
                                <div class="minicard__params onlyDesktop">
                                  <div class="minicard__param">Артикул: 599595</div>
                                  <div class="minicard__param">Вес: 1 250 г</div>
                                </div><!-- /.minicard__params -->
                                <div class="buyblock__quantity">
                                  <div class="quantity">
                                    <input type="button" value="" class="quantity-minus" data-field="quantity">
                                    <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                                    <input type="button" value="" class="quantity-plus" data-field="quantity">
                                  </div>
                                </div>

                                <div class="minicard__price detailinfo__content onlyMobile">
                                  <div class="productcard__prices">
                                    <div class="productcard__mainprice">
                                      <div class="productcard__price">
                                        <div class="productcard__pricevalue">4 150 <small>руб.</small></div>
                                      </div>
                                    </div>
                                    <div class="productcard__topprice">
                                      <div class="productcard__oldprice">4 250</div>
                                    </div>
                                   
                                  </div>
                                </div>
                                
      
                              </div>
                              <!-- /.minicard__buyblock -->
                            </div>
                            <!-- /.minicard__main -->
                          </div>
                          <div class="minicard__right ">
                            <div class="minicard__price detailinfo__content onlyDesktop">
                              <div class="productcard__prices">
                                <div class="productcard__topprice">
                                  <div class="productcard__oldprice">4 250</div>
                                </div>
                                <div class="productcard__mainprice">
                                  <div class="productcard__price">
                                    <div class="productcard__pricevalue">4 150 <small>руб.</small></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- /.minicard__price -->
                            <div class="modalproduct__buttons">
                              <a href="#" class="btn_main">Оформить заказ</a>
                            </div>
                            <!-- /.modalproduct__buttons -->
                          </div>
                        </div>
                        <!-- /.minicard__wrapper -->
                      </div>
                      <!-- /.minicard -->
                    </div>
                    <!-- /.modalproduct__product -->
                   
                  </div>
                  <!-- /.modalproduct__main -->
                </form>
                  <div class="modalproduct__related">
                    <div class="miniproductslider">
                      <div class="pageblocksl productslider">
                        <div class="blockheader flex items-center content-between">
                          <div class="blockheader__left">
                            <h2>ВАм возможно понадобится</h2>
                          </div>
                          <!-- /.blockheader__left -->
                          <div>
                            <div class="sliderarrows flex">
                              <div class="sliderarrows__left">
                                <img src="img/left.svg" alt="" />
                              </div>
                              <!-- /.sliderarrows__left -->
                              <div class="sliderarrows__right">
                                <img src="img/right.svg" alt="" />
                              </div>
                              <!-- /.sliderarrows__right -->
                            </div>
                            <!-- /.sliderarrows -->
                          </div>
                        </div>
                        <!-- /.blockheader -->
                        <div class="productslider__wrapper">
                          <div class="productslider__container wrap-modal-slider swiper" data-slider="modalslider">
                            <div class="productslider__modalslider swiper-wrapper">
                              <div class="productslider__slide swiper-slide">
                                <div class="productslider__item">
                                  <div class="miniproduct">
                                    <div class="miniproduct__wrapper">
                                      
                                      <div class="miniproduct__main">
                                        <div class="miniproduct__image">
                                          <div class="miniproduct__img">
                                            <a href="#">
                                              <img src="img/product1.webp" alt="" width='135' height='91'>
                                            </a>
                                          </div><!-- /.miniproduct__img -->
                                        </div><!-- /.miniproduct__image -->
                                        <div class="miniproduct__content">
                                          <div class="miniproduct__name">
                                            <a href="#">Малиновый пломбир</a>
                                          </div><!-- /.miniproduct__name -->
                                          <div class="miniproduct__price">
                                            4 150 <small>руб.</small>
                                          </div><!-- /.miniproduct__price -->
                                        </div><!-- /.miniproduct__content -->
                                       
                                      </div><!-- /.miniproduct__main -->
                                      <div class="miniproduct__button">
                                        <div class="productcard__button">
                                          <button type="button" class="btn_ring" aria-label="btn_ring">
                                            <span class="btncart">
                                              <img data-src="img/ShoppingBagWhite.svg" alt="" width="21" height="22" src="img/ShoppingBagWhite.svg">
                                            </span>
                                          </button>
                                        </div>
                                      </div><!-- /.miniproduct__button -->
                                    </div><!-- /.miniproduct__wrapper -->
                                  </div><!-- /.miniproduct -->
                                </div>
                                <!-- /.productslider__item -->
                              </div>
                              <!-- /.productslider__slide  -->
                              <div class="productslider__slide swiper-slide">
                                <div class="productslider__item">
                                  <div class="miniproduct">
                                    <div class="miniproduct__wrapper">
                                      
                                      <div class="miniproduct__main">
                                        <div class="miniproduct__image">
                                          <div class="miniproduct__img">
                                            <a href="#">
                                              <img src="img/product1.webp" alt="" width='135' height='91'>
                                            </a>
                                          </div><!-- /.miniproduct__img -->
                                        </div><!-- /.miniproduct__image -->
                                        <div class="miniproduct__content">
                                          <div class="miniproduct__name">
                                            <a href="#">Малиновый пломбир</a>
                                          </div><!-- /.miniproduct__name -->
                                          <div class="miniproduct__price">
                                            4 150 <small>руб.</small>
                                          </div><!-- /.miniproduct__price -->
                                        </div><!-- /.miniproduct__content -->
                                       
                                      </div><!-- /.miniproduct__main -->
                                      <div class="miniproduct__button">
                                        <div class="productcard__button">
                                          <button type="button" class="btn_ring" aria-label="btn_ring">
                                            <span class="btncart">
                                              <img data-src="img/ShoppingBagWhite.svg" alt="" width="21" height="22" src="img/ShoppingBagWhite.svg">
                                            </span>
                                          </button>
                                        </div>
                                      </div><!-- /.miniproduct__button -->
                                    </div><!-- /.miniproduct__wrapper -->
                                  </div><!-- /.miniproduct -->
                                </div>
                                <!-- /.productslider__item -->
                              </div>
                              <!-- /.productslider__slide  -->
                              <div class="productslider__slide swiper-slide">
                                <div class="productslider__item">
                                  <div class="miniproduct">
                                    <div class="miniproduct__wrapper">
                                      
                                      <div class="miniproduct__main">
                                        <div class="miniproduct__image">
                                          <div class="miniproduct__img">
                                            <a href="#">
                                              <img src="img/product1.webp" alt="" width='135' height='91'>
                                            </a>
                                          </div><!-- /.miniproduct__img -->
                                        </div><!-- /.miniproduct__image -->
                                        <div class="miniproduct__content">
                                          <div class="miniproduct__name">
                                            <a href="#">Малиновый пломбир</a>
                                          </div><!-- /.miniproduct__name -->
                                          <div class="miniproduct__price">
                                            4 150 <small>руб.</small>
                                          </div><!-- /.miniproduct__price -->
                                        </div><!-- /.miniproduct__content -->
                                       
                                      </div><!-- /.miniproduct__main -->
                                      <div class="miniproduct__button">
                                        <div class="productcard__button">
                                          <button type="button" class="btn_ring" aria-label="btn_ring">
                                            <span class="btncart">
                                              <img data-src="img/ShoppingBagWhite.svg" alt="" width="21" height="22" src="img/ShoppingBagWhite.svg">
                                            </span>
                                          </button>
                                        </div>
                                      </div><!-- /.miniproduct__button -->
                                    </div><!-- /.miniproduct__wrapper -->
                                  </div><!-- /.miniproduct -->
                                </div>
                                <!-- /.productslider__item -->
                              </div>
                              <!-- /.productslider__slide  -->
                              <div class="productslider__slide swiper-slide">
                                <div class="productslider__item">
                                  <div class="miniproduct">
                                    <div class="miniproduct__wrapper">
                                      
                                      <div class="miniproduct__main">
                                        <div class="miniproduct__image">
                                          <div class="miniproduct__img">
                                            <a href="#">
                                              <img src="img/product1.webp" alt="" width='135' height='91'>
                                            </a>
                                          </div><!-- /.miniproduct__img -->
                                        </div><!-- /.miniproduct__image -->
                                        <div class="miniproduct__content">
                                          <div class="miniproduct__name">
                                            <a href="#">Малиновый пломбир</a>
                                          </div><!-- /.miniproduct__name -->
                                          <div class="miniproduct__price">
                                            4 150 <small>руб.</small>
                                          </div><!-- /.miniproduct__price -->
                                        </div><!-- /.miniproduct__content -->
                                       
                                      </div><!-- /.miniproduct__main -->
                                      <div class="miniproduct__button">
                                        <div class="productcard__button">
                                          <button type="button" class="btn_ring" aria-label="btn_ring">
                                            <span class="btncart">
                                              <img data-src="img/ShoppingBagWhite.svg" alt="" width="21" height="22" src="img/ShoppingBagWhite.svg">
                                            </span>
                                          </button>
                                        </div>
                                      </div><!-- /.miniproduct__button -->
                                    </div><!-- /.miniproduct__wrapper -->
                                  </div><!-- /.miniproduct -->
                                </div>
                                <!-- /.productslider__item -->
                              </div>
                              <!-- /.productslider__slide  -->
                              <div class="productslider__slide swiper-slide">
                                <div class="productslider__item">
                                  <div class="miniproduct">
                                    <div class="miniproduct__wrapper">
                                      
                                      <div class="miniproduct__main">
                                        <div class="miniproduct__image">
                                          <div class="miniproduct__img">
                                            <a href="#">
                                              <img src="img/product1.webp" alt="" width='135' height='91'>
                                            </a>
                                          </div><!-- /.miniproduct__img -->
                                        </div><!-- /.miniproduct__image -->
                                        <div class="miniproduct__content">
                                          <div class="miniproduct__name">
                                            <a href="#">Малиновый пломбир</a>
                                          </div><!-- /.miniproduct__name -->
                                          <div class="miniproduct__price">
                                            4 150 <small>руб.</small>
                                          </div><!-- /.miniproduct__price -->
                                        </div><!-- /.miniproduct__content -->
                                       
                                      </div><!-- /.miniproduct__main -->
                                      <div class="miniproduct__button">
                                        <div class="productcard__button">
                                          <button type="button" class="btn_ring" aria-label="btn_ring">
                                            <span class="btncart">
                                              <img data-src="img/ShoppingBagWhite.svg" alt="" width="21" height="22" src="img/ShoppingBagWhite.svg">
                                            </span>
                                          </button>
                                        </div>
                                      </div><!-- /.miniproduct__button -->
                                    </div><!-- /.miniproduct__wrapper -->
                                  </div><!-- /.miniproduct -->
                                </div>
                                <!-- /.productslider__item -->
                              </div>
                              <!-- /.productslider__slide  -->
                            
                            </div>
                            <!-- /.productslider__slide r -->
                          </div>
                          <!-- /.productslider__container -->
                        </div>
                        <!-- /.productslider__wrapper -->
                      </div>
                      <!-- /.pageblock -->
                    </div>
                    <!-- /.miniproductslider -->
                  </div>
                  <!-- /.modalproduct__related -->
                </div>
                <!-- /.modalproduct -->
              </div>
            </div>
          </div>
        </div>
      </div>
     