<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="pageheader ">
          <div class="container">
            <div class="pageheader__content flex column content-center items-center">
              <div class="pagetitle">
                <h1>Проекты от шефа</h1>
              </div>
              <div class="breadcrumbs">
                <div class="container">
                  <div class="breadcrumbs__items">
                    <ul>
                      <li>
                        <a href="/">
                          <span>
                            <img src="img/breadcrumbs.svg" alt="">
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <span>Каталог</span>
                        </a>
                      </li>
                      <li>
                        <span>фирменные торты </span>
                      </li>
                    </ul>
                  </div>
                  <!-- /.breadcrumbs__items -->
                </div>
                <!-- /.container -->
              </div>
              <!-- /.breadcrumbs -->

            </div><!-- /.pageheader flex content-center -->
          </div>
        </div>


        <div class="page ">
          <div class="container">
            <div class="catalogpage">


              <div class="cataloglist cataloglist_projects">
                <div class="cataloglist__items ">
                  <div class="cataloglist__item">
                    <div class="projectcard">
                      <div class="projectblock__main">
                        <div class="projectblock__image">
                          <img data-src="img/projectcard1.png" alt="">
                        </div>
                        <div class="projectblock__content">
                          <div class="projectdata">
                            <div class="projectdata__title">Онлайн курс</div>

                            <div class="projectdata__buyblock">
                              <div class="projectdata__left">
                                <div class="projectdata__price">1 500 <small>руб.</small> </div>
                                <div class="projectdata__link">
                                  <a href="#" class="btn_border btn_redborder" aria-label="readmore">Подробнее</a>
                                </div>
                              </div>
                              <div class="projectdata__right">
                                <button type="button" class="btn_ring" aria-label="btn_ring">
                                  <span class="btncart">
                                    <img data-src="img/ShoppingBagWhite.svg" alt="" width="21" height="22"
                                      src="img/ShoppingBagWhite.svg">
                                  </span>
                                </button>
                              </div>
                            </div><!-- /.projectdata__buyblock -->
                          </div><!-- /.projectdata -->
                        </div><!-- /.projectblock__content -->
                      </div>
                    </div><!-- /.projectcard -->
                  </div>
                  <div class="cataloglist__item">
                    <div class="projectcard">
                      <div class="projectblock__main">
                        <div class="projectblock__image">
                          <img data-src="img/projectcard1.png" alt="">
                        </div>
                        <div class="projectblock__content">
                          <div class="projectdata">
                            <div class="projectdata__title">Книга “Рецепт Сладкой жизни”</div>

                            <div class="projectdata__buyblock">
                              <div class="projectdata__left">
                                <div class="projectdata__price">1 500 <small>руб.</small> </div>
                                <div class="projectdata__link">
                                  <a href="#" class="btn_border btn_redborder" aria-label="readmore">Подробнее</a>
                                </div>
                              </div>
                              <div class="projectdata__right">
                                <button type="button" class="btn_ring" aria-label="btn_ring">
                                  <span class="btncart">
                                    <img data-src="img/ShoppingBagWhite.svg" alt="" width="21" height="22"
                                      src="img/ShoppingBagWhite.svg">
                                  </span>
                                </button>
                              </div>
                            </div><!-- /.projectdata__buyblock -->
                          </div><!-- /.projectdata -->
                        </div><!-- /.projectblock__content -->
                      </div>
                    </div><!-- /.projectcard -->
                  </div>
                  <div class="cataloglist__item">
                    <div class="projectcard">
                      <div class="projectblock__main">
                        <div class="projectblock__image">
                          <img data-src="img/projectcard1.png" alt="">
                        </div>
                        <div class="projectblock__content">
                          <div class="projectdata">
                            <div class="projectdata__title">Аудио рассказ</div>

                            <div class="projectdata__buyblock">
                              <div class="projectdata__left">
                                <div class="projectdata__price projectdata__price_free">Бесплатно</div>
                                <div class="projectdata__link">
                                  <a href="#" class="btn_border btn_redborder" aria-label="readmore">Подробнее</a>
                                </div>
                              </div>
                              <div class="projectdata__right">
                                <button type="button" class="btn_ring" aria-label="btn_ring">
                                  <span class="btncart">
                                    <img data-src="img/ShoppingBagWhite.svg" alt="" width="21" height="22"
                                      src="img/ShoppingBagWhite.svg">
                                  </span>
                                </button>
                              </div>
                            </div><!-- /.projectdata__buyblock -->
                          </div><!-- /.projectdata -->
                        </div><!-- /.projectblock__content -->
                      </div>
                    </div><!-- /.projectcard -->
                  </div>
                  <div class="cataloglist__item">
                    <div class="projectcard">
                      <div class="projectblock__main">
                        <div class="projectblock__image">
                          <img data-src="img/projectcard1.png" alt="">
                        </div>
                        <div class="projectblock__content">
                          <div class="projectdata">
                            <div class="projectdata__title">Лекции</div>

                            <div class="projectdata__buyblock">
                              <div class="projectdata__left">
                                <div class="projectdata__price">1 500 <small>руб.</small> </div>
                                <div class="projectdata__link">
                                  <a href="#" class="btn_border btn_redborder" aria-label="readmore">Подробнее</a>
                                </div>
                              </div>
                              <div class="projectdata__right">
                                <button type="button" class="btn_ring" aria-label="btn_ring">
                                  <span class="btncart">
                                    <img data-src="img/ShoppingBagWhite.svg" alt="" width="21" height="22"
                                      src="img/ShoppingBagWhite.svg">
                                  </span>
                                </button>
                              </div>
                            </div><!-- /.projectdata__buyblock -->
                          </div><!-- /.projectdata -->
                        </div><!-- /.projectblock__content -->
                      </div>
                    </div><!-- /.projectcard -->
                  </div>
                  <div class="cataloglist__item">
                    <div class="projectcard">
                      <div class="projectblock__main">
                        <div class="projectblock__image">
                          <img data-src="img/projectcard1.png" alt="">
                        </div>
                        <div class="projectblock__content">
                          <div class="projectdata">
                            <div class="projectdata__title">ViP Подарок</div>

                            <div class="projectdata__buyblock">
                              <div class="projectdata__left">
                                <div class="projectdata__price">1 500 <small>руб.</small> </div>
                                <div class="projectdata__link">
                                  <a href="#" class="btn_border btn_redborder" aria-label="readmore">Подробнее</a>
                                </div>
                              </div>
                              <div class="projectdata__right">
                                <button type="button" class="btn_ring" aria-label="btn_ring">
                                  <span class="btncart">
                                    <img data-src="img/ShoppingBagWhite.svg" alt="" width="21" height="22"
                                      src="img/ShoppingBagWhite.svg">
                                  </span>
                                </button>
                              </div>
                            </div><!-- /.projectdata__buyblock -->
                          </div><!-- /.projectdata -->
                        </div><!-- /.projectblock__content -->
                      </div>
                    </div><!-- /.projectcard -->
                  </div>
                </div>
              </div>

              <section class='pagedescription sitesection'>
                <div class="container">
                  <h2>Авторские торты на заказ в москве (SEO block)</h2>
                  <p>Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации форм развития. Разнообразный и богатый опыт укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что консультация с широким активом влечет за собой процесс внедрения и модернизации новых предложений. Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития.
                    Товарищи! постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. </p>
                  <p>Равным образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Таким образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Таким образом новая модель организационной деятельности требуют от нас анализа модели развития. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации существенных финансовых и административных условий. Задача организации, в особенности же начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям.</p>
                </div><!-- /.container -->
              </section>


              <section class="pagebanner sitesection">
                <div class="container">
                  <div class="pagebanner__wrapper">
                    <div class="pagebanner__items">
                      <div class="pagebanner__left">
                        <div class="pagebanner__text">
                          Скачайте наше приложение и получите скидку до <span class="badge">-10%</span>
                        </div><!-- /.pagebanner__text -->
                      </div><!-- /.pagebanner__left -->
                      <div class="pagebanner__center ">
                        <div class="pagebanner__img">
                          <img src="img/appimg_mob.png" alt="" class='onlyMobile'>
                          <img src="img/appimg.png" alt="" class='onlyDesktop'>

                        </div><!-- /.pagebanner__img -->
                      </div><!-- /.pagebanner__center -->
                      <div class="pagebanner__right">
                        <div class="footer_app">
                          <div class="mobilemenu__app">

                            <div class="mobilemenu__appbuttons">
                              <a href="" target="_blank" class="mobilemenu__appbutton animatebtn">
                                <img src="img/appstore_icon.svg" alt="">
                                <img src="img/appstore_2.svg" alt="">
                              </a>
                              <a href="" target="_blank" class="mobilemenu__appbutton animatebtn">
                                <img src="img/gplay_icon.svg" alt="">
                                <img src="img/gplay_2.svg" alt="">
                              </a>
                            </div><!-- /.mobilemenu__appbuttons -->
                          </div>
                        </div>
                      </div><!-- /.pagebanner__right -->
                    </div><!-- /.pagebanner__items -->
                  </div><!-- /.pagebanner__wrapper -->
                </div><!-- /.container -->
              </section><!-- /.pagebanner -->
            </div>
          </div>
        </div>
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>