@import "./style.scss";


/* mobile */
@include medium-screen {
  .container {
    padding: 0 18px;
    /* max-width: 620px; */
  }
  .contentpage__col_image {
    max-width: 100%;
    min-width: 100%;
  }
  .contentpage__cols {
    flex-wrap: wrap;
  }
  .pageslider .pagecontent__images {
    min-height: unset;
    margin: 0 -18px;
    width: calc(100% + 36px);
  }
  .pageslider  .mainslider__dotsblock {
    bottom: 8px;
  }
  .contentpage .wave {
    padding-bottom: 30px;
  }
  .contentpage .pageheader {
    margin-bottom: 10px;
  }
  .pagecontent__image {
    width: 100%;
  }
  .contentpage  {
    .pageheader h1 {
      font-size: 22px;
font-style: normal;
font-weight: 700;
    }
  }
  .pagecontent__img {
    border-radius: 8px;
  }
  .pageheader h2 {
    font-size: 18px;
font-style: normal;
font-weight: 700;
  }
  .pageslider .pagecontent__img {
    border-radius: 0;
  }
  .contentpage__col_image {
    order: -1;
  }
  .contentpage__col_left {
    margin-right: 0;
  }
  .tablinks__item {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
  .showmorelink_short {
    width: 100%;
    max-width: 100%;

  }

  .tablinks__item a {
    padding: 12px 27px;
    font-size: 16px;

  }

  .catalogheader__right {
    order: -1;
    margin-bottom: 21px;
  }
  .btn_default {
    font-size: 12px;
    padding: 8px 22px;
    text-align: center;
  
  }
  .catalogheader_deforder {
    .catalogheader__left {
      max-width: 50%;
    }
    .catalogheader__right {
      order: 2;
      max-width: 50%;
      margin-bottom: 0;
      justify-content: flex-end;
      display: flex;
    }
  }
  .catalogheader__title {
    font-size: 16px;
  }
  .dropdown-select--type1 {
    width: 100%;
  }
  .asidemenubutton {

    .asidemenubutton__current {
      margin-bottom: 16px;
    }
    .mainmenuLevelOne__link:hover::before {
      display: none;
    }

    .mainmenuLevelOne__link {
      border-radius: 8px;
      background: #FFF;
      padding: 10px 17px;
      box-shadow: 10px 10px 46px 0px rgba(40, 54, 71, 0.10);

      &:after {
        content: url(../img/dropdown_big.svg);
        position: absolute;
        right: 20px;
        top: 50%;
        height: 7px;
        transform: translateY(-7px);
        transition: all 0.3s ease;
      }
      &.active:after {
        transform: rotate(180deg) 
      }
     
    }
    .mainmenu__name {
      margin-left: 11px;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .catalogpage__wrapper {
    flex-wrap: wrap;
  }
  .catalogpage__aside.catalogaside {
    width: 100%;
  }
  .asidebanner {
    display: none;
  }
  .asidemenu {
    display: none;
    margin-bottom: 20px;
  }
  .asidemenu.active {
    display: block;
  }
  .orderform__inputcol {
    padding: 0 3px;
    margin-bottom: 9px;
  }

  .orderform__inputrow {
    margin-bottom: 10px;
  }

  .itemslists__item {
    width: 33.33%;
    padding: 0 9px;
    margin-bottom: 36px;
  }

  .minicard__button {
    margin-right: 15px;
  }

  .mobilemenu.active {
    display: block;
  }

  .detail_off .detailbuy .productcard__buy {
    padding-bottom: 0;
  }

  .detail_off .buyblock__buttons {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  a.productcard__images.productcard__images_mobile.onlyMobile {
    display: block;
  }

  .headermenu {
    position: relative;
  }

  .headermenu__wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .headermenu__link {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .headertop__right {
    display: none;
  }

  .headermain__left {
    width: 100%;
  }

  .headermain__logo {
    display: none;
  }

  .footer__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .headermain__menu {
    display: none;
  }

  .headermain__right {
    display: none;
  }

  .headertop {
    display: none;
  }

  .mobilepanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0 12px 0;
    background: #fff;

    .mobilepanel__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .container {
      padding: 0 18px;
    }

    .logo {
      width: 218px;
      margin-right: 12px;
    }
  }

  .pagemenu {
    display: none;
  }

  .menubutton {
    background: none;
    border: none;
    padding: 0;
  }

  .searchinput {
    height: 36px;
  }

  .headermain__search {
    margin-left: 0;
    max-width: 100%;
  }

  .headermain__left {
    padding-right: 0;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(43, 54, 70, 0.4);
    font-size: 14px;
    line-height: 14px;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(43, 54, 70, 0.4);
    font-size: 14px;
    line-height: 14px;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(43, 54, 70, 0.4);
    font-size: 14px;
    line-height: 14px;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(43, 54, 70, 0.4);
    font-size: 14px;
    line-height: 14px;
  }

  .searchinput input {
    font-size: 14px;
    line-height: 14px;
    padding-left: 16px;
  }

  .searchinput button {
    width: 47px;
    height: 28px;
    border-radius: 5px;

    img {
      width: 18px;
    }
  }

  .headermenu__items {
    margin: 10px 0;
  }

  .headermenu__link {
    font-size: 12px;
    line-height: 14px;
    padding: 5px 4px;
  }

  .headermenu__icon {
    margin-right: 5px;
    width: 15px;
  }

  .headermain {
    margin: 0;
  }

  .pageblock {
    margin: 24px 0;
  }

  h2 {
    margin: 0 0 18px 0;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%
  }

  .fitchesline__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .fitchesline__item {
    width: 50%;
  }

  /*  .productcard__wrapper {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 10px;
  }
  .productslider__slide {
    padding: 0;
  }
  .productcard__title a {
    font-size: 14px;
    line-height: 100%;
  }
  .productslider .slick-list {
    overflow: hidden;
  } */
  a.mainmenubtn.onlyMobile {
    width: 100%;
    height: 42px;
    line-height: 42px;
  }

  .mainmenubtn span {
    padding-left: 7px;
  }

  .sliderarrows__right,
  .sliderarrows__left {
    width: 20px;
  }

  .sliderarrows__right {
    margin-left: 8px;
  }

  .blockheader__left {
    display: block;
  }

  .blockheader a {
    margin-left: 0;
    font-size: 12px;
    line-height: 14px;
  }

  /*   .productcard__img {
    height: 168px;
    padding: 0 10px;
  } */
  .slick-dots {
    bottom: 8px;
  }

  .slick-dots li {
    width: 4px;
    height: 4px;
  }

  .slick-dots li {
    height: 4px;
    margin: 0 2px;
    width: 4px;
  }

  .slick-dots li button {
    background-color: #d9d9d9;
    border-radius: 50%;
    height: 4px;
    padding: 0;
    opacity: 0.75;
    width: 4px;
  }

  /*  .productcard .slick-dots {
    text-align: left;
  }
  .productcard__images {
    padding: 3px 0;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 10px;
  }
  .productcard__img.slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .productcard__rating {
    margin-bottom: 8px;
  }
  .productcard__title {
    line-height: 1;
  }
  .productcard__oldprice {
    margin-right: 8px;
    font-size: 12px;
    line-height: 14px;
  } */
  /*  .productcard__badge {
    font-size: 10px;
    line-height: 100%;
    background: #ffd600;
    border-radius: 555px;
    width: 27px;
    height: 13px;
    padding: 0;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  } */
  /* .productcard__pricevalue {
    font-size: 18px;
    line-height: 21px;
  }
  .productcard__priceunit {
    font-size: 12px;
    line-height: 12px;
  }
  .productcard__addtocart {
    width: 34px;
    height: 34px;
    padding: 0;
    img {
      width: 18px;
      height: 18px;
    }
  }
  .productcard__topprice {
    line-height: 1;
  }
  .productcard__infotext {
    font-size: 12px;
    line-height: 130%;
    padding-left: 3px;
  } */
  .productcard__infoicon {
    width: 16px;
  }

  .productslider__item {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blockslider__content {
    a {
      border-radius: 8px;
      overflow: hidden;
      @include imagecenter(39.65%, width);
    }
  }

  .blockslider-button-next,
  .blockslider-button-prev {
    display: none;
  }

  .blockslider-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -3px;
    position: relative;
    text-align: center;
  }

  .itemslistcard__title a {
    font-size: 14px;
    line-height: 100%;
  }

  .itemslistcard__text {
    font-size: 14px;
    line-height: 100%;
  }

  .fitchesline {
    padding: 25px 0;
  }

  .fitchesline__item {
    margin-bottom: 20px;
  }

  .fitchescard__image {
    margin-bottom: 10px;
  }

  .fitchescard__text {
    font-size: 14px;
    line-height: 100%;
  }

  .fitchescard__img {
    width: 36px;
    margin: auto;
  }

  .fitchesline__item:last-child {
    display: none;
  }

  .aboutblock__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .aboutblock__left {
    width: 100%;
  }

  .aboutblock__right {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .aboutblock__header {
    margin-bottom: 18px;
  }

  .aboutblock__text .bigtext {
    font-size: 18px;
    line-height: 100%;
  }

  .aboutblock__text p {
    margin: 15px 0;
  }

  .docblock__title {
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 6px;
  }

  .docblock__text {
    font-size: 12px;
    line-height: 100%;
  }

  .docblock {
    margin: 15px 0;
  }

  .aboutblock__left {
    margin-bottom: 11px;
  }

  .imgslider__img {
    width: 100%;
    height: 70px;
    padding: 0;
  }

  .imgslider__slide {
    padding: 10px;
  }

  .imgslider .slick-arrow {
    display: none !important;
  }

  .slider-wrapper .slick-list {
    overflow: hidden;
  }

  .imgslider .slick-dots {
    bottom: -10px;
  }

  .subscribe__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .subscribe__input {
    width: calc(100% - 112px);
  }

  .imgslider {
    margin-bottom: 30px;
  }

  .subscribe__button span {
    display: none;
  }

  .subscribe__button button {
    width: 122px;
    height: 36px;
    font-size: 14px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    img {
      margin: auto;
    }
  }

  .catalognav__showmore {
    margin-bottom: 21px;
  }

  .catalognav__pagination {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .paginationblock {
    padding: 0;
    margin-bottom: 15px;
  }

  .showmorelink span {
    font-size: 14px;
  }

  .showmorelink {
    padding: 13px 0;
  }

  .subscribe__form {
    width: 100%;
  }

  .subscribe__input input {
    height: 36px;
    line-height: 36px;
  }

  .subscribe__input {
    height: 36px;
    line-height: 36px;
  }

  .subscribe__button {
    margin-left: 8px;
  }

 

  .subscribe__title {
    font-size: 18px;
    line-height: 100%;
  }

  .subscribe__header {
    margin-right: 0;
    margin-bottom: 17px;
  }

  .subscribeblock {
    padding: 16px 0 14px 0;
  }

 

  .footer__main {
    padding: 24px 0 6px 0;
  }

  .footer__col_contacts {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .container {
    padding: 0 18px;
  }

  .footer__informblock {
    width: 100%;
  }

  a.callback.btn_border {
    width: 100%;
    height: 42px;
    padding: 0;
    line-height: 38px;
    max-width: 320px;
  }

  .footer__address {
    font-size: 14px;
    line-height: 100%;
  }

  .socials__item a {
    width: 42px;
    height: 42px;
  }

  .footer__socials {
    margin-bottom: 28px;
  }

  .footer__col {
    width: 100%;
  }

  .footer__title {
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 19px;
  }

  .footer__menu ul li {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      padding: 0;
      font-size: 14px;
      line-height: 100%;
    }
  }

  .footer__col {
    margin-bottom: 36px;
  }

  .footer__col.footer__col_contacts {
    margin-bottom: 0;
  }

  .footer__col_b1 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .footer__col_b2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .footer__col_b3 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .footer__col_b4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  .footer__payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__caption {
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 12px;
    line-height: 14px;
  }

  .footer__link {
    margin-bottom: 14px;

    a {
      font-size: 12px;
      line-height: 100%;
    }
  }

  .footer__bottom {
    .footer__col {
      margin-bottom: 0;
    }
  }
  .footer__link:last-child {
    margin-bottom: 0;
  }

  .footer__maincopy {
    margin-top: 0;
    white-space: nowrap;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 4px;
  }
  .footer__link a {
    white-space: nowrap;
  }
  .fdev__icon {
    width: 72px;
    display: block;
  }

  .footer__textcopy,
  small {
    font-size: 10px;
    line-height: 100%;
  }

  .fdev__title {
    font-size: 10px;
  }

  .category__item_large,
  .category__item {
    width: 33.333%;
  }

  .productcard_mslideimg img {
    max-height: 100%;
    width: 100%;
    display: block;
  }

  .productcard_mslideimg {
    width: 100%;
  }

  .productslider__slide {
    width: 140px;
    padding: 0 5px;
  }

  .buttonsrow__item a.btn_main,
  .buttonsrow__item a.btn_border,
  .buttonsrow__item button {
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    width: 100%;
    font-size: 14px;
  }

  .buttonsrow__item .btn_border {
    line-height: 38px;
  }

  .map-delivery {
    height: 160px;
    width: 100%;
  }

  .buttonsrow {
    margin: 0 -3px;
  }

  .buttonsrow__item {
    padding: 0 3px;
  }

  .btn_main {
    max-width: 100%;
  }

  .catalogpage__aside.active {
    display: block;
  }

  .catalogpage__main {
    padding: 0;
    width: 100%;
  }

  .searchinput input {
    height: inherit;
  }

  .breadcrumbs {
    margin-bottom: 6px;
  }

  header#header {
    margin-bottom: 14px;
  }

  .catalogheader {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .catalogheader__left {
    width: 100%;
  }

  .btn_icon {
    width: 36px;
    height: 36px;
    padding: 0;
  }

  .catalogheader__panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .catalogheader__right {
    width: 100%;
  }

  .dropdown-select--type1 {
    background: #F2F4F6;
    border-radius: 8px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 13px;
  }

  .filternav__item--value {
    display: none;
  }

  .filternav__item:last-child {
    margin-right: 0;
  }

  .filternav__title,
  .filternav__name {
    font-size: 12px;
    line-height: 14px;
  }

  .filternav__items {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .filternav__name {
    margin-right: 8px;
  }

  .seoblock__title {
    margin-bottom: 18px;
  }

  .seoblock__title h2 {
    font-size: 22px;
    line-height: 100%;
  }

  .seoblock {
    padding: 31px 0;
  }

  .seoblock__text p {
    font-size: 12px;
    line-height: 130%;
  }

/*   .catalogpage__aside aside>* {
    display: none;
  }
 */
  .catalogpage__aside aside .catalogaside__filter {
    display: block;
    position: absolute;
    z-index: 9999;
    left: 0;
    min-height: 100vh;
    top: 0;
    background: #fff;
    padding: 30px 5px 0 5px;
    -webkit-box-shadow: 8px 8px 40px rgba(48, 54, 64, 0.1);
    box-shadow: 8px 8px 40px rgba(48, 54, 64, 0.1);
  }

/*   .catalogpage__aside {
    display: none;
  } */

  .catalogpage__aside.active {
    display: block;
  }

  .sliderCont {
    width: calc(100% - 25px);
  }

  .catalogheader__title h1 {
    font-size: 22px;
    line-height: 26px;
  }

  .catalogheader {
    margin-bottom: 25px;
  }

  .catalognav {
    margin-top: 5px;
  }

  .catalogheader_large {
    margin-bottom: 28px;

    .dropdown-select.dropdown-select--type1 {
      width: 100%;
      max-width: 320px;
    }
  }

  .itemslists {
    margin-bottom: 32px;
  }

  .catalogheader__title h1 {
    margin-top: 19px;
  }

  .dropdownpanel {
    width: 100%;
  }

  .catalogbanner {
    margin-bottom: 17px;
  }

  /* .productcard__img {
    height: 100px;
  }
  .productcard_mslideimg img {
    display: block;
    margin: auto;
    max-height: 90px;
  }
  .productcard__wrapper {
    padding: 0;
  }
  .productcard__info {
    margin-top: 10px;
  } */
/*   a.pagination__arrRight {
    display: none;
  }

  a.pagination__arrLeft {
    display: none;
  } */
  .pagination ul {
    margin: 0 13px;
  }
  .pagination ul li a {
    font-size: 14px;
  }
  .pagination ul li a, .pagination ul li > span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    min-width: 40px;
  }
  .pagination ul li {
    margin: 0 2px;
  }
  .pagination > a {
    width: 19px;
    height: 19px;
  }

  .paginationblock {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

  .dropdown-select--border {
    padding: 5px 10px;
  }

  .dropdown-caption {
    font-size: 14px;
  }

  .dropdown-value {
    font-size: 14px;
  }

  .dropdown-menu-wrapper {
    right: unset;
    left: 0;
  }

  .dropdown-select__title {
    width: 100%;
  }

  .showcountblock {
    margin: auto;
  }

  .cataloglist__item {
    width: 33.3333%;
  }

  .productcard__stickers {
    left: 5px;
    top: 5px;
  }

  .productsticker {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    height: 16px;
  }

  .productsticker_green .productsticker__icon {
    height: 13px;
    line-height: 13px;
  }

  .detailslider-pagination {
    display: block;
  }

  .detailslider .detailswiperpreview {
    display: none;
  }

  .productpage__main.flex.content-between {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .productpage__right {
    padding: 0;
    width: 100%;
  }

  .detailslider__wrapper {
    width: 100%;
    display: block;
  }

  .detailslider .detailswiper {
    height: auto;
    width: 100%;
  }

  .productpage__left {
    width: 100%;
  }

  .sitetabs__header li span.sitetabs__title {
    white-space: nowrap;
  }

  .sitetabs__header {
    overflow-x: auto;
    width: 100%;
  }

  .breadcrumbs__items ul span {
    font-size: 10px;
    line-height: 12px;

    &:after {
      font-size: 10px;
      line-height: 12px;
      top: 0;
    }
  }

  .detailinfo__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .detailinfo__h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 7px;
  }
.productpage__images {
  position: relative;
}

  .detailinfo__count a {
    font-size: 12px;
    line-height: 14px;
  }
  .swiper-horizontal .swiper-slide.swiper-slide-next {
    opacity: 1;
  }
  .detailslider .detailswiper {
    border-radius: 0;
    margin: 0 -18px;
    width: calc(100% + 36px);
  }
  .detailswiper .zoom-box {
   /*  padding: 0 30px; */
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .detailslider-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    text-align: center;
  }

  .detailbuy__options {
    width: 100%;
  }

  .imgcheckbox {
    width: 50%;
  }

  .imgcheckbox__content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .detailinfo__reviews i.fa.fa-star {
    font-size: 13px;
  }

  .cardrating_large .score-wrap {
    width: 75px;
  }

  .productpage__left {
    position: relative;

    .productcard__stickers {
      left: 0px;
    }
  }

  .detailinfo__header {
    margin-bottom: 11px;
  }

  .detailslider {
    margin-bottom: 26px;
  }

  .productcard__cart {
   

    .tocart {
      width: 100%;
    }
  }

  .sitetabs__content {
    margin-bottom: 26px;
  }

  .detailbuy .productcard__buy {
    width: 100%;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
 
 
  }
  .productpage__title h2 {
    font-size: 22px;
    padding-bottom: 22px;
  }
  .productpage__main  {
    margin-bottom: 32px;
  }

  .quantity {
    margin-right: 0;
  }
  .productpage__block {
    margin-bottom: 30px;
  }
  .pruductfacts__row {
    flex-wrap: wrap;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .pruductfacts__title, .pruductfacts__value {
    width: 100%;
    line-height: 20px;
  }
  .productpage__description p {
    font-size: 14px;
  }
  .productpage__content {
    margin-bottom: 30px;
  }
  .norating .reviewsblock__wrapper {
    height: unset;
    padding: 30px 20px;
  }
  .reviewsblock__title {
    font-size: 18px;
    margin-bottom: 14px;
    background-image: url(../img/wave_small.svg);
  }
  .reviewsblock__text {
    font-size: 14px;
margin-bottom: 23px;
  }

  .description__cols {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
  }

  .description__col {
    padding: 0;
    width: 100%;
  }

  .detailbuy__buyblock .productcard__pricevalue {
    font-size: 26px;
    line-height: 30px;
  }

  .detailbuy__buyblock .productcard__priceunit {
    font-size: 18px;
  }

  .detailbuy__buyblock .productcard__badge {
    width: 36px;
    height: 17px;
  }

  .productcard__pricecaption {
    font-size: 12px;
    line-height: 14px;
  }

 .productcard__cart {
  width: calc(100% - 126px);
  margin-left: 7px;
 }

  .detailtable__body .detailtable__col,
  .detailtable__col {
    font-size: 14px;
    line-height: 140%;
  }

  .infomessage__wrapper {
    padding: 8px 18px;
  }

  .infomessage__text {
    font-size: 12px;
    line-height: 100%;
  }

  .infomessage__icon {
    margin-right: 14px;
  }

  .infoicons .badge__text {
    font-size: 12px;
    line-height: 130%;
  }

  .infoicons__item {
    margin-bottom: 5px;
  }

  .detailinfo__buyblock {
    margin-bottom: 13px;
  }

  .infomessage {
    margin: 13px 0;
  }

  .detailtable {
    margin-bottom: 21px;
  }

  .infoicons .badge img {
    width: 20px;
  }

  .sitetabs__header li {
    height: 36px;
  }

  .sitetabs__header li span.sitetabs__title {
    margin-right: -20px;
    font-size: 16px;
    line-height: 19px;
  }

  .sitetabs__header li {
    padding-left: 24px;
    padding-right: 24px;
  }

  .infoicons {
    margin: 23px 0;
  }

  .sitetabs__header {
    margin-bottom: 26px;
  }

  .description p {
    font-size: 14px;
    line-height: 140%;
  }

  .description h3 {
    margin-top: 0;
    font-size: 18px;
    line-height: 21px;
  }

  .mobiledetail {
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0px 4px 30px rgba(37, 52, 79, 0.15);
    box-shadow: 0px 4px 30px rgba(37, 52, 79, 0.15);
    width: 100%;
    left: 0;
    right: 0;
    background: #fff;
    padding: 6px 0;
    z-index: 99;
    display: none;

    .productcard__cart {
      position: initial;
    }

    .productcard__cart .tocart {
      width: 156px;
      height: 40px;
      font-size: 14px;
    }

    .productcard__pricevalue {
      font-size: 18px;
    }

    .productcard__priceunit {
      font-size: 14px;
      padding-left: 2px;
    }

    .productcard__topprice {
      margin: 0;
    }

    .productcard__badge {
      font-size: 10px;
      width: 27px;
      height: 13px;
    }
  }

  .mobiledetail.fixed {
    display: block;
  }

  .modal-dialog_product {
    .modal-content {
      padding: 14px 18px;
    }
  }

  .modalproduct__main {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .modalproduct {
    padding-top: 16px;
  }

  .minicard__main {
    padding-left: 20px;
    margin-left: 0;
    width: calc(100% - 72px);
  }

  .minicard__image {
    width: 72px;
  }

  .modalproduct__product {
    width: 100%;
  }

  .minicard__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .productslider__modalslider .productcard {
    max-width: initial;
  }

  .productslider__modalslider .productcard__img {
    width: 62px;
    margin-right: 23px;
    padding: 0;
    height: initial;
  }

  .modalproduct .productcard__title {
    margin-bottom: 9px;
  }

  .modalproduct__buttons {
    max-width: 100%;
    width: 100%;
    margin: 25px 0 0 0;
  }

  .modalproduct__main {
    margin-bottom: 24px;
  }

  .miniproductslider h2 {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0;
  }

  .modalproduct .blockheader {
    margin-bottom: 11px;
  }

  .modalproduct__buttons a {
    height: 46px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 42px;
  }

  .minicard__main {
    width: 100%;
    padding-left: 0;
    margin-top: 12px;
  }

  .minicard__left {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .minicard__count {
    .buyblock__quantity {
      width: 50%;
    }

    .minicard__amount {
      width: 50%;
      text-align: center;
    }

    input.quantity-field {
      height: 30px;
    }

    .imgcheckbox__content {
      height: 36px;
    }
  }

  .minicard__info {
    width: calc(100% - 72px);
    padding-left: 20px;
  }

  .minicard__right {
    -moz-text-align-last: left;
    text-align-last: left;
  }

  .minicard__title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: capitalize;
    color: #25344f;
  }

  .cartblock {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .cartblock__main {
    width: 100%;
  }

  .cartblock__aside {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .pageheader {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    h1 {
    width: 100%;
      font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 100%;
    }
  }

  .linkicon span {
    font-size: 12px;
    line-height: 100%;
  }

  .linkicon img,
  .linkicon svg {
    max-width: 16px;
    margin-right: 5px;
  }

  .minicard__back {
    img {
      display: block;
    }

    span {
      display: none;
    }
  }

  .minicard__back {
    padding: 9px;
  }

  .cartblock__item {
    padding-bottom: 21px;
  }

  .carttotal__paramtitle,
  .carttotal__paramvalue {
    font-size: 14px;
  }

  .carttotal__summary {
    font-size: 18px;
    line-height: 100%;
    padding: 15px 0;
  }

  .promocode {
    margin-bottom: 19px;
  }

  .cartblock__main {
    margin-right: 0;
  }

  .carttotal__summary {
    margin-top: 21px;
  }

  .infocard {
    padding: 17px 16px;
  }

  .carttotal__title {
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 100%;
  }

  .carttotal__button {
    .btn_main {
      font-size: 14px;
    }
  }

  .listicon ul li:last-child {
    margin-bottom: 0;
  }

  .listicon ul li {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 100%;
  }

  .icontitle {
    margin-bottom: 10px;
  }

  .pageheader {
    margin-bottom: 15px;
  }

  .infobadge__title {
    font-size: 12px;
    line-height: 100%;
  }

  .infobadge__img {
    height: 30px;
    max-width: 30px;
    min-width: 30px;
  }

  .infobadge {
    padding: 11px;
  }

  .infobadge__text {
    font-size: 12px;
    line-height: 100%;
    margin-top: 11px;
  }

  .infobadge__accordeon {
    display: none;
  }

  .infobadge__main {
    padding-right: 22px;
    position: relative;

    &:after {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      content: url(../img/accordeon.svg);
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0;
    }

    &.active:after {
      -webkit-transform: rotate(180deg) translateY(8px);
      -ms-transform: rotate(180deg) translateY(8px);
      transform: rotate(180deg) translateY(8px);
    }
  }

  .haederbanner {
    display: none;
  }

  .itemslist__item_col3 {
    width: 50%;
    margin-bottom: 36px;
  }

  .recipedetail__right {
    width: 100%;
  }

  .recipedetail__left {
    width: 100%;
  }

  .recipedetail__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 26px;
  }

  .recipeparams__item {
    margin-right: 0;
  }

  .recipeparams__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .recipeparams__item {
    width: 100%;
  }

  .recipedetail__right {
    padding-left: 0;
  }

  .recipetable {

    table,
    tr,
    td,
    tbody {
      display: block;
      border: none;
      height: initial;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }

    .recipetable_tdname {
      width: initial;
    }

    tr {
      border-bottom: 2px solid rgba(37, 52, 79, 0.1);
      padding-bottom: 12px;
      margin-bottom: 17px;
    }

    .recipetable__name {
      padding: 0;
    }

    .recipetable__buyblock {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: left;
    }
  }

  .breadcrumbs {
    margin-bottom: 19px;
  }

  .recipedetail__images {
    margin-bottom: 24px;
  }

  .recipedetail__title h1 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  .recipetable .recipetable_tdname span {
    padding-right: 0;
  }

  .recipetable .recipetable_tdname span {
    font-size: 14px;
    line-height: 140%;
  }

  .recipetable td {
    padding: 0;
  }

  span.recipetable__count {
    padding: 0;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 140%;
  }

  .recipeparams__text {
    margin-left: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: calc(100% - 20px);
  }

  .recipeparams__content {
    width: 100%;
  }

  .recipeparams__item:last-child {
    margin-right: 0;
  }

  .recipeparams__item {
    margin-right: 0;
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .itemslistcard__caption,
  .recipeparams__value {
    font-size: 14px;
  }

  .recipedetail__description {
    h2 {
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
    }
  }

  .recipeparams {
    padding: 16px;
  }

  .recipeparams__img {
    min-width: 20px;
    width: 20px;
  }

  .itemslistcard_step .itemslistcard__caption {
    font-size: 12px;
    line-height: 140%;
  }

  .itemslist__title {
    font-size: 16px;
    line-height: 19px;
  }

/*   .pagecontent__image {
    width: 50%;
    margin-bottom: 9px;
  } */

  .pagecontent__images {
    margin-bottom: 18px;
  }

  .pageshortdescr {
    padding: 15px 19px;
  }

  .pageshortdescr__text {
    padding-left: 0;
    padding-top: 17px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    &:before {
      width: 26px;
      height: 3px;
    }
  }

  .pageshortdescr {
    margin: 17px 0;
  }
  .pagetext {
    margin-top: 0;
  }
  .contentpage__cols + .fitchesblock {
    margin-bottom: 20px;
  }

  .pagetext p {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 20px;
    margin-top: 0;
  }


  .itemslist__item_col3 .itemslistcard__image, .itemslistcard__image {
    margin-bottom: 13px;
  }

  .partners__items {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .partners__item {
    padding: 0 15px;
    max-width: 33.333%;
    margin-bottom: 15px;
  }

  .partners__image img {
    max-height: 60px;
  }

  .customblock {
    margin: 19px 0 32px 0;
  }

  .customblock__block:last-child {
    margin-bottom: 0;
  }

  .customblock__title h2 {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 11px;
    margin-bottom: 20px;
  }

  .customblock__left {
    width: 100%;
  }
  .customblock__right_contacts {
    max-width: initial;
    order: -1 !important;
    margin: 0 -18px;
    width: calc(100% + 36px);
    padding-left: 0;
    margin-bottom: 26px;

    iframe {
      height: 249px;
    }
  } 

  .customblock__list.listicon li {
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 18px;
  }

  .customblock__subtitle {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 14px;
  }

  .customblock_flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .customblock__block {
    margin-bottom: 21px;
  }

  .pagebadge__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .pagebadge__item {
    margin-bottom: 8px;
  }

  .pagebadge__item span {
    white-space: nowrap;
    font-size: 14px;
    line-height: 100%;
  }

  .pagecard {
    padding: 16px 14px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .pagecard__icon {
    width: 40px;
    margin-bottom: 5px;
  }

  .pagecard__content {}

  .pagecard__title {
    font-size: 16px;
    line-height: 19px;
  }

  .pagecard__text {
    font-size: 12px;
    line-height: 100%;
  }

  .customblock__image {
    width: 172px;
  }

  .partners__items {
    padding: 0;
  }

  .deliverymap {
    border-radius: 0;
    margin: 0 -18px;
  }

  
  .errorpage {}

  .errorpage__code {
    margin-bottom: 16px;
    padding: 0 50px;
  }

  .errorpage__main {}

  .errorpage__content {}

  .errorpage__title {
    font-size: 26px;
    line-height: 100%;
    margin-bottom: 14px;
  }

  .errorpage__text {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 22px;
  }

  .errorpage__main {
    width: 100%;
  }

  .errorpage {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .errorpage__content {
    width: 100%;
    margin: 0;
  }

  .inputtime {
    max-width: 100%;
  }

  .orderform__block {
    .infocard {
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
      border-bottom: 1px solid rgba(37, 52, 79, 0.1);
    }

    .sitetabs__header_small li {
      line-height: 36px;
    }

    .infocard__title {
      margin-bottom: 19px;
      font-size: 16px;
      line-height: 19px;
    }

    .formcheckbox {
      padding-left: 25px;
    }

    .orderinput {
      width: calc(100% - 70px);
    }

    .formcheckbox {
      margin-bottom: 12px;
    }

    .orderinput__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
    }

    .sitetabs__header {
      margin-bottom: 5px;
    }

    .formcheckbox .checkmark {
      width: 22px;
      transform: scale(0.7);
      top: 50%;
      transform: translateY(-50%);
    }

    .orderaddress__add .btn {
      width: 100%;
    }

    .orderadress__datetime {
      margin: 0 -4px;
    }

    input {
      font-size: 14px;
    }

    .orderadress__date {
      width: 50%;
      margin: 0;
      padding: 0 4px;

      input {
        padding-left: 13px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
      }
    }

    .orderadress__time {
      width: 50%;
      margin: 0;
      padding: 0 4px;

      .select-selected {
        height: 46px;
        white-space: nowrap;
      }

      .orderform__block input {
        height: 46px;
        padding: 0 16px;
      }
    }

    .check {
      margin-top: 20px;
    }

    .check label {
      font-size: 11px;
      line-height: 110%;
    }

    .orderform__block .blockheader .infocard__title {
      margin-bottom: 3px;
    }

    input.inputdate,
    input.inputdate.active {
      background-position: right 13px center;
      background-size: 15px;
    }

    .orderform__label {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 5px;
    }

    .orderform__inputrow {
      margin: 0 -3px;
    }
  }

  .orderpage {
    .minicard__image {
      width: 72px;
    }

    .minicard__buyblock {
      display: none;
    }

    .cartblock__item {
      padding-bottom: 17px;
      margin-bottom: 13px;
    }
  }

  input.inputdate {
    height: 46px;
  }

  .modal_small .modal-content {
    padding-left: 16px;
    padding-right: 16px;
  }

  .passwordforgot a {
    font-size: 12px;
    line-height: 18px;
  }

  .passwordforgot .check label {
    font-size: 12px;
    line-height: 18px;
    padding-left: 22px;
  }

  .textlogin {
    display: block;
    text-align: center;
  }

  .textlogin__link a,
  .textlogin__text {
    font-size: 12px;
    line-height: 18px;
  }

  .formblock__main {
    margin-bottom: 24px;
  }

  .passwordforgot {
    margin-bottom: 24px;
  }

  .textlogin {
    margin-top: 14px;
  }

  .pickuptabs__ul {
    li {
      font-size: 14px;
      line-height: 100%;

      span {
        padding-left: 4px;
      }
    }
  }

  .pickuptabs {
    margin-top: 15px;
  }

  .pickuptabs__header {
    margin-bottom: 20px;
  }

  .modal-submit {
    margin-top: 17px;
  }

  iframe {
    max-height: 100%;
  }

  .pickuptabs__content iframe {
    height: 160px;
  }

  .modal_small .modal-title {
    font-size: 22px;
    line-height: 100%;
  }
  .formblock__input {
    margin-bottom: 18px;
  }
  .formblock__check {
    margin-top: 23px;
  
  }
  .modal-subtitle {
    font-size: 12px;
    margin-bottom: 13px;
    padding-right: 12px;
  }

  .formblock .check label {
    font-size: 12px;
    line-height: 110%;
  }
 /*  .buttonsrow__item {
    margin-bottom: 23px;
  } */

  .formblock__main {
    margin-bottom: 20px;
  }

  .formblock__check {
    margin-bottom: 20px;
  }

  .modal_small .modal-content {
    padding-bottom: 20px;
    padding-top: 24px;
  }

  .modal-submit_small .buttonsrow__item_full .btn_main {
    height: 50px;
    line-height: 50px;
  }

  .modal__header {
    margin-bottom: 16px;
  }

  .textinput {
    margin-top: 12px;
    font-size: 12px;
    line-height: 100%;
  }

  .modalinfo__image {
    width: 50px;
    margin-bottom: 13px;
  }

  .modalinfo__title {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 13px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .modalinfo__text {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 100%;
  }

  .formblock__main_cols {
    margin: 0;

    .formblock__input {
      width: 100%;
      padding: 0;
      margin-bottom: 11px;
    }

    .formblock__input__full {
      margin-bottom: 20px;
    }
  }

  .modal_large .modal-content {
    padding: 24px 16px 28px 16px;
  }

  .informwrapper__list li {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 100%;
  }

  .buttonsrow.xs-full {
    .buttonsrow__item {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .buttonsrow__item .check label {
    font-weight: 400;
    font-size: 10px;
    line-height: 110%;
  }

  .formblock input[type="email"],
  .formblock input[type="password"],
  input[type="tel"],
  .formblock input[type="text"] {
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
    font-size: 14px;
  }

  .deliverytabs__input input[type="email"],
  .deliverytabs__input input[type="password"],
  .deliverytabs__input input[type="tel"],
  .deliverytabs__input input[type="text"] {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    font-size: 14px;
  }

  .accountname__label {
    font-size: 12px;
    line-height: 18px;
  }

  .accountname__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  .accountname__img {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
  }

  .accountname__content {
    margin-left: 12px;
  }
  .formrating .fa-star {
    font-size: 18px;
    margin-left: 3px;
  }
  .formrating__text {
    font-size: 12px;
    line-height: 18px;
 /*    margin-bottom: 6px;
    width: 100%; */
  }

/*   .formrating {
    flex-wrap: wrap;
  } */

  .accountname {
    margin-bottom: 16px;
  }

  .cols__col_w3,
  .cols__col_w9 {
    max-width: 100%;
    min-width: 100%;
  }

  .cols {
    flex-wrap: wrap;
  }

  .fitchesblock__items {
    flex-wrap: wrap;
  }

  .fitchesblock__item {
    width: 100%;
  }

  .productslider__slider {
    display: flex;
    flex-wrap: wrap;
  }

  .productslider__slide {
    width: 50%;
  }

  .itemslistcard {
    max-width: 100%;
  }

  .recipeslider .sliderarrows {
    display: none;
  }

  .productslider .sliderarrows {
    display: none;
  }

  .blockabout__wrapper {
    flex-wrap: wrap;
  }

  .blockabout__main {
    width: 100%;
  }

  .mobilepanel__right {
    display: flex;
    align-items: center;

    .iconlinks__badge {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .headermain__iconlinks {
    margin-right: 5px;
  }

  .container {
    .container {
      padding: 0;
    }
  }

  .header__topline {
    background: #fff;
  }

  .headermain {
    padding: 0 0 15px 0;
  }

  .mobilepanel {
    padding: 15px 0;
  }

  .cols__col_w9 {
    padding-left: 0;
  }

  .indexblock {
    margin-top: -14px;
  }

  .arrowmenu {
    display: none;
  }

  .mainslider {
    margin: 0 -18px;
    width: calc(100% + 36px);
  }

  .mainslider__container,
  .mainslide {
    border-radius: 0;
  }

  .mainblock__menu {
    margin-bottom: 10px;
  }

  .mainslider__dotsblock {
    bottom: 1px;
  }


  .mainslider .slider__arrow {
    display: none;
  }

  .mainslider__dots::before {
    left: -21px;
  }

  .mainslider__dots::after {
    right: -21px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    vertical-align: middle;
  }

  .mainslider__dots::before,
  .mainslider__dots::after,
  .slider__dots {
    height: 16px;
    width: 22px;
  }

  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }

  .fitchesblock {
    padding: 0 0 20px 0;
  }

  .fitchesblock__item {
    padding: 0;
    margin-bottom: 8px;
  }

  .fitchcard {
    padding: 7px 10px;
    height: unset;
  }

  .fitchcard__img {
    max-width: 32px;
    min-width: 32px;
  }

  .fitchescard__title {
    line-height: 110%;
  }

  .headermenu {
    margin: 0 -18px 0 0;
    width: calc(100% + 18px);
  }

  .menubutton {
    width: 30px;
    text-align: right;
    display: block;
  }

  .headermenu__link {
    font-size: 14px;
  }

  .mainslider__slide.swiper-slide-prev {
    opacity: 0;
  }

  .indexblock .cols {
    display: block;
  }

  .jsbackdrop {
    top: 0px;
    z-index: 99;
  }

  #header {
    position: relative;
    z-index: 999;
    background: #fff;
  }

  .mobilemenu__links {
    @include clear;
  }

  .mobilemenu__links {
    margin-left: 18px;

    a {
      color: #283647;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      display: block;
      height: 22px;
      background-size: 22px;
      padding-left: 35px;
    }
  }

  .pageblocksl {
    margin: 10px 0;
  }

  .fitchesblock__item:last-child {
    margin-bottom: 0;
  }
  .asidemenu ul.mainmenuLevelOne, .asidemenu .mainmenu__level_1 {
    width: 100%;
  }

  .productslider .productcard__wrapper {
    box-shadow: 10px 10px 46px 0px rgba(40, 54, 71, 0.10);
  }

  .productcard__images {
    margin: -8px -8px 10px -8px;
  }

  .productcard__wrapper {
    padding: 11px 10px 8px 10px;
  }

  .favmobile {
    display: block;
    margin: 0 -11px;
    width: calc(100% + 22px);
    border-top: 1px solid rgba(43, 54, 70, 0.05);
    padding: 0 0 0;
    padding: 8px 11px 0 11px;
    display: block;

    svg path {
      fill: none;
      stroke: black;
      stroke-opacity: 1;
    }

    .catalog-fav svg {
      width: 16px;
      height: 16px;
    }

    .active {
      svg path {
        stroke: $main;
        fill: $main;
      }
    }
  }

  .favtext {
    color: rgba(43, 54, 70, 0.9);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    margin-left: 8px;
    line-height: normal;
  }

  .favmobile__wrapper {
    display: flex;
    align-items: center;
  }

  .productslider__slider {
    width: calc(100% + 36px);
    padding: 18px 14px;
    margin: 0 -18px;
  }
  .fitchesblock__items{
    margin: 0;
  }
  .productslider__slide {
    padding: 4px;
    margin-bottom: 0;
  }

  .productslider__item {
    margin: 0 0 0 0;
  }

  .productslider__slide {
    display: none;
  }

  .productslider__slide:nth-child(1),
  .productslider__slide:nth-child(2),
  .productslider__slide:nth-child(3),
  .productslider__slide:nth-child(4) {
    display: block;
  }

  .cproductcard__blockrating__star {
    font-size: 14px;
  }

  .productcard__blockrating__value span {
    font-size: 12px;
  }

  .productcard__blockprice {
    font-size: 12px;
    margin-right: 0;
  }

  .productcard__blockinfo {
    margin-bottom: 8px;
  }

  .productcard__title a {
    font-size: 12px;
  }

  .productcard__title {
    margin-bottom: 14px;
    height: 48px;
    overflow: hidden;
  }

  .productcard__oldprice {
    font-size: 12px;
  }

  .productcard__price {
    font-size: 18px;
  }

  .productcard__addtocart {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-size: 18px;
  }

  .productcard__info {
    margin-top: 3px;
    margin-bottom: 10px;
  }

  .productcard__infotext {
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .btn_link {
    padding: 14px 14px 14px 14px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    line-height: normal;

    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-right: 16px;
      display: block;
      height: 14px;

      &:before {
        height: 14px;
        background-size: 10px;
        background-position: right center;
        transform: translateY(2px);
        background-repeat: no-repeat;
      }

      &:after {
        display: none;
      }
    }
  }
  .recipeslider {
    .itemslistslider__slide {
      display: none;
    }
    .itemslistslider__slide:nth-child(1),
    .itemslistslider__slide:nth-child(2),
    .itemslistslider__slide:nth-child(3) {
      display: block;
    }
  }
  .blockheader_mb {
    margin-bottom: 29px;
  }
  .itemslistcard__icon {
    height: 18px;
  }
 
  .itemslistslider__slide {
    margin-bottom: 25px;
  }
  .blockabout {
    margin: 40px 0;
  }
  .blockabout__content {
    padding: 18px 18px 26px 18px;
  }
  .blockabout__image {
    order: -1;
  }
  .blockabout__image {
    @include imagecenter(66%, width);
  }
  .wave_vertical:after {
    width: 100%;
    height: 23px;
    left: 0;
    right: 0;
    bottom: -2px;
    top: unset;
    background-repeat: repeat-x;
    background-image: url(../img/wavemob.png);
    background-size: cover;
  }
  .wave_vertical:before {
    display: none;
  }
  .blockabout__title {
    font-size: 22px;
    margin-bottom: 12px;
    padding-bottom: 21px;
  }
  .blockabout__text {
    width: 100%;
  }
  .wave {
    background-image: url(../img/wave_small.svg);
  }
  .blockabout__text {
    font-size: 14px;
  }
  .blockabout__link {
    margin-top: 15px;
  }
  .link {
    font-size: 14px;
    padding-right: 18px;
  }

  .link:before {
    height: 14px;
    background-size: 10px;
    background-position: right center;
    transform: translateY(2px);
    background-repeat: no-repeat;
}

  .subscribeblock:before {
    width: 100%;
    height: 23px;
    left: 0;
    right: 0;
    top: -21px;
    background-repeat: repeat-x;
    background-image: url(../img/wavemob.png);
    background-size: cover;
  }
  .subscribe__header {
    justify-content: center;
    font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  width: 100%;
  margin-bottom: 14px;
  }
  .subscribeblock {
    margin-top: 50px;
    background: #F2F4F6;
  }
  .footer__logo{
    margin-bottom: 25px;
    max-width: 257px;
    width: 100%;
  }
  .footer__contacts .contacts__phone {
    margin-bottom: 3px;
  }
  .footer__address {
    margin-top: 33px;
  }
  .footer__subtitle {
    margin-bottom: 11px;
    font-size: 12px;

  }
  .footer__text {
    font-size: 14px;
  }
  .footer__col .footer__items {
    margin: 0 -26px;
    width: calc(100% + 52px);
  }
  .footer__col .footer__col {
    width: 50%;
    padding: 0 26px;
    margin: 0;
  }
  .footer__catalog ul li {
    width: unset;
  }
  .footer__title.wave {
    background-size: 38px;
  }
  .footer__text_lg {
    font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 100%
  }
  .footer__ask {
    margin-top: 20px;
  }
  .btn_border {
    padding: 8px 25px;
    display: inline-block;
    width: unset;
    font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .footer__block_payment {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 375px;
    align-items: center;
    margin-bottom: 0;
    .footer__title.wave {
      margin-bottom: 0;
    }
  }
  .footer__aside {
    width: 100%;
  }
  .footer__cols.flex.items-center {
    display: block;
  }
  #toTop {
    width: 34px;
    right: 10px;
  }
  .footer__link {
    margin-left: 0;
  }
  .footer__bottom {
    .footer__col  {
      max-width: 50%;
      width: unset;
    }
  }
  .page {
    margin: 20px 0 30px 0;
  }
  .category__wrapper {
    padding: 10px 0 26px 0;
  }
  .category__count {
    font-size: 12px;
font-style: normal;
font-weight: 700;
  }
  .productpage__columnright {
    max-width: 100%;
    min-width: 100%;
  }
  .productpage__columnleft {
    width: 100%;
    padding: 0;
  }
  .productpage__columns {
    flex-wrap: wrap;
  }
  .detailslider .detailswiper .zoom-box img {
    max-width: 100%;
  }

  .mainslider__dotsblock_detail {
    bottom: 0;
  }
  .detailinfo__sku {
    font-size: 12px;

  }
  .detailinfo__reviews {
    order: -1
  }
  .detailinfo__header {
    justify-content: space-between;
  }
  .detailinfo__header .productcard__blockrating__value span {
    font-size: 12px;
    opacity: 0.4;
  }
  .detailinfo__reviews {
    margin-right: 14px;
  }
  .detailinfo__wishlist .favtext {
    font-size: 12px;
    padding-left: 0;
    opacity: 0.9;
  }
  .detailinfo__wishlist {
    svg {
      width: 16px;  
      height: 16px;
    }
  }
  .detailinfo__title h1 {
    font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 100%;
margin-bottom: 0;
  }
  .detailinfo__text {
    margin: 18px 0 14px 0;
    font-size: 14px;
    color: rgba(43, 54, 70, 1);
  }
  .detailtable__row {
    padding: 10px 10px 22px 10px;
  }
  .detailtable__content {
    padding: 4px 11px;
  }
  .detailtable__value {
    font-size: 14px;
  }
  .detailtable__text {
    font-size: 10px;
  }
  .productcard__buy .productcard__oldprice {
    font-size: 14px;
  }
  .productcard__buy .productcard__infotext {
    font-size: 14px;
    margin-left: 10px;
  }
  .productcard__pricecaption {
    font-size: 16px;

  }
  .detailbuy__buyblock .productcard__price {
    margin-bottom: 7px;
  }
  .reviewsblock__items {
    max-height: 450px;
  }
  .reviewsblock__header{
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  .reviewsblock__item {
    padding-bottom: 16px;
    margin-bottom: 16px;
    padding-top: 0;
  }
  .reviewsblock__result {
    margin-bottom: 16px;
  }
  .reviewsblock__wrapper.withrating .reviewsblock__button .btn_border_black{
    width: 100%;
  }
  .reviewsblock__body {
    margin-top: 21px;
    padding-left: 22px;
  }
  .reviewcard__avatar {
    width: 40px;
    height: 40px;
    margin-right: 13px;
  }
  .reviewcard__name {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .reviewcard__result .reviesblock__stars_off .fa {
    font-size: 16px;
    margin-right: 3px;
  }
  .reviewcard__date {
    font-size: 12px;
  }
  .reviewcard__text {
    font-size: 13px;
  }
  .reviewsblock__value{
    width: 100%;
  }
  .reviewsblock__wrapper {
    padding: 22px 4px;
  }
  .reviewsblock__header {
    padding-left: 18px;
    padding-right: 18px;
  }
  .blockabout_wide .blockabout__text {
    width: 100%;
  }
  .orderinfo {
    flex-wrap: wrap;    width: 100%;
  }
  .orderinfo__number {
    width: 100%;
  }
  .orderinfo__link {
    margin-left: 0;
    margin-top: 29px;
    width: 100%;
  }

  .orderinfo__name {
    font-size: 14px;

  }
  .orderinfo__value {
    font-size: 18px;
  }
  .orderinfo__icon {
    margin-right: 10px;
    width: 42px;
    height: 42px;
    min-width: 42px;

    img {
      width: 25px;
    }
  }

  .orderinfo__link a {
    width: 100%;
    text-align: center;
  }
  .blockabout__info {
    margin-top: 19px;
  }

  .blockabout__title_confirm {
    padding-right: 30px;
  }
  .fitchesblock_large .fitchesblock__item {
    width: 100%
  }
  .pagebanner__image {
    height: 184px;
  }
  .pagebanner__wrapper .wavemask {
    height: 17px;
  }
  .blockhalf__cols {
    flex-wrap: wrap;
  }
  .blockhalf__col_left {
    padding: 0;
    width: 100%;
    margin-bottom: 17px;
  }
  .pagebanner__image {
    display: block;
  }
  h3 {
    font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 100%;
margin-bottom: 24px;
  }
 .fitchcard {
    min-height: unset !important;
  }
  .fitchesblock_large {
    .fitchcard__img {
      max-width: 40px;
      min-width: 40px;
      height: 40px;
    }
    .fitchcard {
      padding: 19px  19px 10px 23px;
    }
  

    .fitchescard__content {
      margin-left: 30px;
    }
    .fitchescard__title {
      padding-left: 0;
      margin-left: 0;
      font-size: 16px;

    }
    .fitchcard__text {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 5px;
    }
  }

  .blockhalf {
    padding: 30px 0;
  }
  .blockhalf .wave {
    padding-bottom: 23px;
    margin-bottom: 23px;
  }
  .pagecontent p {
    font-size: 14px;
  }
  .pagecontent_type22 + .pagecontent_type22 {
    margin-top: 20px;
  }
  .blockhalf__col {
    width: 100%;
  }
  .grayblock {
    padding: 19px;   min-height: unset;
  }
  h4 {
    margin-bottom: 25px;
    font-size: 18px;

  }

  .circle li {
    margin-bottom: 20px;
    padding-left: 28px;
    font-size: 14px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .pagedetail__aside {
    max-width: 100%;
    min-width: 100%;
  }
  .pageaside {
    padding: 32px 20px;
  }
  .pagedetail__main {
    width: 100%;
    padding-right: 0;
    margin-bottom: 19px;
  }
  .pagedetail__cols.flex {
    flex-wrap: wrap;
  }
  .newsdetail p {
    margin-bottom: 26px;
  }
  .newsdetail h2 {
    font-size: 18px;
  }

  .newsdetail img {
    max-width: calc(100% + 36px);
    margin-left: -18px;
    margin-right: -18px;
   margin-bottom: 32px;
  }
  .pageaside {
    background: #fff;
    padding: 0;
  }
  .pageaside__header {
    margin-bottom: 29px;
  }
  .asidenews__image {
    margin-bottom: 17px;
  }
  .asidenews__title {
    font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 110%;
  }
  .asidenews__info {
    font-size: 14px;
    opacity: 0.4;
  }
  .pagebanner__content {
    width: 302px;
    left: 9px;
    top: unset;
    transform: none;
    height: unset;

    bottom: 33px;
    padding: 10px 0 10px 15px;
  }
  .pagebanner__text {
    font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 90%;
  }
  .pagebanner__icon {
    max-width: 42px;
    min-width: 42px;
    margin-right: 17px;
  }
  .itemslist__items {
    margin-top: 28px;
    margin-bottom: 28px;
  }
  .itemslist__item_col3 .itemslistcard__title, .itemslistcard__title{
    font-size: 14px;
  }
  .itemslist__item:last-child {
    margin-bottom: 0;
  }
  .pagemap__map iframe {
    height: 191px;
  }
  .contactcards__icon {
    height: 38px;
    max-width: 38px;
    min-width: 38px;
    margin-right: 12px;
    padding: 6px;
  }
  .contactcards__value, .contactcards__value a {
    font-size: 16px;
  }
 
}

@include small-screen {
 

  .itemslistslider__slide {
    padding: 0;
  }

  .itemslists__item {
    width: 100%;
    margin-bottom: 28px;
  }

  .itemslist__item_col3 {
    width: 100%;
    margin-bottom: 28px;
  }

  .catalogheader__title h1 {
    margin-bottom: 15px;
  }

  .category__item_large,
  .category__item {
    width: 33.3333%;
  
  }
  .category__image {
    /* padding: 0 20px; */
    width: 100%;
    max-width: 110px;
    height: 110px;
    margin-bottom: 12px;
  }

  .cataloglist__item {
    width: 50%;
  }
  .category__title {
    margin-bottom: 4px;
    color: #1F3A51;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
  .category__item {
    margin-bottom: 6px;
  }

  .pagecontent__image {
    width: 100%;
    margin-bottom: 9px;
  }

  .errorpage__content {
    margin: 0;
  }

  .errorpage__links {
    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      justify-content: center;
    }

    li {
     
      white-space: nowrap;
      margin: 0 26px;
      padding: 0;
      margin-left: 0;

      a {
        font-size: 14px;
        line-height: 100%;
      }
    }
  }
}
@include extrasmall-screen {
  .category__item_large,
  .category__item {
    width: 50%;
  
  }
}
